@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuonizTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}



body {
	margin: 0px 0px 0px 0px;
	background:url('../images/bg.jpg') no-repeat top center;


}

.tagline{
	font-size:1.1em!important;
}

.bottom_txt{
	margin-top:100px;
	display:inline-block;
	font-size:1.6em;
	margin-bottom:20px;
}

.loginbtn{
	position:absolute;
	top:0px;

	right:20px!important;
}

.loginbtn a{
	background: #000;
	color: #fff;
	padding: 10px 30px;
	width: 51%!important;
	border-radius: 3px;
	top: 6px!important;
	position: relative;

}

.bottom_txt span{
	font-style:italic;
	font-weight:500;

}

.opacity90{
	opacity:0.9;
}

#opc{
	/*background:#fff; */
	background:url(../images/pix.png) repeat;
	/*opacity:0.7;*/
	position:fixed;
	left:0px;
	z-index:-1;
}

.input-field {
	position: relative;

}

.picker__date-display{
	background-color:#333!important;

}

.picker__weekday-display{
	background-color:#000!important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color:#333;
	color:#fff;
}

.picker__day--infocus{
	padding:0.7rem 0!important;
}

.picker__box{
	position: relative;
	left: 31px;
	top:25px;
}

.picker__close, .picker__today{
	color:#000;
}

.input-field label {
	color: #9e9e9e;
	position: absolute;
	top: 0.8rem;
	left: 0rem!important;
	font-size: 1rem;
	cursor: text;
	transition: .2s ease-out
}

.title_txt{
	font-size:1.2em;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 2.2rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 1rem;
	transition: .28s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.logo{
	padding:10px 0px 0px 0px;
}

.error{
	color:#F00;
	font-size:0.8em;
	float:right;
	position: absolute;
	top:10px;
	right:0px;
}

.error_select{
	color:#F00;
	font-size:0.8em;
	float:right;
	position: absolute;
	top:10px;
	right:20px;
}


input:disabled {

	background:grey!important;


}

.input-field{
	margin-top:0px!important;
}

#content-splash { display: block; position: relative; width: 100%; }
#content-register { display: none; width: 70%; position: absolute; top: 0; left: 880px; }
#content-register-step-2 { display: none; width: 70%; position: absolute; top: 0; left: 880px; }

#content-login { display: none; width: 70%; position: absolute; top: 0; left: 880px;}

#content-splash .row .col{
	float:none!important;
}

#content-splash .logo{
	width:50%!important;
	margin:0 auto;
}

#content-splash .logo{
	width:50%!important;
	margin:0 auto;
}


