/* Page-level */
* {
	margin:0;
	padding:0;        
        outline: none;
        
}
.txt_center {
    text-align: center;
    margin-left: 100px;
}
.hide_me {
    display:none;
}
#page_wrap {
 margin:0 auto;
 text-align:center;
 position:fixed;
 width: 100%;
 height: 100%;
 display: none;
 background:url(../images/trans_dot_65.png) right top repeat;
 z-index: 12000;
}
#loading_bar {
    margin-top: 180px;
}
#loading_bar img {
    width: 200px;
    height: 12px;
}

.container_pending{
    
padding-right: 0px!important;

}

.container_pending .span3{    
    
    font-family: Arial;
    font-size: 0.9em;
    
}

.container_pending .span3 div{    
    padding: 1px 0px 1px 20px;
    margin-bottom: 2px;
    font-size: 0.95em;
   
    
}

.container_pending .span3 div span:first-child{
    display: inline-block;   
    min-width: 150px;
    font-weight: bold;
     
    
}

.container_pending h5{
    padding: 0px 0px 0px 25px;
}

.nav_btns{    
    background:#ececed;    
    padding: 50px 0px 50px 0px; 
    text-align: center;    
    position: relative;
   
}



.nav_btns a{    
    background:#1a1a1a;     
    padding: 8px 50px 8px 50px; 
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

.nav_btns div:nth-child(2)a{
    background:#4f4f4f;     
    padding: 8px 125px 8px 125px; 
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
   
    
    
}

.container_pending .span3:nth-child(2) div{
    padding-left:0px!important;
}


@media (max-width: 979px) {
  .container_pending .span3{
    height: 220px!important;
  }
}

@media (max-width: 625px) {
  .container_pending .span3{
    height: 220px!important;
  }
  
  .txt_center {
    text-align: center;
    margin-left: 0px;
}
    
}

@media (max-width: 767px) {
    .activatewrap{        
        margin-left:-20px!important;
    }
    
    .txt_center {
    text-align: center;
    margin-left: 0px;
}
    
    .container_pending .span3{
    height: 220px!important;
  }
}


.maindiv{    
    position: relative;
}

.activatewrap{
   position: absolute;
   bottom:0px;
   width: 112.3%;
}

.container_pending h5 {
    padding-left: 20px!important;
}

.container_pending span{
    line-height: 15px!important;
}

.admin_logo{
    float:left;
}

.login_person{
    margin-top: 60px;
    margin-left: -70px;
    font-weight: bold;
    display: inline-block;
    float:left;
    font-style: italic;
}

.clk_img{
    display: inline;
    position:absolute;
    top:0px;
    left: 205px;
    display: none;
    font-size: 3em;
}

.rej_img a{
    display: inline;
    position:absolute;
    top:0px;
    right: 30px;
    border:1px solid #666;
    color: #fff;
    padding:5px 15px 5px 15px;
    background: #6a6a6a;
}

.rej_img a:hover{
   text-decoration:none;
}

.approve_img a{
    display: inline;
    position:absolute;
    top:35px;
    right: 28px;
    border:1px solid #666;
    color: #fff;
    padding:5px 10px 5px 10px;
    background: #6a6a6a;
}

.approve_img a:hover{
    text-decoration:none;
}

