.login_error{
 padding: 17px 5px 17px 5px;
 width: 230px;
 position: absolute;
 top: 186px;
 left: 325px;
 color: #333;
 font-size: 0.95em;
 
}

#triangle-left { 
    width: 0; 
    float:left;
    height: 0; 
    position: relative;
    border-top: 20px solid transparent; 
    border-right: 12px solid #eee; 
    border-bottom: 20px solid transparent; 
}

#error_content{
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
float:left;
padding: 10px 8px 10px 8px;
background: #eeeeee;
box-shadow: 1px 0 2px #333333;

}


.lgn_blk .action_cnt {
	padding:197px 0 28px;
        position:relative;
}

.error_list{
 color:#333;
 background:#ccc;
 font-family:arial;
 padding: 5px;
 font-size: 0.75em;
 margin: -7px auto 7px auto;
 width: 90%;
 
}

#page_content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 76%, rgba(255, 255, 255, 0.75) 81%, rgba(255, 255, 255, 0.59) 85%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 transparent;
    font-size: 0.9em;
    line-height: 20px;
    margin: 5px 10px 10px;
    padding: 30px 20px 20px;
}


.page_container h1 {
    color: #808505;
    font-size: 2em;
    font-weight: normal;
    padding: 0 0 20px;
}


#page_content h3 {
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: underline;
}

#page_content p {
    padding: 0 0 20px;
}


#page_content ul {
    margin: 0 0 20px 30px;
    padding: 0;
}