.login_error{
 padding: 17px 5px 17px 5px;
 width: 230px;
 position: absolute;
 top: 186px;
 left: 325px;
 color: #333;
 font-size: 0.95em;
 
}

#triangle-left { 
    width: 0; 
    float:left;
    height: 0; 
    position: relative;
    border-top: 20px solid transparent; 
    border-right: 12px solid #eee; 
    border-bottom: 20px solid transparent; 
}

#error_content{
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
float:left;
padding: 10px 8px 10px 8px;
background: #eeeeee;
box-shadow: 1px 0 2px #333333;

}


.lgn_blk .action_cnt {
	padding:197px 0 28px;
        position:relative;
}

.error_list{
 color:#333;
 background:#ccc;
 font-family:arial;
 padding: 5px;
 font-size: 0.75em;
 margin: -7px auto 7px auto;
 width: 90%;
 
}

.page_container {    
    font-family: Arial,Helvetica,sans-serif;
    overflow: auto;
    padding: 0;
    
}

#page_content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 76%, rgba(255, 255, 255, 0.75) 81%, rgba(255, 255, 255, 0.59) 85%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 transparent;
    font-size: 0.9em;
    line-height: 20px;
    margin: 10px 10px 10px;
    padding: 30px 20px 20px;
}


.page_container h1 {
    color: #808505;
    font-size: 2em;
    font-weight: normal;
    padding: 0 0 20px;
}


#page_content h3 {
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: underline;
}

#page_content p {
    padding: 0 0 20px;
}


#page_content ul {
    margin: 0 0 20px 30px;
    padding: 0;
}

#hd_image_about{
   background:url(../images/about_header.png) center top no-repeat; 
   height: 239px;
   border-bottom: 8px solid #000000;
   
    
}

#hd_image_contact{
   background:url(../images/contact_header.png) center top no-repeat; 
   height: 239px;
   border-bottom: 8px solid #000000;
   
    
}

.left_column nav ul li ul li a{
	background:none;
	font-size:90%;
	display:block;
	padding:0px 0 0px 20px;
	color:#000;
	filter:none;		
}

.left_column nav ul li ul li a{
	background:none;
	font-size:90%;
	display:block;	
	color:#000;
	filter:none;
        line-height: 25px;
}

.left_column nav ul li ul li a:hover{
	background:#94c93c;
	color:#000;
	width:184px;
        padding:0px 0 0px 20px;
        line-height: 25px;
}

.left_column nav ul li.opn_link ul li a{	
	background: none;
	line-height:25px;
	height:auto;
	
}

.left_column nav ul .opn_link ul{		
        display:block;        
}

.left_column nav ul li .filter{	
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#969696), color-stop(8%,#c9c8c8), color-stop(100%,#fefefe));
	background: -webkit-linear-gradient(top, #969696 1%,#c9c8c8 8%,#fefefe 100%);
	background: -o-linear-gradient(top, #969696 1%,#c9c8c8 8%,#fefefe 100%);
	background: -ms-linear-gradient(top, #969696 1%,#c9c8c8 8%,#fefefe 100%);
	background: linear-gradient(to bottom, #969696 1%,#c9c8c8 8%,#fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#fefefe',GradientType=0 );	
	width:209px;
	margin:0 auto;
	padding-top:10px;
	margin-left:5px;	
}		