/* Page-level */
* {
	margin:0;
	padding:0;
	border:0;
        font-family: MyCustomFont;
}

@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/GOTHIC.eot") /* EOT file for IE */
}
@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/GOTHIC.TTF") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: MyCustomFontb;
 src: url("../fonts/GOTHICB.eot") /* EOT file for IE */
}
@font-face {
 font-family: MyCustomFontb;
 src: url("../fonts/GOTHICB.TTF") /* TTF file for CSS3 browsers */
}




/*--Bootstrap--*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/*
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
*/
a,
a:visited {
	text-decoration:none;
	font-family:"Century Gothic";
}
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration:underline;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 11px;
  vertical-align: middle;
  font-family:"Century Gothic";
  border:1px solid #ccc;
  margin-bottom:6px;
  color:#333;
  background:#fff;
}
select {
	padding:2px;
}
select option {
	padding-right:2px;
	display:block;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*--/Bootstrap--*/

/*--Structure--*/
body {
	
}
.full_wrapper {
	background:none;
	padding-top:10px;
}
.holder {
	margin:0 auto;
	width:1004px;
	border:1px solid #cccccc;	
        position: relative;
        background:none;
}
.full_site .holder {
        background:url(../images/home_image.png) right top no-repeat;
}
.remove_bg .holder {
    background:url(../images/bg_gray_st.jpg) right top repeat;
}
.site_container {
	width:100%;
	position:relative;
}
.left_column .logo {
    padding: 40px 0 40px 0;
    text-align: center;
}
.footer {
	width:996px;
	margin:0 auto;
	height:60px;
	padding-right:10px;
	position:relative;
        z-index: 600;
        
}



/*--Elements in Row--*/
.footer nav {
	border:0 solid #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background:#000;
	width:220px;
        padding-bottom: 5px;
	-webkit-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
        box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
}
.footer nav ul {
	list-style:none;
	text-align:right;
	padding-right:20px;
}
.footer nav ul li {
	list-style:none;
	display:inline;
	
}
.footer nav ul a,
.footer nav ul a:visited {
	color:#fff;
	text-decoration:none;
	font-size:12px;
        
}

ul.with_bullet {
	list-style:none;
}
ul.with_bullet li {
	list-style:none;
	background:url(../images/white_bullet_small.png) 1px 12px no-repeat;
	padding-left:8px;
	padding-top:2px;
}
ul.with_bullet li:first-child {
	background:none;
	
}

ul.with_sep {
	     
        
        overflow: auto;
        margin: 0 auto;
        width: 100px;
        
        
}

ul.with_sep a {
	text-decoration: none;
        color:#333;
        font-size: 0.9em;        
}

ul.with_sep li {
	list-style:none;
	background:url(../images/sep_small.png) 0 8px no-repeat;
	padding-left:6px;
	padding-right:4px;
	padding-top:2px;
        float: left;
        
        
        
        
        
}
ul.with_sep li:first-child {
	background:none;
	padding-left:0;
}
ul.with_sep li:last-child {
	padding-right:0;
}


/*--Common--*/
ul.row li {
	display:inline-block;
}
.row .frm_ele {
	display:inline-block !important;
}
.clr_bth {
	clear:both;
}
.flt_lft {
	float:left;
}
.flt_rgt {
	float:right;
}
.disp_blk {
	display:block !important;
}
.disp_inline {
	display:inline;
}
.disp_inline_blk {
	display:inline-block;
}
.hide {
	display:none;
}
.txt_center {
	text-align:center;
}

/*--Full Site--*/
.full_site .site_container {
	background:none;
	padding-top:0;
	min-height:360px;
	float:left;
        padding-bottom:0px;
}
.full_site .bottom_line {
	background:none;
}
/*--Home Page--*/

#header{    
overflow:hidden;
    border-bottom: 3px solid #524E4E;
    color: #333333;    
    
    padding: 5px 0;
    right: 0;
    top: 0;    
    z-index: 2;




}



header.home {
	height:232px;
	width:100%;
	position:relative;
	background:url(../images/trans_strip.png) 0 0 repeat-x;
}
header .logo {
	width:263px;
	height:166px;
	position:relative;
	left:128px;
	top:34px;
}
.action_blk {
	position:absolute;
	top:70px;
	right:96px;
	width:417px;
	height:400px;
	text-align:center;
	font-family:"Century Gothic";
	color:#6d9222;
}
.action_blk .action_cnt {
	padding-top:226px;
	background:url(../images/cnt_circle_bg.png) 0 0 no-repeat;
	z-index:10;
	position:relative;
}
.action_blk .action_cnt .small_custom_heading {
	font-family:'VollkornItalic';
	font-size:56px;
	font-style:italic;
	text-shadow: 0px 0px 8px #555;
	color:#fff;
	position:absolute;
	top:52px;
	left:16px;
	text-align:center;
	width:400px;
}
.action_blk .action_cnt .bigger_custom_heading {
	font-family:'VollkornItalic';
	font-size:110px;
	font-style:italic;
	text-shadow: 0px 0px 8px #555;
	color:#fff;
	position:absolute;
	top:80px;
	left:18px;
        z-index:-1;
}
.action_blk .action_cnt h1 a,
.action_blk .action_cnt h1 a:visited,
.action_blk .action_cnt h1 {
	font-size:34px;
	font-weight:normal;
	margin-top:-34px;
        color:#6D9222;
}
.action_blk .action_cnt h2 {
	font-size:16px;
	font-weight:normal;
	color:#6d9222;
	font-style:italic;
	padding:0 70px;
	line-height:19px;
}
.action_blk .action_cnt .btm_links {
	font-size:11px;
	padding-top:14px;
	padding-bottom:24px;
}
.action_blk .action_cnt .btm_links a,
.action_blk .action_cnt .btm_links a:visited {
	font-weight:bold;
	color:#6d9222;
}
.action_blk .action_btns {
	position:relative;
	z-index:8;
	margin-top:-4px;
	text-align:center;
	padding-left:69px;
}
.action_blk .action_btns a.down_btn {
	background:url(../images/bg_main_but.png) center bottom no-repeat;
	width:139px;
	display:inline-block;
	font-size:16px;
	font-style:italic;
	text-decoration:none;
	color:#fff;
	padding:4px 0 20px;
	float:left;
}
.cnt_btm {
	font-size:13px;
	font-family:"Times New Roman", Times, serif;
	margin:40px 0 0 148px;
	padding-bottom:20px;
	width:350px;
	color:#4d4d4d;
}
.cnt_btm h3 {
	font-size:21px;
	font-style:italic;
}

/*--Login Box--*/
.lgn_blk .action_cnt {
	padding:197px 0 28px;
        position:relative;
}
.lgn_blk .action_cnt .small_custom_heading {
	top:120px;
	left:0;
}
.lgn_blk ul.row li a,
.lgn_blk ul.row li a:visited {
	font-size:12px;
	color:#000;
}

/*--Registration Page--*/
header.reg {
	height:232px;
	width:100%;
	position:relative;
	background:none;
}
header.reg .strip_lft {
	background:url(../images/trans_strip.png) 0 0 repeat-x;
	height:232px;
	width:528px;
	float:left;
}
header.reg .strip_rgt {
	background:url(../images/trans_strip.png) 0 0 repeat-x;
	height:232px;
	width:70px;
	float:right;
}
/*.reg_blk {
	background:url(../images/trans_dot_65.png) 0 0 repeat;
	width:380px;
	height:200px;
	position:absolute;
	right:70px;
	top:100px;
	padding-bottom:120px;
}*/
.reg_blk {
	width:330px;
	height:auto;
	position:relative;
	min-height:403px;
	margin-bottom:30px;
        margin: auto;
}

.reg_blk .reg_steps {
	width:380px;
	position:absolute;
	top:-45px;
	left:0;
}
.reg_blk .reg_steps ul {
	padding-left:78px;
	float:left;
	list-style:none;
	margin:0;
	list-style-type:none;
}
.reg_blk .reg_steps ul li {
	float:left;
	margin-left:-17px;
	padding-top:11px;
	z-index:100;
	position:relative;
}
.reg_blk .reg_steps ul li span,
.reg_blk .reg_steps ul li a,
.reg_blk .reg_steps ul li a:visited {
	float:left;
	display:block;
	width:62px;
	font-size:16px;
	padding:12px 4px 3px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	background:url(../images/reg_navi_nrm_bg.png) 0 -11px no-repeat;
        cursor:default;
}
.reg_blk .reg_steps ul li span:hover,
.reg_blk .reg_steps ul li a:hover,
.reg_blk .reg_steps ul li a:active,
.reg_blk .reg_steps ul li a:focus {
	background:url(../images/reg_navi_nrm_hover_bg.png) 0 -11px no-repeat;
}
.reg_blk .reg_steps ul li.active {
	float:left;
	margin-left:-17px;
	padding-top:0;
	z-index:200;
}
.reg_blk .reg_steps ul li.active span,
.reg_blk .reg_steps ul li.active a,
.reg_blk .reg_steps ul li.active a:visited {
	float:left;
	display:block;
	width:62px;
	padding:14px 4px 5px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:22px;
	background:url(../images/reg_navi_active_bg.png) 0 0 no-repeat;
}
.reg_blk .reg_steps ul li.active span:hover,
.reg_blk .reg_steps ul li.active a:hover,
.reg_blk .reg_steps ul li.active a:active,
.reg_blk .reg_steps ul li.active a:focus {
	background:url(../images/reg_navi_active_bg.png) 0 0 no-repeat;
}

.reg_blk h2 {
	font-family: 'century gothic';
	font-size:26px;
	color:#929707;
	text-align:center;
	margin-bottom:0;
	padding-top:10px;
        font-weight: normal;
}
.reg_blk label {
	padding-right:20px;
	padding-left:20px;
	font-size:0.9em;
	font-family:"Century Gothic";
	width:auto;
	color:#635f5f;
	vertical-align:top;
	padding-top:4px;
	display:inline-block;
}
.reg_blk .frm_ele {
	/*padding-bottom:9px;*/
        margin-top:10px;
        text-align: center;
}
.reg_blk .btm_buttons {
	position:absolute;
	bottom:-36px;
	left:60px;
	width:380px;
	height:60px;
}
.reg_blk .btm_buttons {
	position:absolute;
	bottom:-12px;
	left:60px;
	width:380px;
	height:60px;
}
.reg_next_step {
	background: #929707;
	font-size:1em;
	color:#fff!important;
	border:none;
        padding:5px 15px;
}

.reg_next_step2 {
	background: #929707;
	font-size:1em;
	color:#fff;
	border:none;
        padding:5px 15px;
        display:none
}
.reg_blk select {
	width:68px;
}
.reg_blk p {
    margin-bottom: 15px;
    font-size: 14px;
    color:#A2A2A2;
}
/*-- Step 1 --*/
.step_1 {
    text-align: center;
    
}
.step_1 h2 {
   padding-bottom: 6px;
   color:#535352;
}
.step_1 .btm_buttons {
    bottom:-36px;
}
/*-- Step 2 --*/
.step_2 {
   height:auto;
}
.step_2 h2 {
   padding-bottom: 10px;
}
.step_2 .btm_buttons {
    bottom:-36px;
}
.step_3 h2 {
   padding-bottom: 15px;
   color:#535352;
   font-size: 1.3em;
}
.fff_color {
    color:#fff;
    font-family: century gothic;
    font-size: 12px;
}
.short_inp input {
    width:52px !important;
}
/*--Step 3--*/
.slider_wrap {
	width:208px;
	background:#fff;
	margin-bottom:15px;
	padding:2px 6px 2px 6px;
	float:left;
	-webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
	margin-left:8px;
	position:relative;
}
.main_slider {
	width:120px;
	height:5px;	        
        border-bottom: 1px solid #d2d1d1;        
	position:relative;
	margin:0;
	padding:5px 10px 0;
	float:left;
}
.ui-slider-handle {
	width:5px;
	height:17px;
	position:absolute;
	top:2px;
	margin-left:-5px;
	z-index:200;
	background:#635f5f;
	
}
.slider_result {
	font-size:1.0em;	
	color:#635f5f;		
	text-align:left;
	padding:0 0;
	padding-left:4px;
	float:left;
	width:70px;
        margin-right: 12px;
      
}
#slider_result_photo {
    color:#8ec73e;
    text-shadow: 0 0 1px #444;
    margin-bottom: 1px;
}
.step_3_hgh .site_container {
	min-height:600px !important;
}
.step_3 {
	height:auto;	
        padding:0px 0px 10px 0px;
}
.step_3 h2 {
	margin-bottom:0px;
}
span.short_txt {
	font-size:11px;
}
.step_3 .frm_ele {
	float:left;
	padding-bottom:2px;
}
.step_3 label {
	padding:4px;	
	width:60px;
        float:left;
}
a.but_short,
a.but_short:visited {
	background:url(../images/btn_reg_why_love_us.png) 0 0 no-repeat;
	width:78px;
	height:17px;
	font-size:11px;
	color:#fff;
	padding:0 4px 8px;
	display:block;
	margin-top:20px;
	margin-left:-8px;
	text-align:center;
}
.step_3 a.but_short,
.step_3 a.but_short:visited {
	background:url(../images/btn_reg_why_love_us.png) 0 0 no-repeat;
	width:78px;
	height:17px;
	font-size:11px;
	color:#fff;
	padding:0 4px 8px;
	display:block;
	margin-top:20px;
	margin-left:-5px;
	text-align:center;
}

/*--Step 4--*/
/*.step_4_hgh .site_container {
	min-height:700px !important;
}*/

#slider_scale_photo {
    margin-top:2px;
}
.zoom_in label {
    width:100px;
    padding:0 0 2px 8px;
}

.zoom_in .slider_wrap {
    width: 302px;
}
.zoom_in .main_slider {
    width: 194px;
}


.step_4 .btm_buttons {
    bottom: -36px;
}
.uploading_in_progress {
    background: url("../images/uploading.gif") no-repeat scroll center center transparent;
    height: 72px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5000;
}

.int_fitting_room {
	
	width:364px;
	height:505px;
	margin:18px auto 0;
}
.input_file_hldr {
	float:left;
	background:url(../images/upload_file_inp.png) center 0 no-repeat;
	width:320px;
	position:relative;
	height:45px;
        padding-bottom: 10px;
}
.input_file_hldr input.input_file {
    cursor: pointer;
    height: 32px;
    opacity: 0;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 6px;
    width: 280px;
    z-index: 200;
}
.input_file_hldr input.input_text {
	border: medium none;
    box-shadow: none;
    color: #A6A5A3;
    font-size: 15px;
    height: 20px;
    left: 28px;
    padding: 0;
    position: absolute;
    top: 13px;
    width: 205px;
    z-index: 100;
}

/*--Step 4 - Upload Profile Picture--*/
.upload_profile_pic {
	text-align:center;
	width:380px;
}

.step_4 .step_4_tip {
    left:-246px;
    top: 170px;
    width:200px;
}
.step_4 .tip .grad {
    width:200px;
    background-position: right top;
    margin-left: 0;
}
.step_4 .tip .tooltip_content {
    width:174px;
    line-height: 22px;
}

.fff_links a,
.fff_links a:visited {
	color:#fff;
	font-weight:normal;
	padding:4px;
}
.fff_links {
	text-align:center;
	color:#fff;
	font-size:12px;
	clear:both;
	display:block;
	font-weight:bold;
}
.upload_profile_pic .frm_ele {
	float:none !important;
}
.upload_profile_pic label {
	width:106px !important;
	float:left;
	padding:4px;
}
.closet_name {
	padding-top:16px;
}
.closet_name input {
	float:left;
}
.pic_thumb {
	padding-top:10px;
}
.pic_thumb img {
	border:1px solid #444;
	-webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.7);
}


/*--Form--*/
input[type=password],
input[type=text],
input[type=email]{
	width:234px;
	padding:4px 7px;
  -webkit-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
}
.lgn_blk input[type=submit] {
	background:url(../images/bg_top_rnd_btn.png) 0 0 no-repeat;
	padding:12px 0 15px;
	height:49px;
	width:141px;
	border:none;
	font-style:italic;
	font-size:16px;
	color:#fff;
}
.radio_buts label {
	padding-top:0;
}
.radio_buts div.radio_ele {
   display:inline-block;
   padding-top:2px;
   padding-left: 4px;
   float:left;
}
.radio_buts div.radio_ele label {
	width:auto !important;
	padding: 0 12px 0 0;
        float:left;
}
.radio_buts div.radio_ele input {
	margin-right:4px;
        border:none;
        background: none;
        float: left;
       margin-top:3px; 
       
}
.play_area {
	width:364px;
	height:505px;
	overflow: hidden;
	position:relative;
        float:right;
        margin: 50px 140px 0px 0px;       
        background:#fff;        
        border:1px dotted #ccc;
        
        
}
.play_area .shade_frame {
    width:364px;
	height:505px;
	position:absolute;
        left:0;
        top:0
        -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
}
#uploaded_photo {
	position:absolute;
	top:0;
	left:0;
	z-index:2000;
	display:block;
}
.img_hldr {
	text-align:center;
	padding:4px;
}
#dummy_mark {
	width:364px;
	height:505px;
	position:absolute;
	top:0;
	left:0;
	/*background:url(../images/dummy_mark.png) center 0 no-repeat;
	background:url(../images/fitting_room_see_thr_2.png) center 0 no-repeat;*/
}
#top_layer {
	position:absolute;
	left:0;
	top:0;
	z-index:3000;
	width:364px;
	height:505px;
	
}
.low_opacity {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.full_opacity {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.put_me_top {
	z-index:4000;
	display:block;
}
.play_area_hldr {
	
	
	height:505px;
	margin-left:8px;
}

#cnv_img_crop {
	z-index:6000;
	display:none;
	position:absolute;
	left:-400px;
	top:130px;
}
.z oom_in {
	display:none;
}

/*--Tips--*/

.show_my_tip,
/*.tip {
	display:none;
	background:#ffcc00;
	color:#000;
	position:absolute;
	top:-20px;
	left:-300px;
	border:1px solid #eee;
}
*/


.tip{
	/*background: rgb(73,81,57);
	background: -moz-linear-gradient(top, rgba(73,81,57,1) 0%, rgba(48,53,38,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,81,57,1)), color-stop(100%,rgba(48,53,38,1)));
	background: -webkit-linear-gradient(top, rgba(73,81,57,1) 0%,rgba(48,53,38,1) 100%);
	background: -o-linear-gradient(top, rgba(73,81,57,1) 0%,rgba(48,53,38,1) 100%);
	background: -ms-linear-gradient(top, rgba(73,81,57,1) 0%,rgba(48,53,38,1) 100%);
	background: linear-gradient(to bottom, rgba(73,81,57,1) 0%,rgba(48,53,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#495139', endColorstr='#303526',GradientType=0 );*/
	opacity:0.90;
	display:none;
	background:#222;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	position:absolute;
	top:-20px;
	left:-300px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	line-height:25px;	
	font-size:0.9em;
	border-left:5px solid #a3b31d;
	text-shadow:1px 2px 1px #000;
	text-align:center;	
	
}

.tip .tooltip_content{
	position:relative;	
	padding:15px;
	width:325px;
}

.tip .grad{
	background:url(../images/gra.png) no-repeat top right;
	width:304px;
	height:3px;
	margin-left:52px;	
}

.tt_arrow .arrow_top{
	background:url(../images/arrow.png) no-repeat;
	width:30px;
	height:29px;
	position:absolute;
	top:18px;
	right:360px;	
}

.tt_arrow .arrow_middle{
	background:url(../images/arrow.png) no-repeat;
	width:55px;
	height:37px;
	position:absolute;
	top:90px;
	right:-56px;	
}

.tt_arrow .arrow_bottom{
	background:url(../images/arrow.png) no-repeat;
	width:55px;
	height:37px;
	position:absolute;
	top:170px;
	right:-56px;	
}

.tip a{
	text-decoration:none;
	background:#8dcc2e;	
	background: -moz-linear-gradient(top, rgba(202,227,125,1) 0%, rgba(202,227,125,1) 40%, rgba(135,202,46,1) 62%, rgba(135,202,46,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,227,125,1)), color-stop(40%,rgba(202,227,125,1)), color-stop(62%,rgba(135,202,46,1)), color-stop(100%,rgba(135,202,46,1)));
	background: -webkit-linear-gradient(top, rgba(202,227,125,1) 0%,rgba(202,227,125,1) 40%,rgba(135,202,46,1) 62%,rgba(135,202,46,1) 100%);
	background: -o-linear-gradient(top, rgba(202,227,125,1) 0%,rgba(202,227,125,1) 40%,rgba(135,202,46,1) 62%,rgba(135,202,46,1) 100%);
	background: -ms-linear-gradient(top, rgba(202,227,125,1) 0%,rgba(202,227,125,1) 40%,rgba(135,202,46,1) 62%,rgba(135,202,46,1) 100%);
	background: linear-gradient(to bottom, rgba(202,227,125,1) 0%,rgba(202,227,125,1) 40%,rgba(135,202,46,1) 62%,rgba(135,202,46,1) 100%);	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	border-radius:5px;
	padding:1px 8px 1px 8px;
	color:#2b4705;
	font-size:1.0em;
	-moz-box-shadow:0px 2px 3px 3px #202319;
	-webkit-box-shadow:0px 2px 3px 3px #202319;
	box-shadow:0px 2px 3px 3px #202319;	
	clear:left;	
	text-align:center;	
	margin:15px auto auto auto;
	text-shadow:none;
	display:inline-block;	
	font-weight:bold;
}


/*--After Login--*/


.left_column{	
	width:210px;
	position:relative;	
        z-index: 100;
        float:left;
        background: #fff;
}
.full_site .left_column {	
	width:357px;
	position:relative;	
        z-index: 100;
        float:left;
               
        background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 27%, #ffffff 52%, #ffffff 72%, #dfdfdf 100%)!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(27%,#ffffff), color-stop(52%,#ffffff), color-stop(72%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 27%,#ffffff 52%,#ffffff 72%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 27%,#ffffff 52%,#ffffff 72%,#dfdfdf 100%);
	background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 27%,#ffffff 52%,#ffffff 72%,#dfdfdf 100%);
	background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 27%,#ffffff 52%,#ffffff 72%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dfdfdf',GradientType=0 );
        
      
        -webkit-box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.7);
        box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.7);
}

.left_column nav {
   left:-5px;
   position: relative;
}
.left_column nav ul{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;	
	position:relative;
}

.left_column nav ul li{
	list-style:none;
	margin-bottom:10px;
	margin-left:5px;
	
}

.left_column nav ul li a{
	color:#535352;		
	width:180px;
	position:relative;
	text-decoration:none;
	display:inline-block;
	padding:0px 0px 7px 20px;	
        border-bottom: 1px dashed #e6e6e6;
	
}

.opn_link a span:after{
	height:42px;
}


.left_column nav ul li a:hover, .mnu{
	color:#535352;		
	width:180px;	
	position:relative;
	text-decoration:none;
	display:inline-block;
	padding:0px 0px 7px 20px;
	


}

.left_column nav ul li.opn_link a{
	color:#c4c934;	
	width:175px;
	position:relative;
	text-decoration:none;
	display:inline-block;
	padding:0px 0px 0px 20px;		
	height:28px;
	filter:none;
        background-image:url(../images/open_menu_shade.png) no-repeat scroll left top !important;
        border-bottom: none;
        
        
	
}

.left_column nav ul li.opn_link ul li a{	
	background: none;
	line-height:25px;
	height:auto;
        color:#5d5d5c;
        border:none;       
	
}



.left_column nav ul .opn_link span:first-child{
	background-image:url(../images/menu_left_white.png)!important;
	margin-top:0px;	
	float:left;
	height:47px;
}


.left_column nav ul .opn_link .mnu{
    width: 0px;
}


.left_column nav ul li:hover .mnu{
   background: url("../images/menu_icon.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    
}

.left_column nav ul li span.mnu{
	background: url("../images/menu_icon.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    filter:none;
   
}

.left_column nav ul li .filter{		
	
	margin:0 auto;
	padding-top:10px;
	margin-left:5px;	
}		


.left_column nav ul li ul li{
	background:url(../images/bullet.png) no-repeat;
	background-position:9px 10px;
	display:inline-block;	
	position:relative;
        margin-bottom: 3px;
}

.left_column nav ul li ul li a{
	background:none;
	font-size:90%;
	display:block;
	padding:0px 0 0px 20px;
	color:#000;
	filter:none;
        line-height: 25px;
}

.left_column nav ul li ul li a:hover{
	background:#c4c934;
	color:#000;
	width:175px;
        padding:0px 0 0px 20px;
        line-height: 25px;
}

.left_column nav ul li ul li span:first-child{
	background:none;		
}

.left_column nav ul li ul li:hover,
.left_column nav ul li ul li.active{
    background:#c4c934;	
	width:175px;	
}

.left_column nav ul li ul li.active{   
	width:175px!important;	
}



/*-- Products --*/
.products {
    position: relative;
    float:left;
    z-index: 50;
    width:256px;
    margin:6px 0 -10px 15px;
}
.prod_slider_hldr {
    width:280px;
}

.prod_sliding_area{
	overflow:hidden;
        z-index: 50;
        width:650px;
         background:url(../images/slider_bg.png) no-repeat 0 0;
        
       
}
.prod_sliding_area .play_area_hldr {
   float: right;
}
.prod_sliding_area .int_fitting_room {
    float:right;
   
}
#slider_dis_canv {
    height:500px;
    overflow: hidden;
    margin-top: 10px;
    
}
.loading_now {

    z-index: 500;
    display:none;
    height: 532px;
    left: 0;
    position: absolute;
    top: 0;
    width: 280px;   
}
.loading_now .loading_inner {
background: url("../images/trans_dot_10.png") repeat scroll 0 0 transparent;
display: block;
height: 278px;
left: 0;
padding-top: 240px;
position: absolute;
text-align: center;
top: 13px;
vertical-align: middle;
width: 280px;

}
ul.prod_wrapper{
	padding:0;
	margin:0px 0px 0px 0px;	       
       
}

.featured_content {
  overflow:hidden;
 
  top:0px;
  width:250px !important;
}

.fbox{    
    overflow: hidden;
    width:260px;
    padding: 10px 10px 0;
    margin-left: -10px;
    margin-top: -10px;
}

.prod_wrapper li{
	list-style:none;
        width:260px;
	padding:10px;
        min-height: 146px;
        border-bottom:1px dashed #c4c5c4;
}

.prod_wrapper li:hover{
background:#f3f3f3;	
}


.prod_wrapper h3{
	color: #a3a50f;
	font-size: 1.0em;
	margin-bottom: 10px;
        overflow: hidden;
        font-weight:normal;
        text-align: left;
        text-align:center;
}

.prod_wrapper p{
	color: #4D4D4D;
    font-size: 0.8em;
}

.pro_price {
    color: #3EA9F5;
    font-size: 1.2em;
    padding-top: 10px;
}

.featured_img {
      
   /* padding-right: 30px;*/
    width:110px;
    margin:0 auto;
    text-align: center;
    float:left;
}
.default_item .featured_img {
   /* padding-right: 30px;*/
    width:110px;
    margin:0 auto;
    text-align: center;
    float:none;
   
}
.slider_but_top,
.slider_but_btm {
   width:250px;
   height:11px;
   position:relative;
   z-index: 56;
   cursor: pointer;
}
.slider_but_btm {
   /*background:url(../images/bottom_nav.png) 0 0 no-repeat;*/
  
   background:url(../images/bottom_nav_hover.png) 0 0 no-repeat;
   width:199px;
   margin:-2px auto;
}
.slider_but_top {
    /*background:url(../images/top_nav.png) 0 0 no-repeat;*/
    background:url(../images/top_nav_hover.png) 0 0 no-repeat;
    margin-bottom:2px!important;
    width:199px;
    margin:0 auto;
    
}

.disable_me_top {
    background:url(../images/top_nav.png) 0 0 no-repeat !important;
    cursor: default;
    width: 199px;
    margin: 0 auto;
}
.disable_me_btm {
   background:url(../images/bottom_nav.png) 0 0 no-repeat !important;
  width:199px;
  margin:-2px auto;
   cursor: default;
}


.slider_but_top:hover,
.slider_but_top:focus,
.slider_but_top:active {
   background:url(../images/top_nav_hover.png) 0 0 no-repeat;
}
.slider_but_btm:hover,
.slider_but_btm:focus,
.slider_but_btm:active {
   background:url(../images/bottom_nav_hover.png) 0 0 no-repeat;
}

/*-- Fitting room + Drag/Drop --*/
.prod_sliding_area .int_fitting_room {
    position: relative;
    padding-top: 0;
}

#top_dropable {
   position: absolute;
   left:0;
   top:125px;
   text-align: center;
   z-index: 2;
   width:364px;
}

#bottom_dropable {
   position: absolute;
   left:0;
   top:227px;
   text-align: center;
   width:364px;
   z-index: 1;
}

#full_dropable {
   position: absolute;
   left:0;
   top:125px;
   text-align: center;
   z-index: 3;
   width:364px;
}

#top_dropable img.curr_prod,
#bottom_dropable img.curr_prod,
#full_dropable img.curr_prod {
    top:0;
    left:0;
}
.top_active {
    border:1px dashed #87ca2e;
    display: block;
}

.show_loading {
    background: url("../images/uploading.gif") center center no-repeat;
}

#user_dummy_img_hldr {
    float:left;
    width:364px;
    height: 510px;
    position: relative;
    overflow: hidden;
}
#user_dummy_img_hldr img.user_dummy_img{
   
    position: relative;
    left:0;
    top:0;
}


a.edit_photo {
    position:absolute;
    z-index: 1000;
    top:0;
    left:75px;
    color:#fff;
    font-weight: bold;
    font-size: 12px;
    border:0 solid #ddd;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	-webkit-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
        box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.7);
        
        background: rgb(181,189,200);
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );

padding:4px 10px;
    display:none;
}

.welcome_box{	    
    width: 562px;
    float:right;        
}

.welcome_box span{        
      
      display: inline;
      padding:0px 2px 0px 0px;
      margin-right: 5px;
       
}


.login_error{
margin:0 auto;
 width: 245px;
 

 color: #333;
 font-size: 0.95em; 
}

#triangle-left { 
    width: 0; 
    float:left;
    height: 0; 
    position: relative;
    border-top: 20px solid transparent; 
    border-right: 12px solid #eee; 
    border-bottom: 20px solid transparent; 
}

#error_content{    
    font-size: 0.8em;
    text-align: left;      
   color:#D14;    
}

#error_content ul li{ 
    list-style: none;   
}

.error_list{
 color:#333;
 background:#ccc;
 font-family:arial;
 padding: 5px;
 font-size: 0.75em;
 margin: -7px auto 7px auto;
 width: 90%; 
}

.page_container {    
    font-family: Arial,Helvetica,sans-serif;
    overflow: auto;
    padding: 0;    
}

#page_content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 76%, rgba(255, 255, 255, 0.75) 81%, rgba(255, 255, 255, 0.59) 85%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0 transparent;
    font-size: 0.9em;
    line-height: 20px;
    margin: 10px 10px 10px;
    padding: 30px 20px 20px;
}

.page_container h1 {
    color: #808505;
    font-size: 2em;
    font-weight: normal;
    padding: 0 0 20px;
}


#page_content h3 {
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: underline;
}

#page_content p {
    padding: 0 0 20px;
}

#page_content ul {
    margin: 0 0 20px 30px;
    padding: 0;
}

#hd_image_about{
   background:url(../images/about_header.png) center top no-repeat; 
   height: 239px;
   border-bottom: 8px solid #000000;
   
    
}

#hd_image_contact{
   background:url(../images/contact_header.png) center top no-repeat; 
   height: 239px;
   border-bottom: 8px solid #000000;  
    
}

.left_column nav ul .opn_link ul{		
        display:block;   
        background: url("../images/open_menu_corner.png") no-repeat scroll right top transparent;
}

/*---------------------*/

.upload_again_hldr {
    text-align: right;
       padding-top: 10px;
    display: none;
}
.upload_again_hldr a,
.upload_again_hldr a:visited {
    font-size: 13px;
    font-weight: bold;
    color:#C4C934;
}
.upload_again_hldr a:hover,
.upload_again_hldr a:active,
.upload_again_hldr a:focus {
    font-size: 13px;
    font-weight: bold;
    color:#C4C934;
}


#fitting_alerts{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px 15px 15px 20px;
    box-shadow: -5px 1px 20px 2px #CCCCCC;
    color: #484748;
    font-family: arial;
    font-size: 0.8em;
    left: 549px;
    padding: 10px;
    position: absolute;
    top: 71px;
    width: 200px;
    z-index: 2;
    display: none;
}

#fitting_alerts ul{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 15px;
   
}

#fitting_alerts ul li{   
    font-size: 0.90em; 
    line-height:16px;
   
}

#fitting_alerts h3{ 
 font-size: 1.25em; 
 margin-top:15px;
 margin-bottom: 3px;
 color: #C4C934;
}


.arrow_img_alerts {
    border-bottom: 13px solid transparent;
    border-right: 11px solid #FFFFFF;
    border-top: 13px solid transparent;
    height: 1px;
    left: -7px;
    position: absolute;
    top: 8px;
    width: 0;   
}

#fitting_tab{    
    position: absolute;
    top:-28px;
    left: 0;
    width:356px;
    text-align: center;
    padding:5px 0px 5px 0px;
    z-index: 1;
}

#fitting_tab a{
    text-decoration: none;
    color: #a3a621;
    display: inline-block;
    font-size: 0.80em;
    padding-right:12px;
    padding-left:8px;
    text-align:center;
    font-family: arial;   
    
}

#fitting_tab a:first-child{
    border-right:1px solid #afafaf;      
    
}

.left_column nav ul li ul{
    display: none;
}

.sub_menu {    
}

.left_column nav ul li.open_me ul {
    display:block;
}

.left_column nav ul li.active a {
    color:#c4c934;
}

.left_column nav ul li .filter li.active a{
    background:#c4c934!important;
    color:#fff;
    
}

.prod_fitting_details {
   display: none;
}

/*///---Dummy Marks---///*/

#user_body_marks {
    border:1px solid #000;
    border-left: none;
    border-right: none;
    margin:0 auto;
    margin-top:52px;
    position: relative;
}
#user_body_inner {
    border:1px solid #000;
    margin:0 auto;
    position: absolute;    
}
#top_adj_marks {
    background: url(../images/neck.png) center 0 no-repeat;
    float:left;
    width:140px;
    height:32px;
    position: relative;
}
#top_moveable {
    position: absolute;
    width:100%;
    height:6px;
    cursor:row-resize;
    top:16px;
}
#left_hand {
    width:97px;
    background: url(../images/left_hand_st.png) -20px center no-repeat;
    float:left;
    margin-left: -10px;
}
#top_mid_body {
    width:132px;
    float:left;
    height:146px;
    
}
#right_hand {
    width:97px;
    margin-right: -10px;
    background: url(../images/right_hand_st.png) 20px center no-repeat;
    float:left;
}
#adj_belt_hldr {
    width:100%;
}
#bottom_adj_marks {
    background: url(../images/belt.png) center 0 no-repeat;
    margin:auto;
    width:100%;
    height:32px;
    position: relative;
}
#bottom_moveable {
    position: absolute;
    width:100%;
    height:6px;
    cursor:row-resize;
    top:12px;
}

#lages_marks {
    background: url(../images/foot_mark.png) center 0 no-repeat;
    width:100%;
    height:120px;
    position: absolute;
    bottom: -40px;
}

.pro_cart {
    float: right;
    margin: 50px 10px 0 0;
    width: 110px;
    display:none;
    position: relative;
}

.toprow ul{
    padding:0px;
    margin:0px;  
}

.toprow ul li{
    display:inline;
    list-style: none; 
    padding:0px 10px 0px 10px;
    background: url(../images/sep_menu.png) 0% 75% no-repeat;
}

.toprow ul li:last-child{
    border-right: none;
}

.toprow ul li a{
    color:#535352;
    text-decoration: none;
    font-size: 0.7em;
}

#copyrights_txt{
    color:#535352;
    font-size: 0.75em;
    float:right;
    padding: 5px 0px 0px 0px;
}

#top_nav{
    float:left;
    margin-right:50px;
}

#toprightrow nav ul{    
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

#toprightrow nav ul li{   
    display:inline;
    font-size: 0.80em;
    padding:0px 10px 0px 10px;
    background: url(../images/sep_menu.png) 0% 75% no-repeat;
}

#toprightrow nav ul li:first-child{   
   background:none;
}

#toprightrow nav ul li:last-child{   
    border-right:none;   
    padding-right: 0px!important;
}

#toprightrow nav ul li a{   
   color:#535352;
    text-decoration: none;
}

#toprightrow ul li span{ 
    display:inline!important;
}

.featured_box{
    text-align: center; 
}
.pro_detail {
    
    float:right;
    margin-top:30px;
}
.pro_detail img{    
    float:right;
}

.frm_ele radio_buts{
    
    
}

.step_3 .btm_buttons {
    bottom: 0px!important;
    height: 60px;
    left: 30px!important;
    position: absolute;
    width: 380px;  
}

.login_section {
    padding:5px 0px 0px 0px;
}

.login_section p {
    padding:0px 0px 0px 0px!important;   
    color:#635F5F;
    margin:0px 0px 5px 0px;
    font-size: 0.8em;
}

.login_section a {
    text-decoration:none;   
    padding:0px 10px;
    color:#AAB01D;
    font-weight:bold;
    font-size: 0.9em;
}

.error_cls{    
color:#D14;
font-size:0.75em;
width:245px;
margin:0 auto;
text-align: left;
}

.save_btn_4{
    position: absolute;
    right:10px;
    top:525px;
}

/*---Behlool 3/4/2013---*/


#profile_wrapper{
    width:754px;
    float:right;
    margin-top:20px;
}

.top_gra{
	background:url(../images/top_gra.png) no-repeat top left;
	height:9px;	
}

.pro_content{
	border-left:2px solid #c4c933;
	padding:20px;
        min-height: 320px; 
}

.pro_content label{
    font-size: 0.85em;
    width:80px;
    margin-bottom:15px;
    display:inline-block;
	
}

.pro_content input[type=submit]{
    background:#a8ae20;
    color:#fff;
    padding:5px 20px 5px 20px;
    font-size: 0.85em; 
    margin-left: 170px;
	
}

#profile_wrapper h1{
    font-size: 1em;
    text-transform: uppercase;		
}

.bottom_gra{
	background:url(../images/bottom_gra.png) no-repeat top left;
	height:9px;	
}

.profile_nav {    
    margin-left:15px;
}

.profile_nav li a{    
font-size: 0.95em;
padding: 6px 0px 6px 10px!important;
width:230px!important;
}

.profile_nav li{    
margin:0px!important;
}

.profile_active{
    background:#c4c933;
    
}


.profile_nav li a:hover,
.profile_nav li a:active{  
font-size: 0.95em;
background:#c4c933;
padding: 6px 0px 6px 10px!important;
}

.act_set{
float:left; 
width:336px;
margin: 0px 20px 10px 0px;
}

.act_set input[type="text"]{
    width:235px;
    
}

.act_set input[type="file"]{
    width:200px;
}

.act_set input[type="radio"]{   
}

.act_radio{
float:left!important;
}

.acct_second{    
padding-top:30px;
}

.acct_second h5{    
padding-bottom:20px;
}

.acct_second input[type="password"]{    
width:200px;
}

.pf_question{
    font-weight: bold;
    color:#707172;
    font-size: 0.95em;
    padding: 0px 0px 5px 0px;    
}

.pf_answer{
 font-size: 0.9em; 
 padding:0px 0px 0px 5px;
 margin-top: -3px;
 display: inline;
    
}

#fitting_link a{    
    position:absolute;
    right: 10px;
    top: 10px;
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 0.85em;
    background: #c4c933;
    padding: 5px;
}

.pf_box{    
margin-bottom: 20px;
float:left;
width:350px;
}

#userimage{
position: absolute;
top:120px;
right: 70px;
}

.featured_content_selected{    
float:left;
width:150px;
}
.featured_content_selected h3{    
float:left;
width:auto;
}

.prod_wrapper h3 .selected {
float:left;
}

.featured_sizes{    
float:left; 
padding-bottom: 0px;
}

.success_alert{
    background: #A8AE20;
    padding: 3px 0px 3px 5px;
    font-size: 0.85em;
    color:#fff;  
    margin-bottom:10px;
    width:335px;
}

.pro_content form{    
}

.pro_content form ul li{
    list-style: none;
}

.form_vld_error{    
    color:red; 
    font-size: 0.80em;
    margin-top:-10px;
    float:right;
    padding-bottom:10px;
}

#user_gender{
    margin-left: 15px;
    float:left;
}

.left_active{    
    background: none repeat scroll 0 0 #C4C933;
    font-size: 0.95em;
    padding: 6px 0 6px 10px !important;
}

.measurements input[type="text"]{    
  width:145px;  
}

.sep{
    border-bottom:1px dashed #ccc;
   
    margin-bottom: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.measurements .m_option input[type="text"]{ 
    height:12px!important;
}
}
.measurements .m_option input[type="text"]{   
 width:50px!important;
}


.measurements .m_option select{   
 width:116px!important; 
 padding: 3px 3px;
 height: 25px;
 
}

.measurements .m_option select:last-child{   
 width:85px!important; 
 padding: 3px 3px;
 height: 25px; 
}

.measurements .m_option .mlabel{   
    float:left;
    font-size: 0.95em;
    display: inline-block;
    width:45px;
    padding: 5px 0px 0px 0px;
}

.manual_opn{
  float:left;
  margin-left: 10px;
  margin-bottom: 6px;
}

.shuf_icon{
    float:right;
    margin: 2px 0px 0px 10px;
}

.m_option{
   clear:both;
   margin: 2px 0px 5px;  
   position: relative;
   display: inline-block;
   width: 330px;   
}

#shirts_mus{
    display:none;
}

#pants_mus{
    display:none;
}

.show_it {
    display:block !important;
}
.show_hide {
    display:none;
}

.required{    
    float:left;
}

.form_vld_error2 {
  color:red;
  float:right;
  font-size:0.7em;
  margin-top:-4px;
  padding-bottom:3px;
  margin-right:38px; 
}

.sle_clth{    
    width:60px;
}

.like_icon{    
    float:right;
    margin-right:23px;
    margin-top:10px;
}

.like_icon a{
    text-decoration: none;    
}

#measurement_sleeve{
    width:50px!important;    
}

.boxlable{
    color: #666666;
    display: block;
    font-size: 0.75em;
    overflow: auto;
    position: absolute; 
}

#sleeve_box{
    top: -18px;
}

#bust_box{    
    top: -18px;
    left:125px;
}

#back_box{   
    top: -18px;
    left:195px;
}

#waist_box{
    top: -18px;
}

#outseam_box{
   top: -18px;
    left:125px;      
}

#hip_box{
    top: -18px;
}

#chest_box{    
    top: -18px;
    left:136px;
}

#neck_box{   
    top: -18px;
    left:217px;
}

#height_box{
    top: 80px;
}

#weight_box{
    top: 80px;
    left:165px;
}

.step_4 .reg_next_step {    
    margin-left: 0px;
    display: inline-block;
}

.step_4 .reg_second{
  margin-left: 5px;  
}

#favourite_list{
    max-height: 320px;
    overflow: auto;   
    margin-top: 5px;
}

.fav_list_hd{    
   float:left; 
   width: 190px; 
   background:#efefef; 
   padding: 5px;
}

.fav_list_hd{ 
   width: 106px; 
   background:#efefef;   
   display: inline-block;
   text-align: center;
}

#fav_lst div:last-child{
   background:#efefef;  
   width:106px;
   float:none;    
}

#fav_listing{    
   border-bottom:1px dashed #ccc;   
   overflow:auto; 
   margin-bottom: 2px;
}

#fav_lst{    
    width:700px;
}

.f_list{
    float:left;
    width: 115px;
    text-align: center;
    line-height: 40px;
}



#fav_listing .f_list:last-child{   
  
   width:106px;  
   line-height: 40px;
}

#inst{
   padding:3px;
   font-size: 0.75em; 
   color:#999; 
   margin-bottom: 25px; 
   font-style: italic; 
   text-align: right;
}

.featured_content_selected .selected{
    float:left;
    font-size:15px;
}

.featured_content_selected #add_cart{
    float:left;
    clear:right;
}
.like_icon{
    padding:0px;
    margin:0px;
    height:0px;
}

.like_icon1{
    padding:0px;
    margin:0px;
    height:0px;
}

.transp_list{
    background:url(../images/pro_list_trans.png) 0 0 repeat-y;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
    height: 150px;
}
.pos_relative {
    position: relative;
    width:1px;
    height:1px;
    margin-top: -1px;
    margin-left: -10px;
}
.prod_bottom {    
    max-height: 108px;
    max-width: 100px;
}

.prod_top {    
    max-height: 108px;
    max-width: 100px;
}

.prod_dress {    
    max-height: 108px;
    max-width: 100px;
}

.uploading_list {
    background: url("../images/uploading.gif") no-repeat scroll center center transparent;
    height: 150px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5000;
}

#reset_error{    
    color:#e9322d;
    font-size: 0.85em;
}

#measurement_body_types{
    padding-top: 10px;
}

#measurement_body_types label{
    margin-top: -5px; 
}

#measurement_body_types input[type="radio"]{
    float:left;    
}

#clothing_fit_label{    
    display: inline-block;
    float: left;
    font-size: 0.95em;
    padding: 5px 0 0;
    width: 100px;
}

.step4_btns{    
    width:190px;
    margin:0 auto;
}



/******* 27 / 06 / 2013 ********/

#adj_top_hldr {
    height:70px;
}

.adj_popout_msg {
    position: absolute;
    width:140px;
    
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 20px 15px 15px 20px;
    box-shadow: -5px 1px 20px 2px #CCCCCC;
    color: #484748;
    font-family: arial;
    font-size: 12px;
    right: 32px;
    padding: 10px;
    z-index: 5000;
    display: none;
}
#adj_popout_top {
    margin-top: 102px;
    top: 47px;
}
#adj_popout_bottom {
    margin-top: 246px;
    top: 15px;
}

.how_it_works h2{
    font-size: 1.0em;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align:left;
    font-weight: bold;    
}

.how_it_works ol{
    margin:0px 0px 0px 23px;
    padding:0px 0px 0px 0px;    
}

.how_it_works ol li{    
    font-size: 0.80em;
    padding-bottom: 10px;      
}

#gender_label{
    font-size: 0.85em;
    color: #666;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.popout_blk {
    background: url("../images/white_trans_dot.png") repeat scroll 0 0 transparent;
    border: 1px solid #EFEFEF;
    box-shadow: 0 0 7px 1px #444444;
    color: #444444;
    font-size: 13px;
    height: 180px;
    padding: 10px 20px;
    position: absolute;
    right: -580px;
    top: 125px;
    width: 440px;
}
.popout_blk p {
    color:#000;
    font-size: 15px;
    text-align: center;
}
.popout_blk li {
    padding-bottom: 10px;
}

.popout_blk ol{    
        margin-left: 20px;
}

.popout_blk ol li{    
    list-style: number;
}

.user_product_hd tr:first-child td{
    background:#efefef;
    padding: 5px 0px 5px 5px;
}

.user_product_hd td{   
    padding: 5px 0px 5px 5px;
    border-bottom: 1px dashed #efefef;
}
.login_reg_box{
   background: url("../images/login_frame.png") no-repeat scroll 0 6px transparent;
   width: 315px;
   height: 179px;
   padding-top: 10px;
}

.log_wrapper .login_tab a{
    background: #e2e1e1;
    text-decoration: none;
    padding: 7px 8px 7px 8px;    
    color: #535352;
    font-size: 0.80em;
    font-family: MyCustomFontb;
    text-transform: uppercase;
   
}

.login_tab{
    float:left;
}

.login_tab .active{
    background: #c4c934!important;
    color: #fff!important;
    border-bottom: 2px solid #c4c934;
    
}

.login_section span{
    color: #635F5F;
    font-size: 0.8em;
    margin: 0 0 5px;
    padding: 0 !important; 
}

.upload_pic_msg {
    width:200px;
    font-size: 15px;
    margin: 0 auto 0;
    text-align: center;
    padding-top: 10px;
}

.twitter_wrap{
    position:absolute;
    background: #f0f0f0;
    bottom: 0px;
    right: 0px;
    width: 665px;
    height: 122px;
    background: url("../images/twitter_wrap_bg.png") repeat-x scroll 0 0px transparent;   
    
}

#social_box{
    float: right;
    width: 75px;
    margin-right: 5px;
    bottom:0px;
}

.tt_feeds{
  float: left;
  padding: 8px 0px 0px 30px;
  font-size: 0.85em;
}

#social_box img:first-child{
    float: left;
    padding-right: 4px;
    margin-top: 80px;
}

#new_home_bg{
   background: url("../images/new_bg.png") no-repeat scroll right top transparent;
   height: auto;
   width: 100%;
}

.home_box{
    width: 145px;
    float:left;
    position: relative;
    margin-right: 45px;
}

.home_box :last-child{
    width: 145px;
    float:left;
    position: relative;
    margin-right: 0px!important;
}

.home_box h1{
    font-size: 0.9em;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 3px solid #c4c833;
    margin-bottom: 10px;    
}

.home_box .slid{
    padding-bottom: 15px;
    border-bottom: 3px solid #c4c833; 
    overflow: auto;
    }

    .home_box .more_lnk{
        position: relative;
        top: -12px;
        right: -123px;
        width: 22px;
        height:22px;
        background: url("../images/m_icon.png") no-repeat scroll right top transparent; 
    }
    
    #boxes_wrapper{
        padding-top: 320px; 
        padding-left:30px;
        overflow: hidden;
    }   