.second_slider_container{
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 98%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(39%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 98%);
background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 98%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 98%);
background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 39%,rgba(0,0,0,0) 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  min-height:538px;
  float:left;
  width:10px; 
  opacity:0.6;
  margin:0px 0px 0px 0px;
}

.second_content{
  background:#f0f0f0;	
  float:right;
  min-height:470px;
  width:440px; 
  padding:10px 0px 0px 20px;	
  margin:10px 0px 0px -10px;
  color:#737373;
}

.pro_det_cont{
float:left;	
width:210px;
}

.pro_img_cont{
float:right;
margin-right:10px;	

}

#pro_more_det{
margin-top:10px;
}

.product_hd{
	color:#bb2e52;	
	font-size:1.7em;
}

.product_price{
	color:#9e8c17;	
	font-size:0.9em;
        clear:left;
        float:left;
        padding: 10px 0px 0px 0px;
}

.pro_size{	
}

.pro_size span{
	margin: 20px 0;
    display: block;    
}

.pro_size input[type="radio"]{
	opacity: 0;	
	position:absolute;
}

.pro_size input[type="radio"] + label{
	cursor: pointer;
    /* the following are the styles */
    padding: 4px 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #868686;
	
}

.pro_size input[type="radio"]:checked + label{
	background: #2c3125;
    border: 1px solid #444;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
	width:20px;
	height:20px;	
}

.pro_quantity label{
	margin-right:5px;	
}

.pro_quantity select{
	width:130px;	
}

.pro_color{	
    text-align: left;
    clear:both;
    margin-bottom: 5px;
}

.pro_color label{
	margin-right:30px;	
}

.pro_color span{
    margin: 15px 0;
    display: inline;
    width:20px;
   
    clear:both;
   
}

.pro_color input[type="radio"]{
	opacity: 0;	
	position:absolute;
	
}

.pro_color input[type="radio"] + label{
	cursor: pointer;
    /* the following are the styles */
    padding: 0px 12px;    
    background: #fff; 
	margin-right:3px;
        border-radius: 3px;
	
}

.pro_color .red{	
background:#72082c!important;
}

.pro_color .green{	
background:#609064!important;
}

.pro_color .blue{	
background:#075d91!important;
}

.pro_color input[type="radio"]:checked + label{
	border: 2px solid #000;   
    color: white;
	padding:2px 14px 2px 14px;
}

#add_cart a{	        
       background: #b4b4b4;
background: -moz-linear-gradient(top, #b4b4b4 0%, #b4b4b4 50%, #a2a2a2 51%, #a2a2a2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(50%,#b4b4b4), color-stop(51%,#a2a2a2), color-stop(100%,#a2a2a2));
background: -webkit-linear-gradient(top, #b4b4b4 0%,#b4b4b4 50%,#a2a2a2 51%,#a2a2a2 100%);
background: -o-linear-gradient(top, #b4b4b4 0%,#b4b4b4 50%,#a2a2a2 51%,#a2a2a2 100%);
background: -ms-linear-gradient(top, #b4b4b4 0%,#b4b4b4 50%,#a2a2a2 51%,#a2a2a2 100%);
background: linear-gradient(to bottom, #b4b4b4 0%,#b4b4b4 50%,#a2a2a2 51%,#a2a2a2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#a2a2a2',GradientType=0 );
        border-radius:5px;        
        color:#fff;
        font-size: 0.80em;
	padding:4px;
        padding:5px 8px 5px 8px;
	text-decoration:none;
        box-shadow: 0px 1px 4px 1px #ccc;
	
	
	
}

#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:210px; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:208px; height:270px; border:1px solid #ccc; background:#fff}
/*#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}*/
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:208px}
#image img {position:absolute; z-index:25; width:200px; max-height: 250px; padding-top: 10px;}
/*.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}*/
/*#imgprev {left:0; background:url(images/left.gif) left center no-repeat}*/
/*#imgnext {right:0; background:url(images/right.gif) right center no-repeat}*/
/*#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}*/
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:5px}
/*#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#222}*/
#slideleft:hover {background-color:#333}
/*#slideright {float:right; width:20px; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat}*/
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:210px; height:55px; overflow:hidden}
#slider {position:absolute; left:0; height:81px; width:210px!important;}
#slider img {border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 35px;
    margin-right: 13px !important;
    padding: 9px 13px;
    width: 33px;}
#slider img:last-child {border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 35px;
    margin-right: 0px !important;
    padding: 9px 13px;
    width: 33px;}
/*===============================  Second slider ==============================*/



.sectionbox {
	width: 260px;
	background: #EFEFEF;
	margin: 0 0 0px;
	font-size:0.9em;
}
ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;	
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 4px 1px;
	color: #777;
	cursor: pointer;
	background: #e3e3e2;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
        font-size: 0.85em;
        width:76px;
}
.tabs li:hover{
	color: #F70;
	padding: 0 4px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
        font-size: 0.85em;
        width:76px;
}
.tabs li.current {
	color: #444;
	background: #fff;
	padding: 0 4px 2px;
	font-size: 0.85em;
	border-bottom: 1px solid #fff;
        width:75px;
}
.box {
	display: none;
	border: 1px solid #D4D4D4;
        border-width: 0 1px 1px;
	background: #ffffff;
	padding: 10px 12px;
        text-align: left;
        max-height: 90px!important;
        overflow: auto!important;
        min-height: 90px!important;
}

.box p{
 padding-bottom:10px!important;   

}

.box.visible {
	display: block;
}

.selected_pro{
    background:#f3f3f3;
    
}

.apply_img{
    display:none;
}