@charset "utf-8";
/* CSS Document */
body, html{ width:100%; height:100%;}
.fullbg{
	-webkit-background-size:cover;
	-moz-background-size:cover ;
	-o-background-size:cover ;
	background-size:cover;
	background-image: url('../images/fulscreen.jpg');
	background-repeat: no-repeat;
	background-position:center bottom;
	background-color:#fafafc;
	background-attachment:fixed;

}
@font-face {
    font-family:'../fonts/playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.modal{ top:20% !important;}
.green{ text-align:center;}
.modal-header{ border:none;}
body{font-family: 'Roboto', sans-serif;}
.container{ max-width:82%; margin:auto;}
.logo {
	margin:20px auto 10px auto;
}
.logo h1{ font-weight:bold; margin:10px 0; padding:0;}
.launch{ margin-top:30px;}
.launch input[type='text'], .launch input[type='email'] {
	border:1px solid #979797;
	padding:10px 15px;
	width:51%;
	
}

 #gap{
	display:none;
	clear:both; 	
  }

.radius{	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
	border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
 
.launch label {
	width:50%;
	text-transform:uppercase;
}
.launch label{ font-weight:bold;}
.tagline{  font-family: 'playfair_displaybold'; color:#000; text-align:center; font-weight:bold; font-size:54px;}
.launch input[type='submit']{
	background:#dfc988;
	border:none;
	padding:8px 30px;
	margin-top:20px;
}

.taglineTxt h2{ font-size:20px; margin-top:20px;}
.taglineTxt p{ font-weight:bold; margin-top:10px; margin-bottom:18px;}
.footer{ position:absolute; bottom:0;}
.footer p{color:#ffffff; padding:10px 15px;}
@media (max-width: 768px) {
	body, html{ width:100%; height:100%;}
	.launch{ margin-bottom:50px;}
	.launch label{ text-align:center; width:100%; margin-top:30px;}
	.launch input[type='text'], .launch input[type='email'] {
		width:100%;
	}
	.footer p{color:#ffffff; text-align:center;}
	.footer{ position:static; bottom:0;}
	}

@media all and (max-width: 600px) {
	.fullbg{background-image: url('../images/mobile_home.png');}
	.logo img{ width:98px;}
	.container{ max-width:100%; margin:auto;}
  .taglineTxt h2{ display:none; }
  .tagline{ font-size:2em;}
  .launch{ margin-top:-8px;}
  .launch label { margin:13px auto 3px auto; text-align:left;}
  .footer{ display:none;}
  body{ font-size:12px;}
  
  #gap{
	display:block;
	clear:both; 	
  }
  
  
  .fullbg{	
	background-position:center -90px;
	

}
  
  .col-md-6 label{
	  display:none;
  }
}