{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}

    <div class="container">        
        <div class="btn-group" role="group" aria-label="..." style="float:right;">
            <a href="{{ path('product_intake_fit_model_index') }}" class="btn btn-default">List</a>
            <a href="{{ path('product_intake_fit_model_edit', {'id': app.request.get('id')}) }}" class="btn btn-default" title="Edit ">edit</a> 
           
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Fit Model Measurements</div>
            <div class="panel-body ">   
                 {% for fit_point_k, fit_point_v in fit_points %}
                     <div class="form-group">
                        <label class="col-sm-4" for=""> {{fit_point_k}}: </label> 
                         <div class="col-sm-2">
                         {{fit_point_v}}
                         </div>
                    </div>   
                 {% endfor %}             
             </div>
        </div>    
    </div>        
{% endblock %}
