app/config/parameters.yml
app/config/camera_mask_specs.yml
web/app_dev.php
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
web/uploads/ltf
web/uploads/acme
*.php~

.idea/*
web/.htaccess
