<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href="{{ asset('bundles/lovethatfit/product_specification/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/product_specification/js/jquery-1.9.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/product_specification/js/bootstrap.js') }}"></script>

    </head>
    <body>
        <!-- nav start form here!-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-weight: bold; font-size:24px; color:#000;">SelfieStyler Product In take</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Default <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Static top</a></li>
                        <li><a href="#">Fixed top</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div class="container-fluid">
            
            
            {#----------------------------------------------------------#}
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="product_control_number" class="col-sm-2 control-label">Control Number</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="product_control_number" placeholder="Control Number">
                    </div>
                </div>
                    
                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-2">
                        <label class="radio-inline">
                        <input type="radio" name="sel_gender" id="sel_gender" value="man"> man
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="sel_gender" id="sel_gender" value="woman"> woman
                      </label>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="sel_clothing_type" class="col-sm-2 control-label">Clothing Type</label>
                    <div class="col-sm-2">                        
                        <select name="sel_clothing_type" class="form-control" id="sel_clothing_type">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>
                 <div class="form-group">
                    <label for="hem_length" class="col-sm-2 control-label">Hem Length</label>
                    <div class="col-sm-2">                        
                        <select name="hem_length" class="form-control" id="hem_length">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>
                <div class="form-group">
                    <label for="neck_line" class="col-sm-2 control-label">Neck Line</label>
                    <div class="col-sm-2">                        
                        <select name="neck_line" class="form-control" id="neck_line">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>    
                <div class="form-group">
                    <label for="sleeve_styling" class="col-sm-2 control-label">Sleeve Styling</label>
                    <div class="col-sm-2">                        
                        <select name="sleeve_styling" class="form-control" id="sleeve_styling">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>    
                <div class="form-group">
                    <label for="rise" class="col-sm-2 control-label">Rise</label>
                    <div class="col-sm-2">                        
                        <select name="rise" class="form-control" id="rise">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>    
                <div class="form-group">
                    <label for="fit_type" class="col-sm-2 control-label">Fit Type</label>
                    <div class="col-sm-2">                        
                        <select name="fit_type" class="form-control" id="fit_type">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>        
                <div class="form-group">
                    <label for="layering" class="col-sm-2 control-label">Layering</label>
                    <div class="col-sm-2">                        
                        <select name="layering" class="form-control" id="layering">
                            <option value=""> Select </option>
                        </select>    
                    </div>
                </div>           
                <div class="form-group">
                    <label for="horizontal_stretch" class="col-sm-2 control-label">Horizontal Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="horizontal_stretch" placeholder="Horizontal Stretch">
                    </div>
                </div>                
                    
                <div class="form-group">
                    <label for="wearable_horizontal_stretch" class="col-sm-2 control-label">Wearable Horizontal Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="wearable_horizontal_stretch" placeholder="Wearable Horizontal Stretch">
                    </div>
                </div>                
                    
                <div class="form-group">
                    <label for="virtical_stretch" class="col-sm-2 control-label">Virtical Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="virtical_stretch" placeholder="Virtical Stretch">
                    </div>
                </div>                
                    
                <div class="form-group">
                    <label for="wearable_virtical_stretch" class="col-sm-2 control-label">Wearable Virtical Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="wearable_virtical_stretch" placeholder="Wearable Virtical Stretch">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="waist_stretch" class="col-sm-2 control-label">Waist Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="waist_stretch" placeholder="Waist Stretch">
                    </div>
                </div>                
                    
                <div class="form-group">
                    <label for="wearable_waist_stretch" class="col-sm-2 control-label">Wearable Waist Stretch</label>
                    <div class="col-sm-2">                        
                        <input type="text" class="form-control" id="wearable_waist_stretch" placeholder="Wearable Waist Stretch">
                    </div>
                </div>    
                
                
                    
                    
            </form>
                {#----------------------------------------------------------#}
        </div>
    </body>
</html>


