{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
  <li><a href="{{ path('admin_products') }}" >Products</a> <span class="divider">/</span>Import CSV</li>   
{% endblock %}
{% block body %}

  <a href="#" id="btn_foo" >foo</a> 
  <div id="fields_div"></div>
  <div id="product_specs_json" hidden="true">{{ product_specs_json }}</div>
  
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">

  $(document).ready(function(){
      $('#btn_foo').click(function (event){ 
     event.preventDefault();
    var specs = $("#product_specs_json").val();
    alert(specs['attributes']);
 });
    




});
  
  
  
  </script>
{% endblock %}
     