{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}

{% block profile_heading %}

    <h1>Order Detail</h1>
{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}


    <table width="700" border="0" class="user_product_hd">
            {% if(transaction_status == 'authorized') %}
            <tr><td align="center"><p>Your Order has been placed successfully, your order number is : {{ order_number }}</p></td></tr>
            {% else %}
                <tr><td align="center"><p>There is some error occured while payment, Your Transaction has been Declined</p></td></tr>
            {% endif %}

            </table>






{% endblock %}