{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/jquery.js')}}"></script>
<li><a href="{{ path('admin_order') }}" >Brands</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}

{% block h1 %}Mass Marker Adjustments{% endblock %}

{% block title %}Mass Marker Adjustments{% endblock %}

{% block body %}
<div class="p_listing">
    <h1>Mass Marker Adjustments</h1>
</div>


    {% endblock %}

