<div>
    <div class="clearfix"></div>   


    <div id="detail_wrapper">      
        <div id="p_hd">Product Detail</div>

        
        
        <div id="product_info">
            <div id="pro_detail">
                <div class="edt_container">
                    <div>Cap Sleeved Maxi</div>
                    <div></div>
                    
                    
                    <div id="product_info_left">
                    <div class="product_fld">
                        <div class="p_hd">Gender</div>
                        <div>Female</div>

                    </div>          
                    <div class="product_fld">
                        <div class="p_hd">Brand</div>
                        <div>Love That Fi</div>

                    </div>          
                    <div class="product_fld">    
                        <div class="p_hd">Clothing Type</div>
                        <div>Dress</div>                        
                    </div>
                    
                    
                     <div class="product_fld">
                        <div class="p_hd">Adjustment</div>
                        <div>10.00</div>
                    </div>     
                        </div>
                    
                </div> 
            </div>      
        </div><!-- End pro_detail --> 
        
        <!-- Start OF Product Color Display --> 
                        {% include 'LoveThatFitAdminBundle:ProductWizard:_productListSizes.html.twig'%}
        <!-- End OF Product Color Display -->  
     

    </div>




</div>