<h2> Product Color
        <div style="float:right; margin-top: -1px; margin-right: 5px;"><a href="#myModal" role="button" data-toggle="modal" class="btn">Add New</a></div>
    </h2>

<table width="50%">

        
                                <tbody><tr>
                                    <td style="text-align:'center'; font-weight: bold; padding-right: 20px;">Grey Maxi</td>
                                    <td width="20%"><img width="24" height="24" src="/webapp/web/uploads/ltf/products/pattern/web/52330f4fbcf50.png"></td>
                                    <td> 
                                        <a href="" class="btn">Edit</a>
                                       <a href="#myModal1" role="button" data-toggle="modal" class="btn">Delete</a>
                                    </td>
                                </tr>
                       <tr>
                                     <td height="3"></td>
                                   <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
        
                                                                 <tr>
                                
                                    
                                                                    
                              
                                
       </tbody></table>                                                         
                                    
                                                                    
                              
           <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Product</h3>
    </div>
    <div class="modal-body">
        <p>Product Color Add Form</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        

    </div>
</div>    
                                                                      



 