{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="action_cnt">
        <div class="steps step_2">
    {{message}}
    
            <!--/.step_2--></div>
                                <!--/.action_cnt--></div>
                            <!--/.action_blk--></section>
{% endblock %}
{% block how_it_works_content %}
                            <section class="cnt_btm">
    <h3>Your Account</h3>
    <p>At LoveThatFit we understand the value of privacy.  We do not share any of this info with anyone.  Make sure you take the time to put in accurate measurements and data.  This will allow for the most superior online shopping experience and to never have to deal with returns again!</p>
</section>
{% endblock %}

