
<h1>

User Registration 
</h1>

<form action="{{ path('registration_step_one_create')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Register"/>
</form>