Status of Your Caliborated image is {{ cs.caliboration_status }} with comments are below<br><br>
{{ cs.comment }}<br><br>
Please contact <a href="mailto:membersupport@selfiestyler.com">MemberSupport@SelfieStyler.com</a> with any questions.