<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Selfiestyler Reset Password</title>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td width="100%" valign="top"><div align="center">
      <table border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td width="600" valign="top">
          <div align="center">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td valign="top" id="templateBody"><table border="0" cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                      <tr>
                        <td width="600" valign="top"><table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                          <tr>
                            <td valign="top"><font style="font-family: 'Playfair Display', serif; font-size:14px; line-height:18px;">
                            A request was made on this account to reset the password. Click the link below to reset.<br><br>
                            Reset Password<br><br>
                            <a href="{{reset_link}}">{{reset_link}}</a><br><br>
                            This link will expire in 2 hours.
                            </font></td>
                          </tr>
                         <tr>
                            <td valign="top" height="20"></td>
                          </tr>
                          <tr>
                            <td valign="top" height="10"></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
          </td>
        </tr>
            </table>
          </div>
          </td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
</body>
</html>
