{% extends 'LoveThatFitAdminBundle::email/selfieshare_base.html.twig' %}
{% block email %}
    <font color="#2b66a3">{{selfieshare.friendName}}</font> provided feedback on your style photo.<br>please clink on the <a href="{{ app.request.scheme~'://'~app.request.host ~ path('selfieshare_feedback_show', {'ref': selfieshare.ref}) }}"  ><font color="#2b66a3">link</font></a>.
<br><br>  
<table align="center"><tr><td align="center"><img style="border:1px solid #ccc;" src="{{ app.request.getSchemeAndHttpHost() }}{{ asset(selfieshare.webPath) }}"></td></tr></table>

        


{% endblock %}
