{% extends 'LoveThatFitAdminBundle::email/email_base.html.twig' %}
{% block email %}
Please click on the link below to comments on {{user.email}} style

<a href="{{ path('selfieshare_feedback_edit', {'ref': selfieshare.ref}) }}"  >Selfie Styler share</a>
{% endblock %}
