<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <style>
        body{
           

        }

        img {
            display:block;
        }

    </style>



</head>
<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
    
   
    <tr>
        <td colspan="3" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="10" valign="top">&nbsp;</td>
                    <td valign="top" align="center">                      <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ asset('bundles/lovethatfit/miscellaneous/emails/images/logo_show.png')}}" style="display:block;" alt="SelfieStyler" title="SelfieStyler" /></td>
                    <td width="10" valign="top">&nbsp;</td>
                </tr>
            </table></td>
    </tr>
                    <tr>
        <td colspan="3" align="center" height="10"></td>
    </tr>
    <tr>
        <td colspan="3" align="center" bgcolor="#333333" height="4"></td>
    </tr>
    <tr>
        <td height="20" colspan="3"></td>
    </tr>
    <tr>
        <td height="30" colspan="3" align="center">
            <font face="Arial, Helvetica, sans-serif">{% block email %}{% endblock %}</font>
        
        
        </td>
    </tr>




</table>



</body>
</html>