{% extends 'LoveThatFitAdminBundle::email/selfieshare_base.html.twig' %}
{% block email %}
{{selfieshare.friendName}} provided feedback on your style photo. please clink on the <a href="{{ app.request.scheme~'://'~app.request.host ~ path('selfieshare_feedback_show', {'ref': selfieshare.ref}) }}"  >link</a>.
<br><br>  
<table><tr><td align="center"><img src="{{ app.request.getSchemeAndHttpHost() }}{{ asset(selfieshare.webPath) }}"></td></tr></table>

        


{% endblock %}
