Your primary email has been changed. Now your new login email is {{ dataArray['new_primary_email'] }}.

Please contact <a href="mailto:membersupport@selfiestyler.com">MemberSupport@SelfieStyler.com</a> with any questions.