<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Your Email Has Been Updated</title>
    <style>
        img{
            display:block;
        }
    </style>
</head>

<body>
You have successfully updated the email associated with your SelfieStyler profile. Reminder that your new email is your <a href="{{ dataArray['baseurl'] }}/signin">login</a> name when logging in to your account. Sign in and start shopping!
<br>
If you did not authorize this change, please contact us at <a href="mailto:membersupport@selfiestyler.com">MemberSupport@SelfieStyler.com</a>.
<br><br>
Thanks for styling with SelfieStyler!
<br><br>
</body>
</html>