<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SelfieStyler - Changed Email Address Notification</title>
    <style>
        img{
            display:block;
        }
    </style>
</head>

<body>

Hey there, we just want to notify you that your request to change your email has been updated. Your new email address will now also be your login. If you did not mean to do this or it was done in error, please contact us at <a href="mailto:membersupport@selfiestyler.com">MemberSupport@SelfieStyler.com</a> for assistance.
<br><br>
Thanks for styling with SelfieStyler!
<br><br>
</body>
</html>