<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SelfieStyler - Changed Email Address Confirmation</title>
    <style>
        img{
            display:block;
        }
    </style>
</head>

<body>

Your primary email has been changed. Now your new login email is {{ dataArray['new_primary_email'] }}.<br><br>

Please contact <a href="mailto:membersupport@selfiestyler.com">MemberSupport@SelfieStyler.com</a> if you have any questions.

</body>
</html>