<nav class="row">
    <ul class="with_bullet">
        <li><a href="{{path('about_us')}}">about</a></li>
        <li><a href="{{path('contact_us')}}">contact</a></li>
        {%if not app.user %}
            <li><a href="{{path('registration')}}">register</a></li>
        {% endif %}        
    </ul>
</nav>