<nav class="toprow">
    <ul class="with_bullet">
        <li><img src="{{ asset('bundles/lovethatfit/site/images/home_link.png') }}" width="18" height="15"></li>
        <li><a href="{{path('about_us')}}">WHO WE ARE</a></li>
        <li><a href="#">WHAT WE DO</a></li>
        <li><a href="#">FAQ's</a></li>
        <li><a href="{{path('contact_us')}}">CONTACT US</a></li>
            
    </ul>
</nav>