 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Admin ~ SelfieStyler</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.js') }}"></script>   
 </head>
    <style>
    .text_feild{
        width: 200px;
        
    }
        </style>
        
 <script>
 function getServiceName(){
var service_name=$('#service').val();
    if(service_name=="_login"){
        $('#_login').show();
        $('#_register').hide();
        $('#_user_profile').hide();
     }else if(service_name=="_register"){
         $('#_register').show();
         $('#_login').hide();
         $('#_user_profile').hide();
     }
     else if(service_name=="_user_profile"){
         $('#_user_profile').show();
         $('#_login').hide();
         $('#_register').hide();
     }
     else if(service_name=="_product_list"){
        $('#_product_list').show();
        $('#_user_profile').hide();
        $('#_login').hide();
        $('#_register').hide();
    }
     else{
        $('#_login').hide();
        $('#_register').hide();
        $('#_user_profile').hide();
        $('#_product_list').hide();
    }
    
}
function getService(){
   var param=$('#param').val();
   
   if(param=='_login'){
       email=$('#email').val();
       password=$('#password').val();
       deviceType=$('#deviceType').val();
       url="lgoin";
       data =new Array();
       data={'email':email,'password':password,'deviceType':deviceType,'type':'type'};
    }
    if(param=='_user_profile'){
        email=$('#user_profile_email').val();
       url="http://localhost/webapp/web/app_dev.php/web_service/user_profile";
       data =new Array();
       data={'email':email, 'type': 'type'};
    }
    if(param=="_product_list"){
        url="products";
        data=new Array();
        data={'id':3,'type':'brand','gender':'F','test':'test','authTokenWebService':'9fbfe79a5b545d4bba6a1e83418022fe'};
    }
   
     $.ajax({
       type:'GET',
       url: "../web_service/user_profile",
       data: data,  
       success: function(response) {
           alert(response);
       $('#json_data').html(response);
        }
    });
   
  
}
     </script>       
{% block body %}
<div>      
   
      <div class="clearfix"></div>   
   
            <div id="detail_wrapper">      
                <div id="p_hd">Check Your Service</div>
                <div class="span3">
                    
                   

                    <div class="clearfix"></div>
                    
                    </div>         

                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">         
                                <div class="row-fluid show-grid">
                                    <div class="span3">Select Service</div>
                                    <div class="span3">
                                        <select name="service" id="service" onchange="getServiceName()">
                                            <option value="">Select Service</option>
                                            <option value="_login">Login</option>
                                            <option value="_user_profile">User Profile</option>
                                            <option value="_product_list">Product list</option>
                                            <option value="_register">Register</option>
                                            
                                        </select>
                                        
                                   </div>
                                   
                                </div> 
                              
                                </div>       



                                </div>  
                            <div id="_product_list" style="display:none;" >
                                <input type="hidden" name="param" id="param" value="_product_list">
                                <input type="button" value="Run Service" onclick="getService()">
                            
                            </div>
                            <div id="_user_profile"  style="display:none;">
                                <legend>Member Profile</legend>   
                                <table>
                                    <tr>
                                        <td>Email</td>
                                        <td><input type="text" name="user_profile_email" id="user_profile_email"></td>
                                    </tr>
                                    <tr>
                                       <td> <input type="hidden" value="_user_profile" id="param"></td>
                                        <td><input type="button" value="Run Service" onclick="getService()"></td>
                                    </tr>
                                </table>
                                
                                
                            </div>
                            <div id="_login" style=" display: none;">
                                        <legend>Login</legend>
                                        <table style="width: 400px; padding: 2px;">
                                            <tr>
                                                <th  style="text-align: center;">Email</td>
                                                <td ><input type="text" id="email" name="email" class="text_feild"></td>
                                            </tr>
                                             <tr>
                                                <th  style="text-align: center;">Password</td>
                                                <td ><input type="password" id="password" name="password" class="text_feild"></td>
                                            </tr>
                                            <tr>
                                                <td>Device Type</td>
                                                <td>
                                                    <select name="deviceType" id="deviceType">
                                                        <option value="iphone4s">iphone4s</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <input type="hidden" value="_login" id="param"></td>
                                                <td style=""><input type="button" value="Run Service" onclick="getService()"></td>
                                            </tr>
                                        </table>
                                         
                                 </div>
                           <div id="_register" style=" display: none;">
                                        <legend>Register</legend>
                                        <table style="width: 400px; padding: 2px;">
                                            <tr>
                                                <th  style="text-align: center;">Email</td>
                                                <td ><input type="text" id="email" name="email" class="text_feild"></td>
                                            </tr>
                                             <tr>
                                                <th  style="text-align: center;">Password</td>
                                                <td ><input type="password" id="password" name="password" class="text_feild"></td>
                                            </tr>
                                            <tr>
                                                <th  style="text-align: center;">Confirm Password</td>
                                                <td ><input type="password" id="cpassword" name="cpassword" class="text_feild"></td>
                                            </tr>
                                            <tr>
                                                <th  style="text-align: center;">Zip Code</td>
                                                <td ><input type="text" id="zip_code" name="zip_code" class="text_feild"></td>
                                            </tr>
                                            <tr>
                                                <th  style="">Gender</th>
                                                <td><input type="radio" name="gender" value="m">Male
                                                    <input type="radio" name="gender" value="f">Female
                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <th  style="">Height</th>
                                                <td>
                                                    <input type="text" id="height" name="height">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th  style="">Width</th>
                                                <td>
                                                    <input type="text" id="width" name="width">
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Body Type</td>
                                                <td>
                                         <input type="radio" id="body_type_male" name="body_type" value="regular">Regular
                                         <input type="radio" id="measurement_body_types_1" name="body_type" value="petite">Petite
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Body Shape</td>
                                                <td>
                                                    <select name="body_shape">
                                                        <option value="">Select</option>
                                                        <option value="apple">Apple</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bra Size</td>
                                                <td>
                                                    <select id="bra_size" name="bra_size">
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Device Type</td>
                                                <td>
                                                    <select name="deviceType" id="deviceType">
                                                        <option value="iphone4s">iphone4s</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <input type="hidden" value="_login" id="param"></td>
                                                <td style=""><input type="button" value="Run Service" onclick="getService()"</td>
                                            </tr>
                                        </table>
                                         
                                 </div> 
                            
                            <div id="json_data1" style="width: 400px;" algin="center">
                                <textarea id="json_data" class="json_data" style="width:200%; height: 200px;" placeholder="Result how here">
                                </textarea>
                            </div>
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
                   
      
            </div>  

{% endblock %}

