
registration_step_four_image_update:
    pattern:  /registration/step_four_image_update
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourImageUpdate }
    
registration_step_four_create:
    pattern:  /registration/step_four_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourCreate }
    requirements: 
          _method: post 
      
registration_step_three_create:
    pattern:  /registration/step_three_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepThreeCreate }
    requirements: 
          _method: post 

registration_step_test:
    pattern:  /registration/step_test
    defaults: { _controller: LoveThatFitUserBundle:Registration:getStepTest }


registration_step_two_create:
    pattern:  /registration/step_two_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepTwoCreate }
    requirements: 
      _method: post 

registration_step_one_create:
    pattern:  /registration/step_one_create
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepOneCreate }
    requirements: 
      _method: post 

registration_step_one:
    pattern:  /registration/step_one
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepOne }

admin_login:
    pattern:   /admin/login
    defaults:  { _controller: LoveThatFitUserBundle:Security:adminLogin }

login:
    pattern:   /login
    defaults:  { _controller: LoveThatFitUserBundle:Security:login }

login_check:
    pattern:   /login_check
    
admin_logout:
    pattern:   /logout
    
    
    
    
registration_step_two_render:
    pattern:  /registration/step_two_render/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepTwoRender }
    
registration_step_three_render:
    pattern:  /registration/step_three_render/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepThreeRender }

registration_step_four_render:
    pattern:  /registration/step_four_render/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourRender }
  
      