ajax_size_chart_title_json:
    pattern:  /ajax/size_chart_title/{brand_id}/{gender}/{target}/{body_type}
    defaults: { _controller: LoveThatFitUserBundle:Ajax:sizeChartSizesByBrandJSON ,_format: json}

ajax_brand_size_chart_json:
    pattern:  /ajax/brand_size_chart/{brand_id}/{gender}/{target}
    defaults: { _controller: LoveThatFitUserBundle:Ajax:brandSizeChartByJSON,_format:json}


#--------------------------------- Registration Process ----------------

registration:
    pattern:  /registration
    defaults: { _controller: LoveThatFitUserBundle:Registration:registration }

registration_user_create:
    pattern:  /registration/user/create
    defaults: { _controller: LoveThatFitUserBundle:Registration:registrationCreate }

registration_measurement_create:
    pattern:  /registration/measurement/create
    defaults: { _controller: LoveThatFitUserBundle:Registration:measurementCreate }
    
registration_step_four_measurement_update:
    pattern:  /registration/step_four_measurement_update/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourMeasurementUpdate}
    requirements: 
          _method: post 
          
measurement_vertical_position_update:
    pattern:  /registration/measurement_vertical_position_update/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourVerticalMeasurementUpdate}
    requirements: 
          _method: post
          
          
measurement_horizontal_position_update:
    pattern:  /registration/measurement_horizontal_position_update/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourHorizontalMeasurementUpdate}
    requirements: 
          _method: post   
          
measurement_tape_pdf:
    pattern:  /registration/pdf
    defaults: { _controller: LoveThatFitUserBundle:Registration:downloadMeasurementPdf }          

registration_measurement_edit:
    pattern:  /registration/measurement/edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:measurementEdit}

registration_step_four_create:
    pattern:  /registration/step_four_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourCreate }
    requirements: 
          _method: post 

registration_step_four_image_update:
    pattern:  /registration/step_four_image_update
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourImageUpdate }

registration_step_four_edit:
    pattern:  /registration/step_four_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourEdit }
    
registration_parent_child:
    pattern:  /registration/parent/child/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:parentChildEmail }
    
registration_parent_child_update:   
    pattern:  /registration/parent/update/child/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:parentChildUpdateEmail }
#-------------------------Edit Fitting Room Image URL-------------------------#
fitting_room_image_edit:
    pattern:  /registration/fitting_room_image_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:fittingRoomImageEdit }
    
    
    #----------------------- masked marker related 
registration_step_image_edit:
    pattern:  /registration/step_image_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepImageEdit }    
    
    
#----------------------------- Profile ---------------------------------------------

user_profile_about_me:
    pattern:  /profile/about_me
    defaults: { _controller: LoveThatFitUserBundle:Profile:aboutMe }

user_profile_about_me_update:
    pattern:  /profile/about_me/update
    defaults: { _controller: LoveThatFitUserBundle:Profile:aboutMeUpdate }

user_profile_settings:
    pattern:  /profile/settings
    defaults: { _controller: LoveThatFitUserBundle:Profile:accountSettings}
    
user_profile_settings_update:
    pattern:  /profile/settings/update
    defaults: { _controller: LoveThatFitUserBundle:Profile:accountSettingsUpdate}
    
user_profile_change_email:    
    pattern:  /profile/change/email
    defaults: { _controller: LoveThatFitUserBundle:Profile:userChangeEmail}

user_secret_question_answer:
    pattern:  /profile/secret/question/answer
    defaults: { _controller: LoveThatFitUserBundle:Profile:userSecretQuestionAnswer} 
    
user_profile_password_reset_update:
    pattern:  /profile/settings/password_update
    defaults: { _controller: LoveThatFitUserBundle:Profile:passwordResetUpdate}
        
user_profile_what_i_like:
    pattern:  /profile/what_i_like
    defaults: { _controller: LoveThatFitUserBundle:Profile:whatILike }

user_profile_what_i_like_user_survey:
    pattern:  /profile/user_profile_what_i_like_user_survey
    defaults: { _controller: LoveThatFitUserBundle:Profile:submitUserSurveyForm }
    
user_product_history:
    pattern:  /profile/user_product_history/{page_number}
    defaults: { _controller: LoveThatFitUserBundle:Profile:userTryProducts,page_number: 1}

user_family:
    pattern:  /profile/family
    defaults: { _controller: LoveThatFitUserBundle:Profile:userFamily }    
    
user_child_approve:
    pattern:  /user/profile/child/aprrove/{id}/{approve}
    defaults: { _controller: LoveThatFitUserBundle:Profile:userParentChildApprove }   
    
user_maker_save:    
    pattern:  /user/marker/save
    defaults: { _controller: LoveThatFitUserBundle:MaskedMarker:saveUserMarker }   
    
user_maker_show:    
    pattern:  /user/marker/show
    defaults: { _controller: LoveThatFitUserBundle:MaskedMarker:userMarker }   
#---------------------------------------------- Login ------------------------------------------

admin_login:
    pattern:   /admin/login
    defaults:  { _controller: LoveThatFitUserBundle:Security:adminLogin }

admin_login_check:
    pattern:   /admin/login_check

admin_logout:
    pattern:   /admin/logout
    
login:
    pattern:   /login
    defaults: { _controller: LoveThatFitUserBundle:Registration:registration }
    
login_check:
    pattern:   /login_check

logout:
    pattern:   /logout

#----------------------------------------------- Password Reset -----------------------------------------

forgot_password_form:
    pattern:   /forgot_password_form
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordForm }

forgot_password_reset_form:
    pattern:   /forgot_password_reset_form/{email_auth_token}
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordResetForm }

forgot_password_update:
    pattern:   /forgot_password_update/{id}
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordUpdate }
    
lost_user_account:
    pattern:   /lost_user_account
    defaults:  { _controller: LoveThatFitUserBundle:Security:lostUserAccount } 
    
lost_account_form:
    pattern:   /lost_account_form
    defaults:  { _controller: LoveThatFitUserBundle:Security:lostUserAccountForm }  

lost_account_secret_answer:    
   pattern:   /secret_question_answer
   defaults:  { _controller: LoveThatFitUserBundle:Security:secretQuestionAnswer }  

#----------------------------------------  Dev/Testing ------------------------------------------------  
go_secure:
    pattern:  /gosecure/{id}
    defaults: { _controller: LoveThatFitUserBundle:Security:goSecure }     
