getme:
    pattern:  /getme
    defaults: { _controller: LoveThatFitUserBundle:Registration:renderThis }



#--------------------------------- New Registration Process ----------------


registration:
    pattern:  /registration
    defaults: { _controller: LoveThatFitUserBundle:Registration:registration }

registration_user_create:
    pattern:  /registration/user/create
    defaults: { _controller: LoveThatFitUserBundle:Registration:registrationCreate }

registration_measurement_create:
    pattern:  /registration/measurement/create
    defaults: { _controller: LoveThatFitUserBundle:Registration:measurementCreate }

#----------------------------- Profile ---------------------------------------------

user_profile_about_me:
    pattern:  /profile/about_me
    defaults: { _controller: LoveThatFitUserBundle:Profile:aboutMe }

user_profile_about_me_update:
    pattern:  /profile/about_me/update
    defaults: { _controller: LoveThatFitUserBundle:Profile:aboutMeUpdate }

user_profile_settings:
    pattern:  /profile/settings
    defaults: { _controller: LoveThatFitUserBundle:Profile:accountSettings}
    
user_profile_settings_update:
    pattern:  /profile/settings/update
    defaults: { _controller: LoveThatFitUserBundle:Profile:accountSettingsUpdate}
    
#------------------------------- Registration Steps ---------------------------------------------------------


registration_step_one:
    pattern:  /registration/step_one
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepOne }

registration_step_one_create:
    pattern:  /registration/step_one_create
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepOneCreate }
    requirements: 
      _method: post 

registration_step_two_create:
    pattern:  /registration/step_two_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepTwoCreate }
    requirements: 
      _method: post 

registration_step_three_create:
    pattern:  /registration/step_three_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepThreeCreate }
    requirements: 
          _method: post 

registration_step_four_create:
    pattern:  /registration/step_four_create/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourCreate }
    requirements: 
          _method: post 

registration_step_four_image_update:
    pattern:  /registration/step_four_image_update
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourImageUpdate }


registration_step_four_measurement_update:
    pattern:  /registration/step_four_measurement_update/{id}
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourMeasurementUpdate}
    requirements: 
          _method: post 


#-------------------------------  Registration Edit Steps ---------------------------------------------------------

registration_step_two_edit:
    pattern:  /registration/step_two_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepTwoEdit }
    
registration_step_three_edit:
    pattern:  /registration/step_three_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepThreeEdit }

registration_step_four_edit:
    pattern:  /registration/step_four_edit
    defaults: { _controller: LoveThatFitUserBundle:Registration:stepFourEdit }


#---------------------------------------------- Login ------------------------------------------

admin_login:
    pattern:   /admin/login
    defaults:  { _controller: LoveThatFitUserBundle:Security:adminLogin }

admin:
    pattern:   /admin
    defaults:  { _controller: LoveThatFitUserBundle:Security:adminLogin }

login:
    pattern:   /login
    defaults:  { _controller: LoveThatFitUserBundle:Security:login }

login_check:
    pattern:   /login_check

admin_logout:
    pattern:   /logout

#----------------------------------------------- Password Reset -----------------------------------------

forgot_password_form:
    pattern:   /forgot_password_form
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordForm }

forgot_password_reset_form:
    pattern:   /forgot_password_reset_form/{email_auth_token}
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordResetForm }

forgot_password_update:
    pattern:   /forgot_password_update/{id}
    defaults:  { _controller: LoveThatFitUserBundle:Security:forgotPasswordUpdate }

password_reset_form:
    pattern:   /password_reset_form
    defaults:  { _controller: LoveThatFitUserBundle:Registration:passwordResetForm }

password_update:
    pattern:   /password_update/{id}
    defaults:  { _controller: LoveThatFitUserBundle:Registration:passwordUpdate }


#----------------------------------------  Dev/Testing ------------------------------------------------  
go_secure:
    pattern:  /gosecure/{id}
    defaults: { _controller: LoveThatFitUserBundle:Security:goSecure }     
    
    