parameters:
#    love_that_fit_user.example.class: LoveThatFit\UserBundle\Example

services:
#    love_that_fit_user.example:
#        class: %love_that_fit_user.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
  user.helper.user:
        class: LoveThatFit\UserBundle\Entity\UserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\User
            container: "@service_container"
  
  user.helper.measurement:
         class: LoveThatFit\UserBundle\Entity\MeasurementHelper
         arguments:
             dispatcher: "@event_dispatcher"
             em: "@doctrine.orm.entity_manager"
             class: LoveThatFit\UserBundle\Entity\Measurement            

  twitter_helper:
          class:  LoveThatFit\UserBundle\TwitterHelper
       
       
         
             
#  authentication_handler:
#        class: LoveThatFit\UserBundle\Handler\AuthenticationHandler
#        arguments:
#            router: "@router"