parameters:
#    love_that_fit_user.example.class: LoveThatFit\UserBundle\Example

services:
#    love_that_fit_user.example:
#        class: %love_that_fit_user.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
  user.helper.user:
        class: LoveThatFit\UserBundle\Entity\UserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\User
            container: "@service_container"
  
  user.helper.measurement:
         class: LoveThatFit\UserBundle\Entity\MeasurementHelper
         arguments:
             dispatcher: "@event_dispatcher"
             em: "@doctrine.orm.entity_manager"
             class: LoveThatFit\UserBundle\Entity\Measurement            
             container: "@service_container"

  user.helper.userdevices:
        class: LoveThatFit\UserBundle\Entity\UserDevicesHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\UserDevices
            container: "@service_container"
            
  user.helper.parent.child:
        class: LoveThatFit\UserBundle\Entity\UserParentChildLinkHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\UserParentChildLink
            container: "@service_container"  
            
  user.marker.helper:
        class: LoveThatFit\UserBundle\Entity\UserMarkerHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\UserMarker
            container: "@service_container"          
  
  user.selfieshare.helper:
        class: LoveThatFit\UserBundle\Entity\SelfieshareHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\Selfieshare
            container: "@service_container"   

  user.selfiesharefeedback.helper:
        class: LoveThatFit\UserBundle\Entity\SelfieshareFeedbackHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\SelfieshareFeedback
            container: "@service_container"               
            
  user.helper.userimagespec:
        class: LoveThatFit\UserBundle\Entity\UserImageSpecHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\UserImageSpec
            container: "@service_container"

  user.helper.userappaccesslog:
        class: LoveThatFit\UserBundle\Entity\UserAppAccessLogHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\UserAppAccessLog
            container: "@service_container"
            
  twitter_helper:
          class:  LoveThatFit\UserBundle\TwitterHelper
       
       
         
             
#  authentication_handler:
#        class: LoveThatFit\UserBundle\Handler\AuthenticationHandler
#        arguments:
#            router: "@router"