parameters:
#    love_that_fit_web_service.example.class: LoveThatFit\WebServiceBundle\Example

services:
#    love_that_fit_web_service.example:
#        class: %love_that_fit_web_service.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]

    webservice.helper:
          class:  LoveThatFit\WebServiceBundle\Entity\WebServiceHelper
          arguments:
            container: "@service_container"
   
    webservice.repo:
          class:  LoveThatFit\WebServiceBundle\Entity\WSRepo
          arguments: 
            em: "@doctrine.orm.entity_manager"
            
    push_notification_helper:
          class:  LoveThatFit\WebServiceBundle\PushNotificationHelper
          arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\PushNotification
            container: "@service_container"
   
   
#    webservice.helper.product:
#        class: LoveThatFit\WebServiceBundle\Entity\WebServiceProductHelper
#        arguments:
#            dispatcher: "@event_dispatcher"
#            em: "@doctrine.orm.entity_manager"
#            class: LoveThatFit\AdminBundle\Entity\Product
#            container: "@service_container"
#
    webservice.helper.user:
        class: LoveThatFit\WebServiceBundle\Entity\WebServiceUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\UserBundle\Entity\User
            container: "@service_container"
