ws_foo:
    pattern:  /ws/foo
    title: foo
    params:
          param1:  1112
          param2:  050315.buf.037@ltf.com
          param3:  6cec8a8067b6d5811ba953e40f834d7d
    request_type: post
    description: For testing functionalities & work in progress. 

nws_user_detail:
    pattern:  /ws/user_detail
    title: user_detail
    params:
          auth_token: 00000000000000000000000000000
          device_type: iphone5
    request_type: post
    description: return user detail against authentication token 

ws_user_email_exists:
    pattern:  /ws/user_email_exists
    title: user_email_exists
    params:
          email:  example@ltf.com
    request_type: post
    description: check if user email exists in the database. This will be used at the time of registration. 
    
ws_user_login:
    pattern:  /ws/login
    title: user_login
    params:
          email:  example@ltf.com
          password: ltf123
          device_type: iphone5
          user_detail: true
          retailer_brand: true
    optional_params:
          user_detail: true
          retailer_brand: true
    request_type: post
    description: login & authenticate user & returns user details
    backend_process: "Find user by email. match password.find device details, if not found create new. if user_detail=true, Return User detail array with device type & perinchpixel height. if brand_retailer=true then return"

ws_user_registration:
    pattern:  /ws/user_registration
    title: user_registration
    params:
      email:  example@ltf.com
      password: ltf123
      gender: f
      zipcode: 123456
      weight: 80.00
      height: 61.00
      bust: 0.00
      neck: 0.00
      chest: 0.00
      inseam: 0.00
      hip: 0.00
      waist: 0.00
      device_type: iphone5
      body_shape: pear
      bra_size: 30 b
      body_type: Regular
      device_id: 4390390
      sleeve: 0
      top_brand: Gap
      bottom_brand: Gap
      dress_brand: Gap
      top_fitting_size: 0
      bottom_fitting_size: 0
      dress_fitting_size: 0
    request_type: post
    description: This will check the email availability & create/register the  user, & return user detail with brands & retailers lists.    
    backend_process: 
    
ws_size_charts:
    pattern:  /ws/size_charts
    title: size_charts
    params:
          gender:  f
    request_type: post
    description: get all the size charts based on gender. 

ws_user_image_uploader:
   pattern:  /ws/user_image_uploader
   title: user_image_uploader
   params:
     email: iphone@gmail.com
     device_type: iphone5
     height_per_inch: 6     
     upload_type: fitting_room
   request_type: post
   file_upload: true
#---------------------------------------------------------------------------
nws_products:
   pattern:  /ws/products
   title: products
   params:
     gender: f
     date: 1388577600
     
ws_product_list:
   pattern:  /ws/product_list
   title: product_list
   params:
     auth_token: 56565656566
     list_type: 'recent'
   