ws_user_login:
    pattern:  /ws/login
    title: user_login
    params:
          email:  example@ltf.com
          password: ltf123
          deviceType: iphone5
    optional_params:
          user_detail: true
          retailer_brand: true
    request_type: post
    description: login & authenticate user & returns user details
    backend_process: "Find user by email. match password.find device details, if not found create new. if user_detail=true, Return User detail array with device type & perinchpixel height. if brand_retailer=true then return"
    
