ws_send_push_notification_clothing_type:
    pattern:  /ws/send_push_notification_clothing_type
    title: send_push_notification_clothing_type
    params:
          auth_token:
          device_token:
    request_type: post
    description: For testing functionalities & work in progress.Send user detail in push notification
#______________________
ws_send_push_notification:
    pattern:  /ws/send_push_notification
    title: send_push_notification
    params:
          auth_token:  
          device_token:  
    request_type: post
    description: For testing functionalities & work in progress.Send user detail in push notification
#______________________
nws_user_detail:
    pattern:  /ws/user_detail
    title: user_detail
    params:
          auth_token: 00000000000000000000000000000
          device_type: iphone5
    request_type: post
    description: return user detail against authentication token 
#______________________
nws_user_admin_list:
    pattern:  /ws/user_admin_list
    title: user_admin_list
    params:
          api_key: 00000000000000000000000000000          
    request_type: post
    description: return user detail against authentication token     
#______________________
ws_user_email_exists:
    pattern:  /ws/user_email_exists
    title: user_email_exists
    params:
          email:  example@ltf.com
    request_type: post
    description: check if user email exists in the database. This will be used at the time of registration. 
#______________________    
ws_user_login:
    pattern:  /ws/login
    title: user_login
    params:
          email:  example@ltf.com
          password: ltf123
          device_type: iphone5
          device_token: 1122334455667788990011223344556677889900
          user_detail: true
          retailer_brand: true
    optional_params:
          user_detail: true
          retailer_brand: true
    request_type: post
    description: login & authenticate user & returns user details
    backend_process: "Find user by email. match password.find device details, if not found create new. if user_detail=true, Return User detail array with device type & perinchpixel height. if brand_retailer=true then return"
#______________________
ws_user_registration:
    pattern:  /ws/user_registration
    title: user_registration
    params:
      email:  example@ltf.com
      password: ltf123
      gender: f
      device_token: 11223344556677889900112233445566778899000
      phone_number:
      zipcode:
      birth_date:  
      weight: 80.00
      height: 61.00
      bust: 0.00
      neck: 0.00
      chest: 0.00
      inseam: 0.00
      hip: 0.00
      waist: 0.00
      device_type: iphone6
      body_shape: pear
      bra_size: 30 b
      body_type: Regular
      device_id: 4390390
      sleeve: 0
      top_brand: Gap
      bottom_brand: Gap
      dress_brand: Gap
      top_fitting_size: 0
      bottom_fitting_size: 0
      dress_fitting_size: 0
    request_type: post
    description: This will check the email availability & create/register the  user, & return user detail with brands & retailers lists.    
    backend_process: 
#______________________
ws_user_registration_default_values:
    pattern:  /ws/user_registration
    title: user_registration
    params:
      email:  example@ltf.com
      password: ltf123
      device_token: 1122334455667788990011223344556677889900
      gender: f
      phone_number:
      zipcode:
      birth_date:  
      device_type: iphone6
      create_default_user: true
    request_type: post
    description: This will check the email availability & create/register the  user, & return user detail with brands & retailers lists.    
    backend_process: 
#______________________
ws_user_measurement_update:
    pattern:  /ws/user_measurement_update
    title: user_measurement_update
    params:
      auth_token:  
      body_shape: pear
      body_type: Regular            
      bra_size: 
      weight: 0
      height: 0
      neck: 0
      shoulder_across_front:
      shoulder_across_back:      
      shoulder_height:
      shoulder_length:
      center_front_waist:
      back_waist:        
      chest: 0
      bust: 0      
      bicep:
      tricep:
      sleeve: 0
      arm:
      wrist:        
      waist: 0      
      waist_hip:      
      hip: 0
      inseam: 0
      thigh:
      knee:
      calf:
      ankle:    
    request_type: post
    description: This will update the user measurements.    
    backend_process:       
#______________________    
ws_size_charts:
    pattern:  /ws/size_charts
    title: size_charts
    params:
          gender:  f
    request_type: post
    description: get all the size charts based on gender. 
#______________________
ws_user_image_uploader:
   pattern:  /ws/user_image_uploader
   title: user_image_uploader
   params:
     email: iphone@gmail.com
     device_type: iphone5
     device_model: iphone5
     height_per_inch: 6     
     upload_type: fitting_room
     camera_angle: 10
     camera_x: 10
   request_type: post
   file_upload: true
   description: This is image upload service for user. Images can be of types fitting_room, avatar or social_media which will be determined by the parameters (image_type) passed. Parameters device_type & height_per_inch are for fitting_room image only.

#______________________
ws_user_file_uploader:
   pattern:  /ws/user_file_uploader
   title: user_file_uploader
   params:
     auth_token:
     device_type: iphone5
     upload_type: app_access_log
   request_type: post
   file_upload: true
   description:
     
#______________________
ws_selfieshare_create:
   pattern:  /ws/selfieshare/create
   title: selfieshare_create
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091     
     message_type: sms
     device_type: iphone6
     friend_name: mycroft 
     friend_email: mc@ss.com 
     friend_phone: 89349724397428
     message: 'look at me! look at me!!'
   request_type: post   
   file_upload: true
   description:
#______________________

ws_selfieshare_feedback_update:
   pattern:  /selfieshare/feedback_update
   title: selfieshare_feedback_update
   params:
     ref: 56bdc887043ce
     rating: 3
     favourite: true
     comments: 'look at you! look at you!!'
   request_type: post   
   
#______________________
ws_user_password_change:
   pattern:  /ws/user_password_change
   title: password_change
   params:
     email: kamran@ltf.com
     auth_token: 97fc8d115394f3f1947f315783e29e0e
     password: 12345
     new_password: 67890
   request_type: post
#______________________
ws_user_forgot_password:
   pattern:  /ws/user_forgot_password
   title: forgot_password
   params:
     email: kamran@ltf.com
   request_type: post
#______________________
ws_user_forgot_password_token_auth:
   pattern:  /ws/user_forgot_password_token_auth
   title: user_forgot_password_token_auth
   params:
     auth_token: 
   request_type: post
   
#______________________
ws_user_forgot_password_update:
   pattern:  /ws/user_forgot_password_update
   title: forgot_password_update
   params:
     auth_token: 
     password:
   request_type: post

#______________________   
ws_user_profile_update:
    pattern:  /ws/user_profile_update
    title: user_profile_update
    params:
      email:  kamran@ltf.com
      first_name:
      last_name:
      birth_date:
      phone_number:
      zipcode:
      auth_token: 97fc8d115394f3f1947f315783e29e0e
    request_type: post
    description: This service will be used to update users basic information.    
    backend_process: 

#______________________   
ws_user_feedback_add:
    pattern:  /ws/user_feedback_add
    title: user_feedback_add
    params:
      auth_token: 97fc8d115394f3f1947f315783e29e0e
      message:
      category:
    request_type: post
    description: This service will be used to email user feedback to support & store in db    
      
#---------------------------------------------------------------------------
#---------------------------------------------------------------------------
#---------------------------------------------------------------------------


nws_products:
   pattern:  /ws/products
   title: products
   params:
     gender: f
     date: 1388577600
#______________________     
ws_product_list:
   pattern:  /ws/product_list
   title: product_list
   params:
     auth_token: 56565656566
     list_type: 'recent'
#______________________
ws_product_detail:
   pattern:  /ws/product_detail
   title: product_detail
   params:
     auth_token: 56565656566
     product_id: 505

#______________________
ws_brand_retailer:
   pattern:  /ws/brand_retailer
   title: brand_retailer
#______________________
ws_product_like_default_item:
   pattern:  /ws/product_like_default_item
   title: product_like_default_item
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
     product_id: 12     
     like: true
   request_type: post   
#______________________
ws_product_like:
   pattern:  /ws/product_like
   title: product_like
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
     product_id: 512   
     item_id: [4126,4127]
     like: true
   request_type: post
#______________________
ws_user_liked_products:
   pattern:  /ws/user_liked_products
   title: user_liked_products
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091     
   request_type: post         
   
#---------------------------------------------------------------------------
#---------------------------------------------------------------------------
#---------------------------------------------------------------------------

ws_misc_faq:
   pattern:  /ws/misc_faq
   title: misc_faq
   params:
     faq_type: registration     
   request_type: post         

ws_misc_banner:
   pattern:  /ws/misc_banner
   title: misc_banner
   params:
     banner_type:
   request_type: post

#---------------------------- Shopping Cart -------------------------------------
#ws_cart_item_add_to_cart:
#   pattern:  /ws/add_item_to_cart
#   title: product_add_to_cart
#   params:
#     auth_token: 121c421783cd4d71d871ec16a1296091
#     quantity: 1
#     item_id: 4126
#   request_type: post

ws_cart_items_add_to_cart:
   pattern:  /ws/add_items_to_cart
   title: product_add_to_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
     items: [{"item_id":4126,"quantity":1},{"item_id":4127,"quantity":2}]
   request_type: post

#remove cart of user
ws_remove_user_cart:
   pattern:  /ws/remove_user_cart
   title: remove_user_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
   request_type: post

#remove single item from user cart
ws_remove_user_cart_item:
   pattern:  /ws/remove_user_item
   title: remove_user_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
     item_id: 4126
   request_type: post

#show user cart
ws_show_user_cart:
   pattern:  /ws/show_user_cart
   title: show_user_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
   request_type: get
#---------------------------- End Shopping cart ---------------------------------

#------------------------ Task Log
ws_support_task_log_add:
   pattern:  /ws/support_task_log/add
   title: support_task_log_add
   params:
     member_email:  info@ss.com
     support_user_name:  ovais
     duration:  480
     log_type:  calibration
     archive:  5
   request_type: get
   
   
ws_build_config:
   pattern:  /ws/build_config
   title: build_config
   params:
     app_name: photo
   request_type: get

ws_image_approval:
   pattern:  /ws/image_approval
   title: image_approval
   params:
     member_email: ovais.rafique@centricsource.com
     support_user_name:  ovais
     duration:  480
     archive:  5
     comment: test test test
     caliboration_status: reject
   request_type: post

ws_events_list:
    pattern:  /ws/events_list
    title: events_list
    params:
          api_key: 00000000000000000000000000000          
    request_type: post
    description: return events list against authentication token 


ws_feedback_category_list:
    pattern:  /ws/feedback_category_list
    title: events_list
    params:
          api_key: 00000000000000000000000000000          
    request_type: post
    description: return feedback category list against authentication token

#//////////////////// APP 3.0///////////////////////////////////    
nws_banner_category:
    pattern:  /nws/banner_category
    title: banner_category
    params:
       gender: f
       date: 1388577600
    request_type: post
    description: return Category list against authentication token
    
nws_product_list:
    pattern:  /nws/product_list
    title: product_list
    params:
      gender: f
      auth_token: 56565656566
      category_ids: [1,8,10,11]
      
nws_product_list_banner:
    pattern:  /nws/product_list_with_banner
    title: product_list_with_banner
    params:
      gender: f
      auth_token: 56565656566
      category_ids: [32,34,60,61,62,63,64,65,66]
      display_screen: product_list

nws_show_user_cart:
   pattern:  /nws/show_user_cart
   title: show_user_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
   request_type: get

nws_cart_item_add_to_cart:
   pattern:  /nws/add_item_to_cart
   title: product_add_to_cart
   params:
     auth_token: 121c421783cd4d71d871ec16a1296091
     quantity: 1
     item_id: 4126
   request_type: post

nws_product_detail:
   pattern:  /nws/product_detail_with_images
   title: product_detail
   params:
     auth_token: 56565656566
     product_id: 505

nws_save_user_look:
   pattern: /nws/save_user_look
   title: save_user_look
   file_upload: true
   params:
     auth_token: ad72e439e67bcee6a799a267bdec48f6
     item_ids: [3892, 3914, 3925, 3930]

nws_add_update_fitting_room:
   pattern:  /nws/add_update_fitting_room
   title: add_update_to_fitting_room
   params:
     auth_token: 56565656566
     product_item_id: 4082
     product_id: 506

nws_delete_fitting_room_item:
   pattern:  /nws/delete_fitting_room_item
   title: delete_to_fitting_room
   params:
     auth_token: 56565656566
     product_id: 506

nws_get_all_fitting_room:
   pattern:  /nws/get_all_fitting_room
   title: get_all_fitting_room
   params:
     auth_token: 56565656566
