ws_user_email_exists:
    pattern:  /ws/user_email_exists
    title: user_email_exists
    params:
          email:  example@ltf.com
    request_type: post
    description: check if user email exists in the database. This will be used at the time of registration. 
    
ws_user_login:
    pattern:  /ws/login
    title: user_login
    params:
          email:  example@ltf.com
          password: ltf123
          deviceType: iphone5
          user_detail: true
          retailer_brand: true
    optional_params:
          user_detail: true
          retailer_brand: true
    request_type: post
    description: login & authenticate user & returns user details
    backend_process: "Find user by email. match password.find device details, if not found create new. if user_detail=true, Return User detail array with device type & perinchpixel height. if brand_retailer=true then return"

ws_user_registration:
    pattern:  /ws/user_registration
    title: user_registration
    params:
      email:  example@ltf.com
      password: ltf123
      gender: f
      zipcode: 123456
      weight: 80.00
      height: 61.00
      bust: 0.00
      neck: 0.00
      chest: 0.00
      inseam: 0.00
      hip: 0.00
      waist: 0.00
      device_type: ipad
      body_shape: pear
      bra_size: 30 b
      body_type: Regular
      device_id: tempID
      sleeve: 0
      top_brand: Banana Republic
      bottom_brand: CARMEN MARC VALVO
      dress_brand: CARMEN MARC VALVO
      top_fitting_size: 0
      bottom_fitting_size: 0
      dress_fitting_size: 0
    request_type: post
    description: This will check the email availability & create/register the  user, & return user detail with brands & retailers lists.    
    backend_process: 
    
ws_size_charts:
    pattern:  /ws/size_charts
    title: size_charts
    params:
          gender:  f
    request_type: post
    description: get all the size charts based on gender. 
