security:
    encoders:
      Symfony\Component\Security\Core\User\User:
           algorithm:   sha1
           iterations: 1
           encode_as_base64: false
      
      LoveThatFit\UserBundle\Entity\User:
            algorithm:   sha1
            iterations: 1
            encode_as_base64: false
            
      LoveThatFit\AdminBundle\Entity\SupportAdminUser:
            algorithm:   sha1
            iterations: 1
            encode_as_base64: false      
            
      
    firewalls:
        main_admin:
            provider: in_memory
            pattern:    ^/admin
            anonymous: ~
            form_login:
                login_path:  /admin/login
                check_path:  /admin/login_check
                username_parameter: _username
                password_parameter: _password                
            logout:
               path:   /admin/logout
               target: /admin/login
               
        support:
            provider: support_db
            pattern:    ^/support
            anonymous: ~
            form_login:
                login_path:  /support/login
                check_path:  /support/login_check
                username_parameter: _username
                password_parameter: _password
            logout:
               path:   /support/logout
               target: /support/login

        secured_area:
            provider: user_db
            pattern:    ^/
            anonymous: ~
            context: primary_auth
            form_login:
                login_path:  /login
                check_path:  /login_check
                username_parameter: _username
                password_parameter: _password
                
            logout:
               path:   /logout
               target: /login       


               
#               success_handler: authentication_handler
            #http_basic:
                #realm: "Secured Demo Area"

    access_control:
        - { path: ^/device_browser/image_edit/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /admin/, roles: ROLE_ADMIN }
        - { path: /admin, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        
        - { path: ^/free_share/, roles: IS_AUTHENTICATED_ANONYMOUSLY }        

        
        - { path: ^/registration/step_one, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /email/registration, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /email_sent/, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /registration/user/create, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /registration/, roles: ROLE_USER }        
        - { path: /profile/, roles: ROLE_USER }        
        - { path: /registration, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /inner_site, roles: ROLE_USER }
        - { path: /ajax, roles: ROLE_USER }
                
        - { path: ^/support/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /support/, roles: ROLE_SUPPORT }
        - { path: /support, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        
        

    providers:
        in_memory:
            memory:
                users:
                    waq:  { password: d43051a23a3d69631f01fc55dbaa2ec62dff1720, roles: 'ROLE_ADMIN' }
                    admin: { password: 00c7469da1fc95666e3fce191fe0476373225616, roles: 'ROLE_ADMIN' }
                    developer: { password: 9c80446cde6cbab69bb83eb452d9d882941190d5, roles: 'ROLE_ADMIN' }
                    designer: { password: 999bf90e871b2a8869c396c031b7b5ae223a0b32, roles: 'ROLE_ADMIN' }
                    julianne: { password: 4796e2401d5e278f4c3a337ba632ac0d515acfc5, roles: 'ROLE_ADMIN' }
                    patrick: { password: 1d1fb3ae4c849241d1d5a8a0672004c334da0e85, roles: 'ROLE_ADMIN' }
                    christian: { password: 314f3373e90ec752995986e562dab5647ff6a74a, roles: 'ROLE_ADMIN' }
                    fahad: { password: c1b1326a47c5e8fc1c4a41f3385adca70b1bc3b8, roles: 'ROLE_ADMIN' }
                    ibrahim: { password: 16407c440f14ab55ec2368a4aaf6c00de6bb66da, roles: 'ROLE_ADMIN' }
                    kamran: { password: b4981d6f19b062e73dc0db10074ccbccd0e67b4c, roles: 'ROLE_ADMIN' }
                    shahbaz: { password: 3384253da06f7d13c86240778efbbeb96d62416f, roles: 'ROLE_ADMIN' }
                    shahjahan: { password: b5d6f5d11108a7b569b1ffe4d8c45ecffcefd777, roles: 'ROLE_ADMIN' }
                    sami: { password: 90ae902d475d0d0a8a8ea1e4a798096bd2320c53, roles: 'ROLE_ADMIN' }
                    khurram: { password: 9a9200395b52630e4e29516db927a91eb655933b, roles: 'ROLE_ADMIN' }
                    jackson: { password: f7454a2230b6cbbac5ee2f810f3ad06f6ab560b3, roles: 'ROLE_ADMIN' }
        user_db:
            entity: { class: LoveThatFit\UserBundle\Entity\User, property: email }
        
        support_db:
            entity: { class: LoveThatFit\AdminBundle\Entity\SupportAdminUser, property: user_name }
            
            

    #encoders:
        #
        #Symfony\Component\Security\Core\User\User: plaintext
        
        