security:
    encoders:
      Symfony\Component\Security\Core\User\User:
           algorithm:   sha1
           iterations: 1
           encode_as_base64: false
      
      LoveThatFit\UserBundle\Entity\User:
            algorithm:   sha1
            iterations: 1
            encode_as_base64: false
            
      LoveThatFit\AdminBundle\Entity\RetailerUser:
            algorithm:   sha1
            iterations: 1
            encode_as_base64: false      
            
      
    firewalls:
        main_admin:
            provider: in_memory
            pattern:    ^/admin
            anonymous: ~
            form_login:
                login_path:  /admin/login
                check_path:  /admin/login_check
                username_parameter: _username
                password_parameter: _password                
            logout:
               path:   /admin/logout
               target: /admin/login

        
        secured_area:
            provider: user_db
            pattern:    ^/
            anonymous: ~
            context: primary_auth
            form_login:
                login_path:  /login
                check_path:  /login_check
                username_parameter: _username
                password_parameter: _password
                
            logout:
               path:   /logout
               target: /login       


               
#               success_handler: authentication_handler
            #http_basic:
                #realm: "Secured Demo Area"

    access_control:
        - { path: ^/device_browser/image_edit/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /admin/, roles: ROLE_ADMIN }
        - { path: /admin, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: ^/shopify/, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        
        - { path: ^/free_share/, roles: IS_AUTHENTICATED_ANONYMOUSLY }        

        
        - { path: ^/registration/step_one, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /email/registration, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /email_sent/, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /registration/user/create, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /registration/, roles: ROLE_USER }        
        - { path: /profile/, roles: ROLE_USER }        
        - { path: /registration, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        - { path: /inner_site, roles: ROLE_USER }
        - { path: /ajax, roles: ROLE_USER }
                
#        - { path: ^/retailer/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: /retailer/, roles: ROLE_RETAILER }
#        - { path: /retailer, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        
        

    providers:
        in_memory:
            memory:
                users:
                    waq:  { password: d43051a23a3d69631f01fc55dbaa2ec62dff1720, roles: 'ROLE_ADMIN' }
                    admin: { password: d9d36ff8334e0347da346125bd5ddf89265c074e, roles: 'ROLE_ADMIN' }
        user_db:                      
            entity: { class: LoveThatFit\UserBundle\Entity\User, property: email }
        
        retailer_db:                      
            entity: { class: LoveThatFit\AdminBundle\Entity\RetailerUser, property: username }
            
            

    #encoders:
        #
        #Symfony\Component\Security\Core\User\User: plaintext
        
        