{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Masked Marker Edit</li>
{% endblock %}

{% block body %}
<form action="{{ path('admin_mask_marker_inspect_index')}}" method="post" {{ form_enctype(form) }} class="form-inline">
     <div class="form-group">
        <label for="form_user">User</label>
        {{ form_widget(form.User) }}{{ form_errors(form.User) }}    
        <input type='button' class="btn btn-default" name='btn_hit' id='btn_hit' value="show mask">          
    </div>
    
        
</form> 

<div id ='summary_ajax'></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
       
$(document).ready(function(){
    
$( "select[id='user_User']" ).change(function() {
    hit_service();
    });

$( "#btn_hit" ).click(function() {
  hit_service();
});

});        
//----------------------
function hit_service() {
    
    var user_id = $("#user_User").val();       
    var user_url = "../user_mask_adjustment/canvas/" + user_id;         
    
    
    $.ajax({
             url: user_url
             ,success: function(response) {
                $('#summary_ajax').html(response);                
             }
          })
    
    }

    </script>
{% endblock %}