<head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: '1464612a653803d72f4d6d998e59d785',
        shopOrigin: 'https://lovethatfit-2.myshopify.com'
      });
        </script>

    </head>
    <html><body>
            <div style="width: 250px; background-color: #EEEEEE; height: 500px;">
                fitting room should be here ...
        </body></html>
</div>