{% extends 'LoveThatFitExternalSiteBundle::external_base_reg.html.twig' %}

{% block reg_fitting_room %}
<script>
function validate(){
var shop_domain=$('#shop_domain').val();
$('#err').html('');
    if($.trim(shop_domain)==""){
    $('#err').html('');
    $('#err').html("Please enter the shop domain");
    return false;
    }
    pat=/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;

    if(!pat.test(shop_domain)){
    $('#err').html('');
    $('#err').html("Please enter correct shop doamin remove http or https.");
    return false;
    }
    

}

</script>
<section class="reg_blk">
   
    <div class="action_cnt">
        <div class="steps step_1">  
            <h2>Let's Get Started!</h2>
            <p>Try Clothes On. See Look, Fit &amp; Size. Social.</p>
            <div class="main_log_box reg_active">
            
                
                
                <div class="reg_wrapper">
                    <div class="frm_ele">
                        <form action="{{ path('shopify_create')}}" method="post"  onsubmit="return validate()">
                             
                            <table  width="650" style="Table-layout:fixed;"> 
                                <tr>
                                    <td width='100'>
                                    Shop Url
                                    </td>
                                    <td><input type="text" name="shop_domain" id="shop_domain"></td>
                                    <td width='300'> <span id="err" ></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>(ex:lovethatfit-2.myshopify.com)
                                    
                                        <input type="submit" name="sumit" value="Go!" class="btn">
                                    </td>
                                </tr>
                            </table>
                               
                              
                               
                               
                        </form>
                     </div>   
               </div>

                <!--/Login form start-->   
                <div class="log_wrapper">
                                    
                                    <div class="clr_bth"></div>

      
                                    <div class="login_reg_box">
                                        

                                    </div>

                         </div>
                </div>
                                        <!--/Login form End-->   

                                        <!--/.sttp_1--></div>
                                    <!--/.action_cnt--></div>
                                <!--/.action_blk--></section>



{% endblock %}
{% block feed_block %}




{% endblock %}
