     <script>
$(document).ready(function(){
 {% autoescape false %}
    var json = {{product.FitPriority}};
     length_obj=json.length;
     Object.size = function(obj) {
     var size = 0, key;
     for (key in obj) {
     if (obj.hasOwnProperty(key)) size++;
     }
     return size;
 };
 var size = Object.size(json);
 s="";
 s+='<div class="span">';
 for(var key in json) {
 s+= '<div class="p_hd">'+key+'</div><div class="span3">'+json[key]+'</div>';
}
 s+="</div>";
 
       document.getElementById("fit_pirority").innerHTML=s; 
   {% endautoescape %}
       
  // Fabric Content 
  {% autoescape false %}
   var json = {{product.FabricContent}};
     length_obj=json.length;
     Object.size = function(obj) {
     var size = 0, key;
     for (key in obj) {
     if (obj.hasOwnProperty(key)) size++;
     }
     return size;
 };
 var size = Object.size(json);
 s="";
 s+='<div class="span">';
 for(var key in json) {
 s+= '<div class="p_hd">'+key+'</div><div class="span3">'+json[key]+'</div>';
}
 s+="</div>";
 
       document.getElementById("fabric_content").innerHTML=s; 
   {% endautoescape %}
       
 //Garment Detail 
    {% if product.GarmentDetail %}
    {% autoescape false %}

        var json = {{product.GarmentDetail}} ;
            length_obj=json.length;
            Object.size = function(obj) {
                var size = 0, key;
                for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            };

        var size = Object.size(json);
        s="";
        s+='<div class="span">';
        for(var key in json) {
            s+= '<div class="p_hd">'+key+'</div><div class="span3">'+json[key]+'</div>';
        }
        s+="</div>";
        document.getElementById("garment_detail").innerHTML=s;
    {% endautoescape %}
    {% endif %}
     
   });    
 </script>      
       {%if product.FitPriority %}
            <div class="product_fld">
                <div class="p_hd"><strong>Fit Priority</strong></div>
                 <div class="span3" id="fit_pirority"></div>
            
           </div>
         {%endif%}
               {%if(product.FabricContent)%}     
 
                <div class="product_fld">
                    <div class="p_hd"><strong>Fabric Content</strong></div>
                        <div id="fabric_content"></div>
                    </div>   
                    {%endif%}
               {%if(product.GarmentDetail)%}         
                <div class="product_fld">
                        <div class="p_hd"><strong>Garment </strong></div>
                        <div id="garment_detail"></div>
                    </div>                             
               {%endif%}      