<div class="p_listing">     
     
    <div class="bs-docs-grid">              
     {% for pc in productColors %}
        <div class="row-fluid show-grid">
            <div class="span1">{{pc.title}}</div>                
        </div>
    {% endfor %}
 </div> 
    </div>
   
   




