  <h2> Product Sizes</h2>
                             <table style="width:50%">
                                 <thead
                                 <tr>
                                    <th><b>Title</th>
                                     <th><b>Inseam</th>
                                     <th><b>outseam</th>
                                     <th><b>Hip</b></th>
                                     <th><b>Bust</th>
                                     <th><b>Back</th>
                                     <th><b>Arm</b></th>
                                     <th><b>Leg</th>
                                     <th><b>Hem</th>
                                     
                                    </tr>
                                  </thead>  
                              {% for ps in product.productSizes %}  
                                <tr>
                                    <td style="text-align:'center';">{{ps.title}}</td>
                                    <td>Title</td>
                                     <td>Inseam</td>
                                     <td>outseam</td>
                                     <td>Hip</td>
                                     <td>Bust</td>
                                     <td>Back</td>
                                     <td>Arm</td>
                                     <td>Leg</td>
                                     <td>Hem</td>
                                </tr>
                               
                             
                             {%endfor%}
                              </table>   
  