<!DOCTYPE html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700' rel='stylesheet' type='text/css'>


<style type="text/css">
	.but {
		width: 250px;
		height: 20px;
		color: #000;
		background: #fff;
		text-decoration: none;
		outline: none;
		border: solid 5px #6f8075;
		margin: 0 120px;
		padding: 10px 5px;
	}
	#container{
		width:500px;
		height: 200px;
		margin: auto;
	}
	.title {
	font-size: 20px;
	text-align:center;
}
	#info {
		width:200px;
		height: 50px;
		margin: auto;
		text-align:center;
	}
	#preview {
		margin: 0 3%;
	}
       

.osbnavbar {
	height: 50px;
	width: 100%;
	background-color: #fff;
	border-bottom: solid 1px #9b9b9b;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 50px;
}

.osbnavbar a {
	color: #545454;
	font-size: 12px;
	margin: 15px;
	padding-top: 10px;
}

.osbnavbar :hover {
	color:#e94e1b;
}
.osbnavbar .right {
	float:right;
}

</style>
<span id="multiple_uplaod_url" style="display:none;">{{path('admin_product_detail_multiple_images_uploading')}}</span>
    <div id="container">
    <h2 class="title">Format:BodyType_SizeTitle_Color(Example:Regular_00_Black)</h2>
    
<div id="uploaded"></div>
<div  id="upload_progress"></div>
<form enctype="multipart/form-data" method="POST">
<input class="but" type="file" id="file" multiple name="file"/>
<input type="hidden" id="product_id" name="product_id" value="{{product.id}}">
</form>
<div id="info"></div>
</div>
<div id="preview"></div>
