{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block h1 %}Product{% endblock %}

{% block title %}Product{% endblock %}


{% block body %}

<form action="{{ path('admin_product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

<a href="{{ path('admin_products') }}">back</a>
{% endblock %}

