{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div>
    Products:
    <select id='ddl_product'>
        <option value="0">Select</option>
    {% for p in products.products %}
        <option value="{{p.id}}">{{p.id ~'-'~p.name}}</option>
    {% endfor %}
    </select>
    <span id='db_controls' style="display: none">
        <a href="#" id="a_db_product_preview" >Preview</a>&nbsp;|&nbsp;
        <a href="#" id="a_db_product_json" >JSON</a>
    </span>
</div>
<div>
    upload CSV file:<br>
    <input type="file" id="csv_file">
    <span id='csv_controls' style="display: none">
        <a href="#" id="a_csv_product_preview" >Preview</a>&nbsp;|&nbsp;
        <a href="#" id="a_csv_product_json" >JSON</a><br>
        <input type="button" id="btn_upload" value="upload">
        <a href="#" id="a_csv_product_compare_preview" hidden="true" >Compare & Preview</a>
    </span>
    
</div>
    <script>
$(document).ready(function(){
   
   
   function show_compare_link(){
        var product_id = $("#ddl_product").val();
        
        if(product_id!=0 && $("#csv_file").val()!=''){        
            $('#a_csv_product_compare_preview').show()    
        }else{
            $('#a_csv_product_compare_preview').hide()    
        }
    }
    
    $('#ddl_product').change(function (event){
    event.preventDefault(); 
    var product_id = $("#ddl_product").val();      
    show_compare_link();
    if(product_id==0){
    $("#db_controls").hide();            
    }else{
        $("#db_controls").show();        
    }
    return false;      
});

//---------------------------------------------
   $('#a_db_product_preview').click(function (event){
        event.preventDefault();
    var product_id = $("#ddl_product").val();                    
    if(product_id!=0){        
        preview_data("../db_show/" + product_id);
    }
    return false;
    });

//---------------------------------------------
   $('#a_db_product_json').click(function (event){
        event.preventDefault();
    var product_id = $("#ddl_product").val();                    
    if(product_id!=0){                 
        preview_data("../db_show/" + product_id + '/json');
    }
    return false;
    });
//---------------------------------------------
   $('#a_csv_product_json').click(function (event){
        event.preventDefault();    
        csv_show(true);
        return false;
    });
    $('#a_csv_product_preview').click(function (event){
        event.preventDefault();    
        csv_show(false);
        return false;
    });
      
      $('#btn_upload').click(function (event){
        event.preventDefault();    
        foo();
        return false;
    });
    
//---------------------------------------------
$("#csv_file").change(function() {
        show_compare_link();
        if($("#csv_file").val()==''){
            $("#csv_controls").hide();            
        }else{
            $("#csv_controls").show();        
        }
    });
//--------------------------------------------    
 function preview_data(compare_url){
    $.ajax({
           url: compare_url
           ,success: function(response) {           
              window.open(compare_url);
           }
        });   
        return false;
}   
//-----------------------------------------------------------        


function csv_show(json){
        input_file = document.getElementById('csv_file');
        data= new FormData();
        data.append("csv_file", input_file.files[0]);
        data.append("json",json);        
        return upload_csv("../csv_show", data);
}

function foo(){
        data= new FormData();
        var product_id = $("#ddl_product").val();                    
        if(product_id!=0){                             
            data.append("product_id",product_id);
        }
          if($("#csv_file").val()!=''){
            data.append("csv",'file_selected');
        }
        data.append("json",true);                
        return upload_csv("../foo", data);
}
//-----------------------------------------------------------   

function upload_csv(url, data){            
        $.ajax({
                 type: "POST",
                 url: url,
                 data: data,  
                 processData: false,
                 contentType: false,
                 enctype: 'multipart/form-data',
                 success: function(data){
                    var win=window.open('about:blank');
                    with(win.document)
                    {
                      open();                     
                      write(data);
                      close();
                    }                
                  },
                 failure: function(errMsg) {
                     alert(errMsg);
                 }
              });    
}

});  
</script>
{% endblock %}

