{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


Products:
<select id='ddl_product'>
    <option value="0">Select</option>
    {% for p in products.products %}
    <option value="{{p.id}}">{{p.id ~'-'~p.name}}</option>
    {% endfor %}
</select>
<span id='db_controls' style="display: none">
<a href="#" id="a_db_product_preview" >preview</a>&nbsp;|&nbsp;
<a href="#" id="a_db_product_json" >json</a>
</span>
    <script>
$(document).ready(function(){
      $('#ddl_product').change(function (event){
    event.preventDefault(); 
    var product_id = $("#ddl_product").val();                    
    if(product_id==0){
    $("#db_controls").hide();            
    }else{
        $("#db_controls").show();        
    }
    return false;      
});

//---------------------------------------------
   $('#a_db_product_preview').click(function (event){
        event.preventDefault();
    var product_id = $("#ddl_product").val();                    
    if(product_id!=0){
     var compare_url = "../show/" + product_id;         
     $.ajax({
        url: compare_url
        ,success: function(response) {           
           window.open(compare_url);
        }
     })   
    }
    return false;
    });

});  
</script>
{% endblock %}

