<div class="container comments_sec">
  <div style="position:relative;">
  <div class="logosm"><img src="images/logo.png" width="100%" height="auto" /></div> 
  
  <div style="text-align:center; font-size:20px; padding:10px 0px;">Monica</div>
   <div class="fitting_image_holder">
   
   <img src="images/fitting_room_img.png" width="70%" height="auto"/>
   
   <div class="enlarge_icon"><img src="images/image_enlarge.png" style="width:50%; height:auto;" /></div>
   
   </div>
 
  
   
    </div> 
  
  
  
  <div class="clr"></div>  
  <div style="background:#555; color:#FFF; text-align:right; border-bottom:2px solid #ccc; padding:8px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:18px;">5 Like 25% Comments</div>       
  <table class="table">
    <thead>
      <tr>
        <th>Friends</th>
        <th align="center">Comments</th>
        <th>Like</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td valign="middle">Arnold France</td>
        <td align="center"><img src="images/comments_icon.png" width="25" height="25" /></td>
        <td align="center"><img src="images/like_icon.png" width="75%"  /></td>
        <td align="center">
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        </td>
      </tr>
      <tr>
        <td>Monica Stephen</td>
        <td align="center"><img src="images/comments_icon.png" alt="" width="25" height="25" /></td>
        <td align="center"><img src="images/dislike_icon.png" width="75%"  /></td>
        <td align="center">
           <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        </td>
      </tr>
      <tr>
        <td>Julianne Applegate</td>
        <td align="center"><img src="images/comments_icon.png" alt="" width="25" height="25" /></td>
        <td align="center"><img src="images/like_icon.png" width="75%"  /></td>
        <td align="center">
           <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        </td>
      </tr>
      <tr>
        <td>Peter Herry</td>
        <td align="center"><img src="images/comments_icon.png" alt="" width="25" height="25" /></td>
        <td align="center"><img src="images/like_icon.png" width="75%"  /></td>
        <td align="center">
           <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" /></td>
      </tr>
      <tr>
        <td>Shawn Peri</td>
        <td align="center"><img src="images/comments_icon.png" alt="" width="25" height="25" /></td>
        <td align="center"><img src="images/like_icon.png" width="75%"  /></td>
        <td align="center">
           <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_dark.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
        <img src="images/rating_star_icon_light.png" />
         </td>
      </tr>
    </tbody>
  </table>
</div>