{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
<div class="p_listing">     
    <h1>Product Image Upload</h1>    
    <div class="btn-group" role="group" aria-label="..." style="float:right;">        
        <a href="{{ path('product_intake_product_specs_new') }}" class="btn  btn-default">Add New</a>     
    </div>
    
    <div class="clearfix"></div>      
     
    
    
    
</div>

{% endblock %}
