<div id="pro_sizes_wrapper">  
    <h2>Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>

{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>

{% endif %}
            <table style="width:20%">
{% for ps in product.productSizes %} 
                    <div class="row-fluid show-grid p_title size_box">
                        <div class="span1"><a href='{{path("retailer_admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >{{ps.title}}</a></div>
{%endfor%}
                    </table> 
                    </div>