<nav class="row">
    <ul class="with_bullet">
        <li><a href="{{path('about_us')}}">about</a></li>
        <li><a href="{{path('contact_us')}}">contact</a></li>
        <li><a href="#">register</a></li>
    </ul>
</nav>