 <section class="cnt_btm">
        <h3>How It Works</h3>
        <p>LoveThatFit all you to try clothes on your own body, see how they actually look and fit prior to purchasing and is social!  Mix and match outfits, compare outfits side-by-side, save all in your personal closet, and show with your friends.  LTF allows you to do this from any smartphone, tablet, or computer.<br /><br />

Create an account now in 4 easy steps and start shopping as if you were standing in the store right now!
</p>
    </section>