
<h3>{{product.name }}</h3>

<div style="clear: both"></div>

<div style="float:left">
    <table width="100%" border="1" align="center">

        <tr>
            <td>sizes</td>
            <td>sizes</td>
            <td>sizes</td>
        </tr>
   {% for key, value in data %} 
        <tr>
            <td>{{key}}</td>            
            <td>sizes</td>
            <td>sizes</td>
        </tr>  
   {% endfor %}

    </table>
</div>     
