{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block h1 %}Brands{% endblock %}

{% block title %}Brands{% endblock %}


{% block body %}

<table>
<tr><th>Id</th> <td>{{brand.id }}</td></tr>
<tr><th>Name</th><td>{{brand.name }}</td></tr>
<tr><th>Length</th><td>{{brand.logo }}</td></tr>
</table>
<a href="{{ path('admin_brands') }}">back</a>
{% endblock %}

