            <ul class="filter filter2">
    {% for b in brands %}
                    <li>
                        <a href="{{path('ajax_product_by_brand',{'gender' : app.user.gender, 'brand_id' : b.id })}}">{{b.name}}</a>
                        <span class="arw"></span>
                    </li>
    {% endfor %}
                </ul>

