
            <ul class="prod_wrapper">
                
                          {% for b in brands %}
                <li>
                    {{b.name}}
                </li>            
                {% endfor %}
                
            </ul>
        

