
            <ul class="prod_wrapper">
                
                          {% for ct in clothing_types %}
                <li>
                    {{ct.name}}
                </li>            
                {% endfor %}
                
            </ul>
        

