    <h3>{{product.name}}</h3>
    <ul>
         {% for key, value in data %} 
            <li><b>{{key | lower | capitalize }}</b>{{' : '~value['msg']}}</li>
         {% endfor %}
    </ul>


            