
         {% for key, value in data %} 
            {%if (key | lower != 'fits')%}
            <li><b>{{key | lower | capitalize }}</b>{{' : '~value['msg']}}
            
            {%if (value.body is defined) and (value['body']==false) and (key | lower != 'tip') and (key | lower != 'overall') %}
               <a href="{{ path('user_profile_about_me') }}" > here</a> </li>
           {% endif %}
               
              
               
               {% endif %}
         {% endfor %}
    



