<nav>
    <ul id="accordion">
        <li><a href="{{path('ajax_product_latest',{'gender' : app.user.gender })}}"><span></span>What's New<span class="activemenu"></span></a></li>
        <li><a href="{{path('ajax_product_latest',{'gender' : app.user.gender })}}"><span></span>What's Hot</a></li>
        <li id="ulopen"><a href="#"><span></span>Shop by Style<span class="mnu"></span></a>
            {% render 'LoveThatFitSiteBundle:InnerSite:brands' %}
            </li>
            <li id="ulopen2"><a href="#"><span></span>Shop by Brand<span class="mnu"></span></a>
            {% render 'LoveThatFitSiteBundle:InnerSite:clothingTypes' %}                     
                </li>
            </ul>
        </nav>

<script>
$(document).ready(function(){
$("#accordion").accordion({
      collapsible: true,
      heightStyle: "content"            
});    

$("#ulopen").click(function(){ 
    $("#accordion #ulopen2").removeClass("opn_link");
    $("#accordion #ulopen").toggleClass("opn_link");
});
$("#ulopen2").click(function(){  
   $("#accordion #ulopen").removeClass("opn_link");
   $("#accordion #ulopen2").toggleClass("opn_link");
    });
});
    
</script>