<nav>
    <ul>
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Condition</a></li>
        
           
            </ul>
        </nav>

