<nav>
    <ul>
        <li class="active"><a href="{{path('ajax_product_latest',{'gender' : app.user.gender })}}"><span></span>What's New<span class="activemenu"></span></a></li>
        <li><a href="{{path('ajax_product_hotest',{'gender' : app.user.gender })}}"><span></span>What's Hot<span class="activemenu"></span></a></li>
        <li><a href="#"><span></span>Shop by Style<span class="mnu"></span></a>
            {% render 'LoveThatFitSiteBundle:InnerSite:clothingTypes' %}
            </li>
            <li><a href="#"><span></span>Shop by Brand<span class="mnu"></span></a>
            {% render 'LoveThatFitSiteBundle:InnerSite:brands' %}                     
                </li>
                  
            </ul>
        </nav>

<script>
    $(document).ready(function(){

////////// To apply active class on current list item /////////

//var chk_active_url = $(".left_column nav ul li ul a").attr("href");
        //var curr_url = window.location.pathname;
        
       // if(chk_active_url == curr_url){
       //     alert("asdf");
        //}

        $(".left_column nav ul li ul").parent().addClass("sub_menu");
        $(".left_column nav ul li ul").css("display","none");
        $(".left_column nav > ul > li > a").click(function (){
            $(".left_column nav ul li ul").slideUp().parent().removeClass("opn_link");
            var chk_curr_ele = $(this).parent().find("ul").css("display");
            if(chk_curr_ele == "none" ){
                $(this).parent().find("ul").slideDown().parent().addClass("opn_link");
            }
        });
        
        $(".left_column nav ul li a").click(
            function (){
                if($(this).parent().hasClass("sub_menu")){
                    return false;
                }
                else {
                    
                    
                    var clicked_url = $(this).attr("href");
                    //alert(clicked_url);
                        $(".left_column nav ul li a").parent().removeClass("active");
                        $(this).parent().addClass("active");
                        
                        $(".loading_now").fadeIn(100);
                        
                        $.ajax({
                        url: clicked_url,
                        cache: false,
                        success: function(html){
                        $("#slider_dis_canv").html(html).animate({scrollTop : "0px"}, 200, "swing", function (){set_drag_drop_ele();set_slider_buttons();$(".loading_now").fadeOut(100);});
                        //$("#slider_dis_canv ul").remove();
                          
                          
                          
                        }
                      });
                    
                    
                    
                    
                    return false;
                }
                
            }
        );
        
    });
</script>