<nav>
    <ul>
        <li class="active"><a href="{{path('inner_site_index',{'type' : 'latest' })}}"><span></span>What's New<span class="activemenu"></span></a></li>
        <li><a href="{{path('inner_site_index',{'type' : 'most_tried' })}}"><span></span>What's Hot</a></li>
        <li><a href="{{path('inner_site_index',{'type' : 'by_style' })}}"><span></span>Shop By Style</a></li>
        <li><a href="{{path('inner_site_index',{'type' : 'by_brand' })}}"><span></span>Shop By Brand</a></li>
        
    </ul>
</nav>

