
<div id="slider{{id}}" class="">
<ul>	
{%for p in product_list%}
{%if p.displayProductColor%}

 <li>
     <img id="{{p.id}}" class="prod_{{p.clothingType.target|lower}}" src="{{asset(p.displayProductColor.webPath)}}" />
</li>
{%endif%}
{%endfor%}
  
    </ul>
 </div>       
