
<div id="{{id}}" class="mtcbox">        
{%for p in product_list%}
{%if p.displayProductColor%}
            <img id="{{p.id}}" class="prod_{{p.clothingType.target|lower}}" src="{{asset(p.displayProductColor.webPath)}}" />
    
{%endif%}
{%endfor%}
             </div>