


    <h3>{{item.product.name}}</h3>
    {{ dump(data) }}
    <ul>
         {% for key, value in data %} 
       <li>{{key | lower | capitalize ~' : '~value['msg']}}</li>
         {% endfor %}
    </ul>


            




