{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
<!--/this is left navigation you can remove this following include line and add your own navigation-->
    {% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation_home.html.twig'%}

{% endblock %}

{% block left_col_btm %}
{% endblock %}



{% block fitting_room %}
<div id="new_home_bg">

<div id="boxes_wrapper">

    <div class="home_box">
        <h1>New<br><br> Arrivals</h1>
        <div class="slid"><img src="{{ asset('bundles/lovethatfit/site/images/new_arrival_img.png') }}"></div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>FRIENDS<br><br>FAVOURITES</h1>
        <div class="slid"><img src="{{ asset('bundles/lovethatfit/site/images/friends_fav.png') }}"></div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>CURRENT<br><br>TRIED ON</h1>
        <div class="slid"><img src="{{ asset('bundles/lovethatfit/site/images/current_tried_img.png') }}"></div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>LTF<br>RECOMMENDATIONS</h1>
        <div class="slid"><img src="{{ asset('bundles/lovethatfit/site/images/ltf_recomm.png') }}"></div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
   

</div>
    <div><h1>New Arrivals</h1></div>
    <div>
    {% render 'LoveThatFitSiteBundle:InnerSite:productsLatest' with {'gender' : app.user.gender} %}
   </div>
    <div><h1>Friends Favourites</h1></div>
    <div>
    {% render 'LoveThatFitSiteBundle:InnerSite:productFriendsFavourites' with {'gender' : app.user.gender} %}
    </div>        
    <div><h1>Current Tried On</h1></div>
    <div>
    {% render 'LoveThatFitSiteBundle:InnerSite:productsHotest' with {'gender' : app.user.gender} %}
    </div>
    <div><h1>LTF Recommendations</h1></div>
    <div>
    {% render 'LoveThatFitSiteBundle:InnerSite:productRecomended' with {'gender' : app.user.gender} %}
    </div>
    
</div>









{% endblock %} 