{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
<!--/this is left navigation you can remove this following include line and add your own navigation-->
    {% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation_external.html.twig'%}

{% endblock %}

{% block left_col_btm %}
{% endblock %}



{% block fitting_room %}
<div id="new_home_bg">

<div id="boxes_wrapper">

    <div class="home_box">
        <h1>New<br><br> Arrivals</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':latest,'id':'mcts1'})}}</div>
        
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>FRIENDS<br><br>FAVOURITES</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':favourite,'id':'mcts2'})}}</div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>CURRENT<br><br>TRIED ON</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':tried_on,'id':'mcts3'})}}</div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>LTF<br>RECOMMENDATIONS</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':recomended,'id':'mcts4'})}}</div>
        <div class="more_lnk"><a href="#">&nbsp;</a></div>
    </div>
   

</div>    
   
    
    
    
    
    
    
</div>









{% endblock %} 