{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
             
               <nav>
                <ul>
                    <li><a href="#"><span></span>What's New</a></li>
                    <li><a href="#"><span></span>What's Hot<span class="mnu"></span></a></li>
                    <li><a href="#"><span></span>Shop by Style</a></li>
                    <li class="opn_link"><a href="#"><span></span>Shop by Brand <span class="mnu"></span></a>
                        <ul class="filter filter2">
                            <li><a href="#">The X Brand</a><span class="arw"></span></li>
                            <li class="sub_active"><a href="#">Cloth Tich</a><span class="arw"></span></li>
                            <li><a href="#">Special One</a><span class="arw"></span></li>
                        </ul>
                        <div style="margin-top:-10px; margin-left:5px;"><img src="images/btm_patch.jpg"></div>                      
                    </li>
                </ul>
                </nav>
{% endblock %}

{% block left_col_btm %}
{% endblock %}

{% block product_slider %}
<section class="products">
    <div class="prod_slider_hldr">
        <div class="slider_but_top"></div>
        <div class="prod_sliding_area">
            <ul class="prod_wrapper">
                <li>
                    <div class="prod_node">
                    <span></span>
                <div class="featured_box">                
                <div class="featured_content">
                    <h3>Athletic Tops</h3>
                    <p>All sizes Available<br />
                    All colors Available</p>
                    <div class="pro_price">$29.99 - $69.99</div>
                </div>
                <div class="featured_img"><img src="{{ asset('bundles/lovethatfit/site/images/featured_img.png') }}" width="63" height="108"></div>              
                </div>
                 <span></span>
                    <!--/prod_node--></div>
                </li>            
                <li>
                    <div class="prod_node">
                    <span></span>
                <div class="featured_box">                
                <div class="featured_content">
                    <h3>Athletic Tops</h3>
                    <p>All sizes Available<br />
                    All colors Available</p>
                    <div class="pro_price">$29.99 - $69.99</div>
                </div>
                <div class="featured_img"><img src="{{ asset('bundles/lovethatfit/site/images/featured_img.png') }}" width="63" height="108"></div>              
                </div>
                 <span></span>
                    <!--/prod_node--></div>
                </li>
                <li>
                    <div class="prod_node">
                    <span></span>
                <div class="featured_box">                
                <div class="featured_content">
                    <h3>Athletic Tops</h3>
                    <p>All sizes Available<br />
                    All colors Available</p>
                    <div class="pro_price">$29.99 - $69.99</div>
                </div>
                <div class="featured_img"><img src="{{ asset('bundles/lovethatfit/site/images/featured_img.png') }}" width="63" height="108"></div>              
                </div>
                 <span></span>
                    <!--/prod_node--></div>
                </li>
                <li>
                    <div class="prod_node">
                    <span></span>
                <div class="featured_box">                
                <div class="featured_content">
                    <h3>Athletic Tops</h3>
                    <p>All sizes Available<br />
                    All colors Available</p>
                    <div class="pro_price">$29.99 - $69.99</div>
                </div>
                <div class="featured_img"><img src="{{ asset('bundles/lovethatfit/site/images/featured_img.png') }}" width="63" height="108"></div>              
                </div>
                 <span></span>
                    <!--/prod_node--></div>
                </li>
            </ul>
        <!--.prod_sliding_area--></div>
        <div class="slider_but_btm"></div>
    <!--/.prod_slider_hldr--></div>
</section>

{% endblock %}

{% block fitting_room %}
{% endblock %}