{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
<!--LEFT MENU START-->                
               <nav>
                <ul>
                    <li><a href="#"><span></span>What's New</a></li>
                    <li><a href="#"><span></span>What's Hot<span class="mnu"></span></a></li>
                    <li><a href="#"><span></span>Shop by Style</a></li>
                    <li class="opn_link"><a href="#"><span></span>Shop by Brand <span class="mnu"></span></a>
                        <ul class="filter filter2">
                            <li><a href="#">The X Brand</a><span class="arw"></span></li>
                            <li class="sub_active"><a href="#">Cloth Tich</a><span class="arw"></span></li>
                            <li><a href="#">Special One</a><span class="arw"></span></li>
                        </ul>
                        <div style="margin-top:-10px; margin-left:5px;"><img src="images/btm_patch.jpg"></div>                      
                    </li>
                </ul>
                </nav>
<!--LEFT MENU END-->
{% endblock %}

{% block left_col_btm %}
{% endblock %}

{% block product_slider %}
<section class="products">
    <div class="prod_slider_hldr">
        <div class="but_top"></div>
        <div class="prod_sliding_area">
            <ul class="prod_wrapper">
                <li>Check 1</li>
                <li>Check 2</li>
                <li>Check 3</li>
                <li>Check 4</li>
                <li>Check 5</li>
                <li>Check 6</li>
                <li>Check 7</li>
                <li>Check 8</li>
                <li>Check 9</li>
                <li>Check 10</li>
                <li>Check 11</li>
                <li>Check 12</li>               
            </ul>
        <!--.prod_sliding_area--></div>
        <div class="but_btm"></div>
    <!--/.prod_slider_hldr--></div>
</section>
{% endblock %}

{% block fitting_room %}
{% endblock %}