<style>
        #item
        {
            clear: both;
        }
        #product
        {
            float: left;
        }
        #detail
        {
            float: left;
        }


    </style>

          {% for p in products %}
    <div id="item">
        <div id="product">
            <img src="{{asset(p.WebPath)}}" width="100px" height="100px"/>
            
        <img src="{{asset(p.ImagePaths['large'])}}"/>
        <img src="{{asset(p.ImagePaths['small'])}}"/>
        <img src="{{asset(p.ImagePaths['list'])}}"/>
        </div>
        
        

    </div>
        {% endfor %}