
            <ul class="prod_wrapper">
                
                          {% for p in products %}
                <li>
                    <div class="prod_node">
                    <span></span>
                <div class="featured_box">                
                <div class="featured_content">
                    <h3>{{p.name}}</h3>
                    <p>{{p.brand.name}} <br/>
                        All sizes Available<br />
                    All colors Available</p>
                    <div class="pro_price">$15.99 - $19.99</div>
                </div>
                <div class="featured_img">
                    <img class="{{p.clothingType.target|lower}}" src="{{asset(p.WebPath)}}" width="63" height="108"/>
                </div>
                 <span></span>
                    <!--/prod_node--></div>
                </li>            
                {% endfor %}
                
            </ul>
        

