{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Masked Marker Visual Compare</li>
{% endblock %}       

{% block body %}
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/paper.js') }}"></script>
   <script type="text/paperscript" src="{{ asset('bundles/lovethatfit/site/js/visual_comparison.js') }}" canvas="canv_compare"></script>

           <h3>Masked Marker Visual Compare</h3>
           <a href="{{path('admin_user_mask_compare_index')}}">Back <<--</a>
   <div id='user_data_placeholder'>
       {{user_json}}
   </div>
{% endblock %}