{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Masked Marker Visual Compare</li>
{% endblock %}       

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<h3>Masked Marker Visual Compare</h3>
<form action="{{ path('admin_user_mask_compare_filter')}}" name="s" id='s'>
    <div class="form-group">                   
        <label class="col-md-2 control-label" for="user_ids">Comma separated User Id's</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="user_ids">
        </div>
        <input type="submit" value='Generate'/>
    </div>           

</form>   
{% endblock %}