{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Users Data</li>
{% endblock %}       

{% block body %}
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script>
       
   function get_selected_gender(){
        var gender=null;
        if($('#chk_f').is(':checked') && !$('#chk_m').is(':checked')){
            gender='f';
         }else if(!$('#chk_f').is(':checked') && $('#chk_m').is(':checked')){
             gender='m';
         }
         return gender;
    }    
//------------------------------------------------------
   function hit_service(){
   
        var $url='../mask_marker_inspect/data_filter';
        var value_ar = {
            gender : get_selected_gender(),
            to_id : $('#txt_to_id').val(),    
            from_id : $('#txt_from_id').val(),
            };

         $.ajax({
            type: "POST",
            url: $url,
            data: value_ar,  
            success: function(data){
                $('#user_data_placeholder').html(data);
            },
            failure: function(errMsg) {
                alert('error');    
            }
        });
   }
//------------------------------------------------------   
   function download_csv(){
   
        gender=get_selected_gender()==null?'none':get_selected_gender();
        var param_str =  gender+ '_' + $('#txt_from_id').val() + '_' + $('#txt_to_id').val();
        var url = '../mask_marker_inspect/data_filter_download/' + param_str;
        window.open(url,'_blank');
   }
   
//------------------------------------------------------   
   $(document).ready(function(){
       
        $('a.a_display_users').click(function (event){            
                event.preventDefault(); 
                hit_service();
        });
        //-------------------
        $('a.a_download_users').click(function (event){            
                event.preventDefault(); 
                download_csv();
        });
    
   });
   </script>
   <h3>User predictive measurements</h3>
   <div class="form-inline">
    <div class="checkbox">        
        <label>Gender</label>
        <label><input id='chk_f' type="checkbox" value="F">F</label>&nbsp;&nbsp;
        <label><input  id='chk_m'  type="checkbox" value="M">M</label>
    </div>
    <div class="form-group">           
          <label class="col-md-2 control-label" for="txt_to_id">From user Id </label>
          <div class="col-md-2"> 
              <input type="text" class="form-control" id="txt_from_id">
          </div>
    </div>
           
<div class="form-group">                   
          <label class="col-md-2 control-label" for="txt_to_id">To User Id</label>
          <div class="col-md-2">
              <input type="text" class="form-control" id="txt_to_id">
          </div>
                
        <a id='a_display_users' class='a_display_users' href="#">Show</a> &nbsp;|&nbsp;
        <a id='a_download_users' class='a_download_users' href="#">Download</a> 
    </div>
   </div>
   <br>
   <div id='user_data_placeholder'>
   
           </div>
{% endblock %}