<form name='service_form' id='service_form' action="{{ path('ws_image_upload') }}" method="post" enctype="multipart/form-data">
      email<input type="text" name='email' id='email'></input><br>
        device_type<input type="text" name='deviceType' id='deviceType'></input><br>
       height_per_inch <input type="text" name='heightPerInch' id='height_per_inch'></input><br>
        file: <input type="file" name='file' id='file'></input><br>
        <input id='hit' type="submit" value="Hit" /><br>                                     
    </form>