<nav class="profile_nav">
    <ul>
        <li><a href="{{path('user_profile_about_me')}}" class="left_active">About Me</a></li>
        <li><a href="{{path('user_profile_what_i_like')}}">What I Like</a></li>
        <li><a href="{{path('user_profile_settings')}}">Account Settings</a></li>
        <li><a href="#">Invite Friends</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">My Orders</a></li>
       
            </ul>
        </nav>

