<nav class="profile_nav">
    <ul>
        <li><a href="#">About Me</a></li>
        <li><a href="#">What I Like</a></li>
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Invite Friends</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">My Orders</a></li>
       
            </ul>
        </nav>

