<script type="text/javascript">
    jQuery(document).ready(function($){
        var url = window.location;
        var pc = url.toString().split('/');        
        $('.profile_nav .'+pc[pc.length-1]).addClass('left_active');
    });
    </script>

    <nav class="profile_nav">
        <ul>
            <li><a class="about_me" href="{{path('user_profile_about_me')}}">About Me</a></li>
            <li><a class="what_i_like" href="{#path('user_profile_what_i_like')#}javascript:void(0);">What I Like</a></li>
            <li><a class="settings" href="{{path('user_profile_settings')}}">Account Settings</a></li>          
            <li><a href="#">Invite Friends</a></li>
            <li><a class="my_closet" href="{{path('ajax_products_by_my_closet')}}">Favorites</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="{{path('user_product_history')}}">Recent Try History</a></li>

        </ul>
    </nav>

