compare_product_routes:
    resource: "@LoveThatFitSiteBundle/Resources/config/routing/compare_product.yml"
    prefix:   /

anonymous_user_home:
    pattern:  /home
    defaults: { _controller: LoveThatFitUserBundle:Registration:registration}

inner_site_home:
    pattern:  /inner_site/home
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:home}

inner_site_index:
    pattern:  /inner_site/index/{list_type}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:index, list_type: null}

about_us:
    pattern:  /about_us
    defaults: { _controller: LoveThatFitSiteBundle:Home:aboutUs}
    
     
faqs:
    pattern:  /faqs
    defaults: { _controller: LoveThatFitSiteBundle:Home:faqs}

contact_us:
    pattern:  /contact_us
    defaults: { _controller: LoveThatFitSiteBundle:Home:contactUs}

what_we_do:
    pattern:  /what_we_do
    defaults: { _controller: LoveThatFitSiteBundle:Home:whatWeDo}    

comming_soon:
    pattern:  /comming_soon
    defaults: { _controller: LoveThatFitSiteBundle:Home:commingSoon}        
  
compare_product:
    pattern:  /inner_site/compare_product/{item_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:compareProduct, item_id: null}
    
    
ajax_brand_list:
    pattern:  /ajax/brands
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:brands}

ajax_clothing_type_list:
    pattern:  /ajax/clothing_types
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:clothingTypes}    
    
ajax_product_detail:
    pattern:  /ajax/product/{id}/{product_color_id}/{product_size_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productDetail, product_color_id: null, product_size_id: null}

ajax_product_base_url:
    pattern:  /ajax/product/
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productDetail, id: null, product_color_id: null, product_size_id: null}

ajax_product_by_type:
    pattern:  /ajax/product/by_type/{list_type}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByType}
    
ajax_user_product_item_create:
    pattern:  /ajax/user_product_item/create/{product_item_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:addToCloest}

ajax_user_product_item_delete:
    pattern:  /ajax/user_product_item/delete/{product_item_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:deleteMyClosetAjax}       
    
ajax_products_by_my_closet:
    pattern:  /ajax/products/my_closet
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByMyCloset, page_number: 0, limit: 0}

ajax_my_closet_delete:
    pattern:  /ajax/products/my_closet/delete/{id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:deleteMyCloset}  

ajax_my_closet_count:
    pattern:  /ajax/products/my_closet/count
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:countMyColoset}

ajax_product_latest:
    pattern:  /ajax/products/{gender}/latest/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsLatest, page_number: 0, limit: 0}
    
ajax_product_recently_tried_on:
    pattern:  /ajax/products/{gender}/recently_tried_on/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsRecentlyTriedOnByUser, page_number: 0, limit: 0}
    
ajax_product_most_favorite:
    pattern:  /ajax/products/{gender}/most/favorite/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsMostFavorite, page_number: 0, limit: 0}
    
ajax_product_ltf_recommended:
    pattern:  /ajax/products/{gender}/ltf/recommended/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsLTFRecommendation, page_number: 0, limit: 0}    

ajax_product_hotest:
    pattern:  /ajax/products/{gender}/hotest/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsHotest, page_number: 0, limit: 0}

ajax_fitting_room_product_list:
    pattern:  /ajax/fitting_room_product/{gender}/list/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:fittingRoomProductsList, page_number: 0, limit: 0}


ajax_product_by_brand:
    pattern:  /ajax/products/{gender}/brand/{brand_id}/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByBrand, page_number: 0, limit: 0}

ajax_product_by_clothing_type:
    pattern:  /ajax/products/{gender}/type/{clothing_type_id}/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByClothingType, page_number: 0, limit: 0}

ajax_product_history:
    pattern:  /ajax/products
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsTryHistory}
    
ajax_product_type:
    pattern:  /ajax/products/{gender}/type
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsClothingType}

ajax_product_list:
    pattern:  /ajax/products/{gender}/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:products, page_number: 0, limit: 0}


ajax_fitting_feedback_json:
    pattern:  /ajax/fitting_feedback_json/{user_id}/{product_item_id}/{type}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:getFeedBackJSON,type: null}

ajax_fitting_feedback_list:
    pattern:  /ajax/fitting_feedback_list/{product_item_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:getFeedBackList}
    
ajax_product_ajax:
    pattern:  /ajax/{id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:ajax, id:0}
    
ajax_user_fitting_room_item_remove:
    pattern:  /ajax/fitting_room_item_remove/{user_id}/{item_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:removeFittingRoomItem}

ajax_user_fitting_room_item_ids:
    pattern:  /ajax/fitting_room_item_ids/{user_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:getFittingRoomItemIds}

ajax_fitting_room_product_recently_tried_on:
    pattern:  /ajax/fitting_room/recently_tried_on/{list_type}/{page_number}/{limit}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:fittingRoomProductsList, page_number: 0, limit: 0}

email:
    pattern:  /email/{id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:email, id:0}

user_mannequin:
    pattern:  /user/profile/mannequin
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:userMannequin }    
    
email_registration:
    pattern:  /email/registration/{id}
    defaults: { _controller: LoveThatFitSiteBundle:Home:emailRegistration}    
    
#----------------- external sites
inner_shopify_index:
    pattern:  /external/shopify_index/{sku}/{user_id}/{retailer_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:shopifyIndex, sku: null, user_id: null,retailer_id:null}

inner_shopify_after_login:
    pattern:  /external/shopify_after_login/{sku}/{user_id}/{retailer_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:shopifyAfterLogin, sku: null, user_id: null,retailer_id:null}

external_user_mannequin:
    pattern:  /external/profile/mannequin
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:userMannequin }    
