anonymous_user_home:
    pattern:  /home
    defaults: { _controller: LoveThatFitSiteBundle:Home:index}

inner_site_index:
    pattern:  /inner_site/index
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:index}

ajax_product_list:
    pattern:  /ajax/products/{gender}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:products}
    
ajax_product_detail:
    pattern:  /ajax/product/{id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productDetail}

ajax_product_latest:
    pattern:  /ajax/products/{gender}/latest
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsLatest}

ajax_product_by_brand:
    pattern:  /ajax/products/{gender}/brand/{brand_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByBrand}

ajax_product_by_type:
    pattern:  /ajax/products/{gender}/type/{clothing_type_id}
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsByClothingType}
    
ajax_product_type:
    pattern:  /ajax/products/{gender}/type
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:productsClothingType}

ajax_product_ajax:
    pattern:  /ajax
    defaults: { _controller: LoveThatFitSiteBundle:InnerSite:ajax}
    