parameters:
#    love_that_fit_site.example.class: LoveThatFit\SiteBundle\Example

services:
#    love_that_fit_site.example:
#        class: %love_that_fit_site.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
  ajax.listener:
          class: LoveThatFit\SiteBundle\Component\Event\AjaxAuthenticationListener
          tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onCoreException, priority: 1000 }
    