parameters:
#    love_that_fit_site.example.class: LoveThatFit\SiteBundle\Example

services:
  ajax.listener:
       class: LoveThatFit\SiteBundle\Component\Event\AjaxAuthenticationListener
       tags:
         - { name: kernel.event_listener, event: kernel.exception, method: onCoreException, priority: 1000 }  
  
  site.helper.usertryitemhistory:
        class: LoveThatFit\SiteBundle\Entity\UserItemTryHistoryHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\SiteBundle\Entity\UserItemTryHistory
            container: "@service_container"
  
  site.helper.userfittingroomitem:
        class: LoveThatFit\SiteBundle\Entity\UserFittingRoomItemHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\SiteBundle\Entity\UserFittingRoomItem
            container: "@service_container"
  site.helper.socialmedia:
      class: LoveThatFit\SiteBundle\DependencyInjection\SocialMediaHelper
      arguments:
          container: "@service_container"


      