<div id="product_color_view">
    <div id="color_view_list">
        <b>Additional views</b> 
        <ul>
            {%for color in color_view%}
                <i><a href="{{path('admin_product_color_view_edit',{'id': color.id}) }}"><img width="50px" height="50px" src="{{ asset(color.WebPath) }}"/></a></i>    
            {%endfor%}
        </ul>
    </div>
    <a href="{{path('admin_product_color_view_new',{'product_color_id': product_color_id}) }}" class="btn">Add New</a>
        
        <div id="product_color_view_form">
            
        </div>
</div>