device_browser_login:
    pattern:   /device_browser/login
    defaults: { _controller: LoveThatFitUserBundle:Device:login }

device_browser_image_edit_auth:
    pattern:   /device_browser/image_edit_auth
    defaults: { _controller: LoveThatFitUserBundle:Device:editImageAuth }

device_browser_image_edit:
    pattern:   /device_browser/image_edit/{auth_token}/{edit_type}/{device_type}
    defaults: { _controller: LoveThatFitUserBundle:Device:editImage, auth_token: null, edit_type: null, device_type: null }
    
device_browser_makeover:
    pattern:   /device_browser/makeover/{auth_token}/{edit_type}/{device_type}
    defaults: { _controller: LoveThatFitUserBundle:Device:makeover, auth_token: null, edit_type: null, device_type: null }

device_browser_save_user_marker:
    pattern:   /device_browser/save_user_marker
    defaults: { _controller: LoveThatFitUserBundle:Device:saveUserMarker}

device_browser_svg_path:
    pattern:   /device_browser/svg_path/{auth_token}/{edit_type}/{device_type}
    defaults: { _controller: LoveThatFitUserBundle:Device:svgPath, auth_token: null, edit_type: null, device_type: null}

device_browser_image_update:
    pattern:   /device_browser/image_update
    defaults: { _controller: LoveThatFitUserBundle:Device:updateImage }

device_browser_foo:
    pattern:   /device_browser/foo
    defaults: { _controller: LoveThatFitUserBundle:Device:foo }

ajax_fitting_room_bg_cropped_image_update:
    pattern:  /ajax/fitting_room/bg_cropped_image_update
    defaults: { _controller: LoveThatFitUserBundle:Registration:bgCroppedImageUpload }

### Multiple Svg path for Standalone app
device_browser_multiple_svg_path:
    pattern:   /device_browser/multiple_svg_path/{auth_token}/{edit_type}/{device_type}
    defaults: { _controller: LoveThatFitUserBundle:Device:multipleSvgPath, auth_token: null, edit_type: null, device_type: null}
