device_browser_login:
    pattern:   /device_browser/login
    defaults: { _controller: LoveThatFitUserBundle:Device:login }

device_browser_image_edit_auth:
    pattern:   /device_browser/image_edit_auth
    defaults: { _controller: LoveThatFitUserBundle:Device:editImageAuth }

device_browser_image_edit:
    pattern:   /device_browser/image_edit/{auth_token}/{edit_type}/{device_type}
    defaults: { _controller: LoveThatFitUserBundle:Device:editImage, auth_token: null, edit_type: null, device_type: null }

ajax_fitting_room_bg_cropped_image_update:
    pattern:  /ajax/fitting_room/bg_cropped_image_update
    defaults: { _controller: LoveThatFitUserBundle:Registration:bgCroppedImageUpload }
