#cart_default:
#    pattern:  /cart
#    defaults: { _controller: LoveThatFitCartBundle:Cart:index}
#
#cart_add:
#    pattern:  /cart/add
#    defaults: { _controller: LoveThatFitCartBundle:Cart:add}

cart_basket:
    pattern:  /cart/basket/
    defaults: { _controller: LoveThatFitCartBundle:Cart:basket}

cart_process_checkout:
    pattern:  /cart/process
    defaults: { _controller: LoveThatFitCartBundle:Cart:processCheckout}

cart_add_ajax:
    pattern:  /cart/addajax
    defaults: { _controller: LoveThatFitCartBundle:Cart:addajax}
    requirements:
        _method:  POST

cart_show:
    pattern:  /cart/show
    defaults: { _controller: LoveThatFitCartBundle:Cart:show}

cart_delete:
    pattern:  /cart/delete/{id}
    defaults: { _controller: LoveThatFitCartBundle:Cart:delete}

cart_update_ajax:
    pattern:  /cart/update_qty_ajax/{id}/{qty}
    defaults: { _controller: LoveThatFitCartBundle:Cart:updateQtyAjax}
    requirements:
        _method:  GET

order_default:
    pattern:  /checkout/addresses
    defaults: { _controller: LoveThatFitCartBundle:Order:index}

save_addresses:
    pattern:  /billing/save
    defaults: { _controller: LoveThatFitCartBundle:Order:savebilling}

order_update_address:
    pattern:  /save_address
    defaults: { _controller: LoveThatFitCartBundle:Order:saveAddress}

preview_address:
    pattern:  /preview
    defaults: { _controller: LoveThatFitCartBundle:Order:previewaddress}

order_address:
    pattern:  /order/get_address/{address_id}
    defaults: { _controller: LoveThatFitCartBundle:Order:getAddress}
    requirements:
        _method:  GET

order_change_address:
    pattern:  /order/change_address/{bill}
    defaults: { _controller: LoveThatFitCartBundle:Order:changeaddress}
    requirements:
        _method:  GET


payment_default:
    pattern:  /checkout/payment
    defaults: { _controller: LoveThatFitCartBundle:Payment:index}

payment:
    pattern:  /checkout/payment-confirmation
    defaults: { _controller: LoveThatFitCartBundle:Payment:pay}

user_profile_order_show:
    pattern:  /profile/order/{id}/show
    defaults: { _controller: LoveThatFitCartBundle:MyOrder:show }

user_profile_order_preview:
    pattern:  /order/preview/{id}
    defaults: { _controller: LoveThatFitCartBundle:MyOrder:previewOrder }

user_profile_order_list:
    pattern:  /profile/order/{page_number}/{sort}
    defaults: { _controller: LoveThatFitCartBundle:MyOrder:index,page_number: 1, sort:id}

