#-------------------------------------------------------------
#-------------- Support ------------------------
#-------------------------------------------------------------
#---------------------------------------------- Login ------------------------------------------
###############################################
############# Admin panel and Dashboard ####################
################################################
support_login:
    pattern:   /support/login
    defaults:  { _controller: LoveThatFitSupportBundle:Security:login }

support:
    pattern:   /support
    defaults:  { _controller: LoveThatFitSupportBundle:Security:login }

support_login_check:
    pattern:   /support/login_check

support_logout:
    pattern:   /support/logout

support_dashboard:
    pattern:  /support/dashboard
    defaults: { _controller: LoveThatFitSupportBundle:Default:index}

########### Cart page ################
support_cart_index:
    pattern:  /support/cart
    defaults: { _controller: LoveThatFitSupportBundle:Cart:CartIndex}

### Show Cart
support_cart_show:
    pattern:  /support/cart/show/{id}
    defaults: { _controller: LoveThatFitSupportBundle:Cart:Show}
    requirements:
        _method:  GET

### Cart delete
support_cart_delete:
    pattern:  /support/cart/delete/{id}/{user_id}
    defaults: { _controller: LoveThatFitSupportBundle:Cart:delete}

#add to cart with recommended items
support_cart_add:
    pattern:  /support/cart_add
    defaults: { _controller: LoveThatFitSupportBundle:Cart:addToCart}
    requirements:
        _method:  POST

#add to cart item
support_cart_add_item:
    pattern:  /support/cart_add_item
    defaults: { _controller: LoveThatFitSupportBundle:Cart:addToCartItem}
    requirements:
        _method:  POST

### get Product Sizes
support_get_sizes_and_colors:
    pattern:  /support/cart/get_sizes_and_colors/{product_id}
    defaults: { _controller: LoveThatFitSupportBundle:Cart:getSizeColor}
    requirements:
        _method:  GET

###############################################
############# Auto Complete ####################
################################################
support_auto_complete_user:
    pattern:  /support/autocomplete_user/index
    defaults: { _controller: LoveThatFitSupportBundle:Autocomplete:AutoCompleteUserIndex}

support_auto_user_search_result:
    pattern:  /support/autocomplete_user/autocomplete_user_search_result
    defaults: { _controller: LoveThatFitSupportBundle:Autocomplete:AutoCompleteUserSearchResult}
    requirements:
        _method:  POST

support_auto_complete_product:
    pattern:  /support/autocomplete_product/index
    defaults: { _controller: LoveThatFitSupportBundle:Autocomplete:AutoCompleteProductIndex}

support_auto_product_search_result:
    pattern:  /support/autocomplete_product/autocomplete_product_search_result
    defaults: { _controller: LoveThatFitSupportBundle:Autocomplete:AutoCompleteProductSearchResult}
    requirements:
        _method:  POST
################## End of Auto Complete #############################
## users routes start ##
support_users:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/user.yml"
    prefix:   /
support_pending_users:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/pendingUser.yml"
    prefix:   /

support_evaluation_sheet:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/evaluation_sheet.yml"
    prefix:   /
## users routes end ##

## time log routes start ##
support_users_task_log:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/task_log.yml"
    prefix:   /
## time log routes end ##

## duplicate User routes start ##
support_duplicate_users:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/duplicate_user.yml"
    prefix:   /
## duplicate User  routes end ##

## caliboration process routes start ##
support_caliboration:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/caliboration.yml"
    prefix:   /
## caliboration process routes end ##


## caliboration process routes start ##
evaluation_default_products:
    resource: "@LoveThatFitSupportBundle/Resources/config/routing/evaluation_default_products.yml"
    prefix:   /
## caliboration process routes end ##