<h5>Following SKUs has been updated: </h5>
<table width="100%" style="border: solid 1px #CCCCCC;" align="center">
    {% for key, value in data %} 
    <tr>
        <td>            
            <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
                        {% for k, v in value %} 
                    <tr>
                        <td>
                                    {{k}}
                            </td>            
                            <td>
                                    {{v}}
                            </td>            
                        </tr>
                        {% endfor %}                             
                    </table>
                </td>   
            </tr>
   {% endfor %}
        </table>

    
