<table width="745" border="1" class="cart_tbl" cellpadding="0" cellspacing="0">
    <tr>
        <td>Image</td>
        <td>Items</td>
        <td width="10%">Product Id</td>
        <td width="10%">Item Id</td>
    </tr>
    {% for look in looks %}
        <tr>
            <td align="center" valign="middle" width="30%">
                <img src="{{ look.image }}" height="65"  >
            </td>
            <td align="left" width="50%">
                <ul>
                    {% for item in look.items %}
                        <li>{{item.item_name}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td align="center" valign="middle" width="10%">
                <ul>
                    {% for item in look.items %}
                        <li>{{item.product_id}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td align="center" valign="middle" width="10%">
                <ul>
                    {% for item in look.items %}
                        <li>{{item.item_id}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>