h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	font-family:"Times New Roman", Times, serif;
	color:#000;
}
h2
{
	font-size:20px;
	font-weight:600;
	
}
.form-signin h2{
	text-align:center;
}
.form-signin {
	margin-top: 35px;
	margin-bottom: 60px;
}
.user_pic_small{ 
	border-radius: 100%;
	height: 109px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 33px;
	margin-bottom: 21px;
	border: 1px solid #dcdcdc;
}
.txt1 p {
    text-align: center;
    font-size: 15px;
    font-family: lato;
    color: #474646;
    font-weight: 500;
}
form label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
} 
input {
    /*margin-bottom: 22px;*/
    border-color: #cecece;
    border-radius: 4px;
}
.error {
    font-size: 14px;
    color: red;
    padding-left: 10px;
    margin-bottom: 22px;
}

.btn-primary {
    color: #3e3e3e;
    background-color: #e0ca89;
    border-color: #e0ca89;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
 {
    color: #3e3e3e;
    background-color: #e0ca89;
    border-color: #e0ca89;
	box-shadow:0 0 0 2px rgba(224, 202, 137, 0.5);
}

.form-control:focus {
    border-color: #e0ca89;
	box-shadow:0 0 0 2px rgba(224, 202, 137, 0.5);
}
.btn {
	cursor:pointer;
}
.share_pic {
	height: 285px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 1%;
}
.share_screen {
    width: 100%;
    border-top: 1px solid #ececec;
    margin-top: 10px; 
    display: block;
    padding-top: 15px;
}
.no-gutter {
    padding-right:0;
    padding-left:0;
}
.like_share img {
    width: 30pt;
    margin-right: 2px;
    margin-left: 5px;
}

.like_share a{
    text-decoration: none;
}

.like_share img a{
	border:0px;

}
.form-share textarea {
    min-height: 100px;
    height: 100px;
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
}
form{
	margin-bottom:20px;
}
.like_share {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
}
.checked_small {
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.thankyou {
	margin-top: 60px;
	margin-bottom: 60px;
}
.thankyou h2{
	text-align:center;
}
footer {
	text-align: center;
	height: 50px;
	background-color: #eaeaea;
	line-height: 45px;
	font-size: 12px;  
    bottom: 0;
    width: 100%;
    float: left;
    margin: 50px 0 0;
    overflow: hidden;
    position: fixed;
}

footer a{
	text-decoration:none;
	color:#288dfa;
}

footer a:hover{
	text-decoration:none;
}
footer img {
    width: 24px; 
    margin-right: 7px;
    margin-left: 7px;
}
footer img a{
	border:none;
}
.ft_div {
    padding-right: 8px;
    padding-left: 8px;
}