

admin_brands:
    pattern:  /admin/brands/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:Brand:index ,page_number: 1, sort:id }

admin_brand_show:
    pattern:  /admin/brand/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:Brand:show }
    
admin_brand_specification_new:    
    pattern:  /admin/brand/{id}/new
    defaults: { _controller: LoveThatFitAdminBundle:Brand:newBrandSpecification }
 
admin_brand_specification_show:    
    pattern:  /admin/brand/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:Brand:showBrandSpecification } 
    
admin_brand_specificationabs_edit:    
    pattern:  /admin/brand/{brand_id}/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:Brand:editBrandSpecification }  

admin_brand_specificationabs_update:    
    pattern:  /admin/brand/{brand_id}/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:Brand:updateBrandSpecification }  

admin_brand_specification_delete:    
    pattern:  /admin/brand/specification/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:Brand:deleteBrandSpecification }  


admin_brand_specification_create:    
    pattern:  /admin/brand/{id}/create
    defaults: { _controller: LoveThatFitAdminBundle:Brand:createBrandSpecification }

admin_brand_product_list:
    pattern:  /admin/brand/{id}/products
    defaults: { _controller: LoveThatFitAdminBundle:Brand:brandProducts }

admin_brand_products:
    pattern:  /admin/brand/{id}/products/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:Brand:products ,page_number: 1, sort:id }

admin_brand_new:
    pattern:  /admin/brand/new
    defaults: { _controller: LoveThatFitAdminBundle:Brand:new }

admin_brand_create:
    pattern:  /admin/brand/create
    defaults: { _controller: LoveThatFitAdminBundle:Brand:create }
    requirements: 
      _method: post 
      
admin_brand_edit:
    pattern:  /admin/brand/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:Brand:edit }
    requirements:
        _method:  GET

admin_brand_update:
    pattern:  /admin/brand/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:Brand:update }
    requirements:
        _method:  POST

admin_brand_disable:
    pattern:  /admin/brand/{id}/disable
    defaults: { _controller: LoveThatFitAdminBundle:Brand:disableBrand }
    requirements:
        _method:  POST

admin_brand_enable:
    pattern:  /admin/brand/{id}/enable
    defaults: { _controller: LoveThatFitAdminBundle:Brand:enableBrand, id: 0 }
    requirements:
        _method:  POST
        
admin_brand_delete:
    pattern:  /admin/brand/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:Brand:delete }

admin_brand_test:
    pattern:  /admin/brand/test/{id}
    defaults: { _controller: LoveThatFitAdminBundle:Brand:test }