#---------------------------------------- CSV update---------------------
admin_product_data_import_index:
    pattern:  /admin/product_data/import/index
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:importIndex }  

admin_product_data_show_current:
    pattern:  /admin/product_data/show/{product_id}
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:showCurrent }  

#---------------------------------------- CSV ---------------------
admin_product_data_csv_index:
    pattern:  /admin/product_data/csv/index
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:csvIndex }  

admin_product_data_db_show:
    pattern:  /admin/product_data/db_show/{product_id}/{json}
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:dbProductShow, json : false }

admin_product_data_csv_show:
    pattern:  /admin/product_data/csv_show
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:csvProductShow }
    
admin_product_data_csv_read:
    pattern:  /admin/product_data/csv/read
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:csvRead }



admin_product_data_foo:
    pattern:  /admin/product_data/foo
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:foo }

admin_product_data_csv_upload:
    pattern:  /admin/product_data/csv_upload
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:csvUpload }

#--------------------------------- Add device type and create new folder filled with products images -------------
admin_product_data_product_image_genrate:
    pattern:  /admin/product_data/product_image_genrate
    defaults: { _controller: LoveThatFitAdminBundle:ProductData:productImageGenrate }
