
admin_retailers:
    pattern:  /admin/retailers/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:index ,page_number: 1, sort:id }

admin_retailer_show:
    pattern:  /admin/retailer/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:show }

admin_retailer_new:
    pattern:  /admin/retailer/new
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:new }

admin_retailer_create:
    pattern:  /admin/retailer/create
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:create }
    requirements: 
      _method: post 
      
admin_retailer_edit:
    pattern:  /admin/retailer/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:edit }
    requirements:
        _method:  GET

admin_retailer_update:
    pattern:  /admin/retailer/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:update }
    requirements:
        _method:  POST
        
admin_retailer_delete:
    pattern:  /admin/retailer/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:delete }
 
 #---------------------------------------------------------------------------------
 
admin_retailer_brand_edit:
    pattern:  /admin/retailer/brand/{id}/manage
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:brandEdit }
    
admin_retailer_brand_add:
    pattern:  /admin/retailer/brand/{id}/create
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:brandUpdate }
 
#---------------------------------------------------------------------------------    
    
admin_new_retailer_user:
    pattern:  /admin/retailer/{id}/user/new
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:newRetailerUser }
    
admin_create_retailer_user:
    pattern:  /admin/retailer/{id}/user/create
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:createRetailerUser }
    requirements: 
      _method: post
      
admin_retailer_edit_user:      
    pattern:  /admin/retailer/{retailerId}/user/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:editRetailerUser }
      
admin_retailer_update_user:
    pattern:  /admin/retailer/user/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:updateRetailerUser }
    requirements:
        _method:  POST
        
admin_retailer_user_delete:
    pattern:  /admin/retailer/user/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:Retailer:deleteRetailerUser }

    