admin_size_chart_dynamic_new:
    pattern: /admin/admin_size_charts/dynamic_new
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:dynamicNew }

admin_size_charts:
    pattern: /admin/size_charts
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:index  }
    
admin_size_chart_show:
    pattern: /admin/admin_size_charts/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:show }

admin_size_chart_new:
    pattern: /admin/admin_size_charts/new
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:new }

admin_size_chart_create:
    pattern: /admin/admin_size_charts/create
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:create }   
    requirements: 
      _method: post
      
admin_size_chart_edit:
    pattern: /admin/admin_size_charts/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:edit }    
    requirements:
        _method:  GET
        
admin_size_chart_update:
    pattern: /admin/admin_size_charts/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:update }   
    requirements:
        _method:  POST
        
admin_size_chart_delete:
    pattern: /admin/admin_size_charts/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:delete }

admin_size_chart_test_utility_helper:
    pattern: /admin/testHelper
    defaults: { _controller: LoveThatFitAdminBundle:SizeChart:testHelper }    
admin_size_chart_search_from:
     pattern:  /admin/admin_size_charts/searchForm
     defaults: { _controller: LoveThatFitAdminBundle:SizeChart:searchSizeChartForm}    
admin_size_chart_search_result:  
      pattern:  /admin/admin_size_charts/searchResult
      defaults: { _controller: LoveThatFitAdminBundle:SizeChart:searchSizeChartResult}   
admin_brand_size_chart:      
      pattern: /admin/admin_size_charts/brand/{page_number}/{sort}
      defaults: { _controller: LoveThatFitAdminBundle:SizeChart:getBrandSizeChart , page_number: 1, sort:id }
admin_brand_size_chart_list:      
      pattern: /admin/size_charts/brand/list/{brand_id}
      defaults: { _controller: LoveThatFitAdminBundle:SizeChart:getBrandSizeChartList }