admin_users:
    pattern:  /admin/users/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:User:index , page_number: 1, sort:id }

admin_user_detail_show:
    pattern:  /admin/user/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:User:show }
    
admin_users_search:
    pattern:  /admin/user/search
    defaults: { _controller: LoveThatFitAdminBundle:User:search }
    
admin_user_detail_edit:
    pattern:  /admin/user/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:User:edit}
    
admin_user_detail_update:
    pattern:  /admin/user/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:User:update}
    requirements:
     _method:  POST   
     
admin_user_profile_detail_update:     
    pattern:  /admin/user/profile/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:User:updateUserProfile}
    requirements:
     _method:  POST   
     

admin_user_delete:
    pattern:  /admin/user/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:User:delete }     
    
toss:
    pattern:  /toss/{id}
    defaults: { _controller: LoveThatFitAdminBundle:User:toss }

admin_user_compare_mannequin_size:
    pattern:  /admin/user/compare/mannequin/size
    defaults: { _controller: LoveThatFitAdminBundle:User:comapareUser}
    
admin_user_size_compare:    
    pattern:  /admin/user/compare/size/mannequin
    defaults: { _controller: LoveThatFitAdminBundle:User:comapareUserSize}

admin_retailer_site_user_delete:
    pattern:  /admin/retailer/site/user/delete/{{id}}
    defaults: { _controller: LoveThatFitAdminBundle:User:deleteRetailerSiteUser}

admin_retailer_site_user_edit:
    pattern:  /admin/retailer/site/user/edit/{{id}}
    defaults: { _controller: LoveThatFitAdminBundle:User:editRetailerSiteUser}