
admin_user_mask_adjustment_index:
    pattern:  /admin/user_mask_adjustment/index
    defaults: { _controller: LoveThatFitAdminBundle:UserMaskAdjustment:index}

admin_user_mask_adjustment_canvas:
    pattern:   /admin/user_mask_adjustment/canvas/{user_id}
    defaults: { _controller: LoveThatFitAdminBundle:UserMaskAdjustment:showCanvas}


## Show pending list
admin_pending_user_show:
    pattern:  /admin/pending_user/{user_id}/show
    defaults: { _controller: LoveThatFitAdminBundle:UserMaskAdjustment:show }

admin_pending_user:
    pattern:  /admin/pending_user/list/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:UserMaskAdjustment:list,page_number: 1, sort:id }

admin_update_status:
    pattern:  /admin/pending_user/{user_id}/update_status
    defaults: { _controller: LoveThatFitAdminBundle:UserMaskAdjustment:updateStatus }