admin_users:
    pattern:  /admin/users/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:User:index , page_number: 1, sort:id }

admin_user_detail_show:
    pattern:  /admin/user/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:User:show }

admin_user_selfieshare_list:
    pattern:  /admin/user/{id}/selfieshare_list
    defaults: { _controller: LoveThatFitAdminBundle:User:selfieshareList }

admin_user_set_default:
    pattern:  /admin/user/{id}/set_default/{demo}
    defaults: { _controller: LoveThatFitAdminBundle:User:setDefaultUser, demo:false}    

admin_user_json:
    pattern:  /admin/user/{id}/json
    defaults: { _controller: LoveThatFitAdminBundle:User:json }
    
admin_users_search:
    pattern:  /admin/user/search
    defaults: { _controller: LoveThatFitAdminBundle:User:search }
    
admin_user_detail_edit:
    pattern:  /admin/user/{id}/edit
    defaults: { _controller: LoveThatFitAdminBundle:User:edit}
    
admin_user_detail_update:
    pattern:  /admin/user/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:User:update}
    requirements:
     _method:  POST   

admin_user_password_update:
    pattern:  /admin/user/{id}/password_update
    defaults: { _controller: LoveThatFitAdminBundle:User:passwordUpdate}
    requirements:
     _method:  POST   

     
admin_user_profile_detail_update:     
    pattern:  /admin/user/profile/{id}/update
    defaults: { _controller: LoveThatFitAdminBundle:User:updateUserProfile}
    requirements:
     _method:  POST        

admin_user_delete:
    pattern:  /admin/user/{id}/delete
    defaults: { _controller: LoveThatFitAdminBundle:User:delete }     

admin_user_compare_mannequin_size:
    pattern:  /admin/user/compare/mannequin/size
    defaults: { _controller: LoveThatFitAdminBundle:User:comapareUser}
    
admin_user_size_compare:    
    pattern:  /admin/user/compare/size/mannequin
    defaults: { _controller: LoveThatFitAdminBundle:User:comapareUserSize}

admin_retailer_site_user_new:
    pattern:  /admin/retailer/site/user/{id}/new
    defaults: { _controller: LoveThatFitAdminBundle:User:newRetailerSiteUser}
    
admin_retailer_site_user_create:
    pattern:  /admin/retailer/site/user/{id}/create
    defaults: { _controller: LoveThatFitAdminBundle:User:createRetailerSiteUser}

admin_retailer_site_user_delete:
    pattern:  /admin/retailer/site/user/delete/{id}
    defaults: { _controller: LoveThatFitAdminBundle:User:deleteRetailerSiteUser}

admin_retailer_site_user_edit:
    pattern:  /admin/retailer/site/user/{user_id}/edit/{id}
    defaults: { _controller: LoveThatFitAdminBundle:User:editRetailerSiteUser}

admin_retailer_site_user_update:
    pattern:  /admin/retailer/site/user/{user_id}/update/{id}
    defaults: { _controller: LoveThatFitAdminBundle:User:updateRetailerSiteUser}

admin_users_new:
    pattern:  /admin/user/new_users
    defaults: { _controller: LoveThatFitAdminBundle:User:newIndex}

admin_users_paginate:
    pattern:  /admin/user/paginate
    defaults: { _controller: LoveThatFitAdminBundle:User:paginate}