admin_users:
    pattern:  /admin/users/{page_number}/{sort}
    defaults: { _controller: LoveThatFitAdminBundle:User:index , page_number: 1, sort:id }

admin_user_detail_show:
    pattern:  /admin/user/{id}/show
    defaults: { _controller: LoveThatFitAdminBundle:User:show }
    
admin_users_search:
    pattern:  /admin/user/search
    defaults: { _controller: LoveThatFitAdminBundle:User:search }
    
    