{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
        {% include 'LoveThatFitUserBundle:Profile:_left_navigation.html.twig'%}
{% endblock %}

{% block left_col_btm %}

{% endblock %}

{% block product_slider %}
 

<div id="profile_wrapper">
   
    {% block profile_heading %}
        {% endblock %}
    

<div>
    {% block profile_section %}
        {% endblock %}
</div>

</div>

{% endblock %}

{% block fitting_room %}


{% endblock %}