parameters:
#    love_that_fit_admin.example.class: LoveThatFit\AdminBundle\Example

services:    
     admin.helper.utility:
        class: LoveThatFit\AdminBundle\Entity\UtilityHelper
        
     admin.helper.brand:
        class: LoveThatFit\AdminBundle\Entity\BrandHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Brand
     admin.helper.sizechart:
        class: LoveThatFit\AdminBundle\Entity\SizeChartHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SizeChart
            container: "@service_container"
  
    
            
     admin.helper.clothingtype:
        class: LoveThatFit\AdminBundle\Entity\ClothingTypeHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ClothingType
            
     admin.helper.product:
        class: LoveThatFit\AdminBundle\Entity\ProductHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Product
            container: "@service_container"
     
     admin.helper.productcolor:
        class: LoveThatFit\AdminBundle\Entity\ProductColorHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductColor
            
     admin.helper.productsizes:
        class: LoveThatFit\AdminBundle\Entity\ProductSizeHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductSize
            
            
     mail_helper:
        class:     LoveThatFit\AdminBundle\MailHelper
        arguments: ['@mailer','@templating']
        
     admin.helper.surveyuser:
        class: LoveThatFit\AdminBundle\Entity\SurveyUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyUser
    
     admin.helper.surveyquestion:
        class: LoveThatFit\AdminBundle\Entity\SurveyQuestionHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyQuestion
            
     admin.helper.surveyanswer:
        class: LoveThatFit\AdminBundle\Entity\SurveyAnswerHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyAnswer
         
     admin.helper.productitem:
        class: LoveThatFit\AdminBundle\Entity\ProductItemHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductItem       
            container: "@service_container"
     
     
#    love_that_fit_admin.example:
#        class: %love_that_fit_admin.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
