parameters:
#    love_that_fit_admin.example.class: LoveThatFit\AdminBundle\Example

services:    
     admin.helper.sizechart:
        class: LoveThatFit\AdminBundle\Entity\SizeChartHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SizeChart
            
     mail_helper:
        class:     LoveThatFit\AdminBundle\MailHelper
        arguments: ['@mailer','@templating']
#    love_that_fit_admin.example:
#        class: %love_that_fit_admin.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
