parameters:
#    love_that_fit_admin.example.class: LoveThatFit\AdminBundle\Example

services:    
     kernel.listener.accessDenied:
        class: LoveThatFit\AdminBundle\Component\Event\AccessDeniedListener
        tags:
          - { name: kernel.event_listener, event: kernel.exception, method: onAccessDeniedException }
          
     admin.helper.utility:
        class: LoveThatFit\AdminBundle\Entity\UtilityHelper
     
     admin.helper.general_measurements:
        class: LoveThatFit\AdminBundle\Entity\GeneralMeasurementsHelper    
     
     admin.helper.size:
        class: LoveThatFit\AdminBundle\Entity\SizeHelper    
        
     admin.helper.brand:
        class: LoveThatFit\AdminBundle\Entity\BrandHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Brand
            container: "@service_container"
     admin.fit_model_measurement:
        class: LoveThatFit\AdminBundle\Entity\FitModelMeasurementHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\FitModelMeasurement
            container: "@service_container"            
     admin.helper.sizechart:
        class: LoveThatFit\AdminBundle\Entity\SizeChartHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SizeChart
            container: "@service_container"
  
    
            
     admin.helper.clothingtype:
        class: LoveThatFit\AdminBundle\Entity\ClothingTypeHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ClothingType
            
     admin.helper.product:
        class: LoveThatFit\AdminBundle\Entity\ProductHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Product
            container: "@service_container"
     
     admin.helper.productcolor:
        class: LoveThatFit\AdminBundle\Entity\ProductColorHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductColor
            
     admin.helper.productsizes:
        class: LoveThatFit\AdminBundle\Entity\ProductSizeHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductSize
            container: "@service_container"
     admin.helper.productsizemeasurement:
        class: LoveThatFit\AdminBundle\Entity\ProductSizeMeasurementHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductSizeMeasurement
            container: "@service_container"
            
     mail_helper:
        class:     LoveThatFit\AdminBundle\MailHelper
        arguments: ['@mailer','@templating']
        
     admin.helper.surveyuser:
        class: LoveThatFit\AdminBundle\Entity\SurveyUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyUser
    
     admin.helper.surveyquestion:
        class: LoveThatFit\AdminBundle\Entity\SurveyQuestionHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyQuestion
            
     admin.helper.surveyanswer:
        class: LoveThatFit\AdminBundle\Entity\SurveyAnswerHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SurveyAnswer
         
     admin.helper.productitem:
        class: LoveThatFit\AdminBundle\Entity\ProductItemHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductItem       
            container: "@service_container"
            
     admin.helper.retailer:
        class: LoveThatFit\AdminBundle\Entity\RetailerHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Retailer
            container: "@service_container"

     admin.helper.support:
        class: LoveThatFit\AdminBundle\Entity\SupportAdminUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\SupportAdminUser
            container: "@service_container"
            
     admin.helper.retailer.user:
        class: LoveThatFit\AdminBundle\Entity\RetailerUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\RetailerUser
     
     admin.helper.product.specification:
        class: LoveThatFit\AdminBundle\Entity\ProductSpecificationHelper
    
     admin.helper.brand.specification:
        class: LoveThatFit\AdminBundle\Entity\BrandSpecificationHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\BrandSpecification
            
     admin.helper.product.item.piece:
        class: LoveThatFit\AdminBundle\Entity\ProductItemPieceHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductItemPiece
            
     admin.helper.product.color.view:
        class: LoveThatFit\AdminBundle\Entity\ProductColorViewHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductColorView      
        
     admin.helper.color:
        class: LoveThatFit\AdminBundle\Entity\ColorHelper  
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\Color  
            container: "@service_container"
       
     admin.helper.retailer.site.user:
        class: LoveThatFit\AdminBundle\Entity\RetailerSiteUserHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\RetailerSiteUser  
            container: "@service_container"

     admin.helper.cronNotification:
        class: LoveThatFit\AdminBundle\Entity\CronNotificationHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\CronNotification
            container: "@service_container"

     admin.helper.eventsManagement:
        class: LoveThatFit\AdminBundle\Entity\EventsManagementHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\EventsManagement
            container: "@service_container"
     
     admin.helper.user.mannequin:
        class: LoveThatFit\UserBundle\Entity\MannequinHelper
     
     admin.helper.camera_mask_specs:
        class: LoveThatFit\AdminBundle\DependencyInjection\CameraMaskSpecsHelper         

     admin.helper.device:
        class: LoveThatFit\AdminBundle\DependencyInjection\DeviceHelper
     
     admin.helper.product_specification_mapping:
        class: LoveThatFit\AdminBundle\Entity\ProductSpecificationMappingHelper
        arguments:
            dispatcher: "@event_dispatcher"
            em: "@doctrine.orm.entity_manager"
            class: LoveThatFit\AdminBundle\Entity\ProductSpecificationMapping
            container: "@service_container"
            
     admin.helper.productimagegenrate:
         class: LoveThatFit\AdminBundle\Entity\ProductImageGenrateHelper

#    love_that_fit_admin.example:
#        class: %love_that_fit_admin.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
