{% extends 'LoveThatFitRetailerAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">My Dashboard </li>
{% endblock %}
{% block body %}
<div class="p_listing">
    <h1>My Dashboard</h1>
    {% for b in brands %}   
    
    <div id="dash_brand">
        <span>{{b.name}}</strong></span>  
        <a href="{{ path('retailer_admin_product', {'id': b.Id}) }}" class="retailer_brnd_logo">
            <img src="{{ asset(b.WebPath) }}"/>
        </a> 
        </div>
    {%endfor%}                
 </div>
    {% endblock %}