{% extends 'LoveThatFitUserBundle::base_home_login.html.twig' %}
{% block action_block_content %}
<section class="action_blk lgn_blk">
    <div class="action_cnt">
        <div class="small_custom_heading">Log In</div>
        <form action="{{ path('login_check') }}" method="post">
            <div class="frm_ele">            
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="frm_ele">
                <input type="password" id="password" name="_password" />
                <input type="hidden" name="_target_path" value="/inner_site/index" />
            </div>
            <div class="frm_ele">
                <input id="sbmt_bnt" type="submit" value="Submit" />
            </div>
        </form>
        {% if error %}
        <div class="login_error" >
        <div id="triangle-left"></div>
        <div id="error_content">{{ error.message }}</div>
        
        </div>
{% endif %}
        <ul class="row with_sep">
            <li><a href="#">forgot</a></li>
            <li><a href="#">reset</a></li>
            <li><a href="{{path('registration_step_one')}}">create</a></li>
        </ul>
        <!--/.action_cnt--></div>
    <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
<section class="cnt_btm">
    <h3>How It Works</h3>
    <p>LoveThatFit provides the most realistic shopping experience and allows you to try clothes on like you were shopping in the store.  Mix and match outfits, compare outfits side-by-side, save in your personal closet, and shop with friends.  You can do all this from any computer, laptop or smartphone! LoveThatFit is here to give you the confidence in online shopping until now.</p>
</section>
{% endblock %}

{% block bottom_left_nav %}
<nav class="row">
    <ul class="with_bullet">
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">register</a></li>
    </ul>
</nav>
{% endblock %}