<div id="page_content">
     <h1>ABOUT US</h1>
      <p>{{app_detail.name}} offers the first and only patent-pending platform for visualizing, socializing and acquiring the most desirable fashion apparel and accessories. {{app_detail.name}}'s exciting features revolutionize the way our members ideate, create, share, promote and order their favorite fashion styles. Our members feel better about themselves and their selections while also helping others feel the same</p>
</div>