<div id="page_content">
     <h1>ABOUT US</h1>
      <p>LoveThatFit provides the user the most realistic online shopping experience.  With our technology you can virtually try clothes on your own body, see how they actually look and fit, and shop with friends.  All of this can be done from any computer, laptop or smartphone.  </p>

      <strong style="font-family: MyCustomFontb;">No More Returns</strong>
<p>Tired of returning clothes over and over again because they do not fit or look like what you see online?  Or do you buy multiple sizes, try them on when they get to your home and then return the ones that do not fit?  Well LoveThatFit solves all this so you never have to return clothing again.  Mix and match outfits, compare outfits side-by-side, receive feedback from friends, and get LoveThatFit suggestions anytime and anywhere.  LoveThatFit was created to give you the confidence that has been missing from online shopping until now.  Know that your purchase is going to look and fit great when it arrives at your door!</p> 
<strong style="font-family: MyCustomFontb;">Our Technology</strong>
<p>Our Innovative technology was developed with you in mind. Getting started is easy.  Input basic measurements, upload a full body image of yourself and then start shopping! Our technology is smart. The more you use it, the better it understands you and will be able to offer you suggestions to improve your shopping experience.</p>
</div>