
{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
{%if app.user %}
    {% include 'LoveThatFitUserBundle:Profile:_left_navigation.html.twig'%}
{% endif %}

{% endblock %}

{% block left_col_btm %} 
{% endblock %}

{% block message_block %}

<div id="nopage">Coming Soon</div>

{% endblock %}


