<div id="page_content">
<h1>CONTACT US</h1>               
      <h3>call us</h3>
        <p> Call at 434.989.4043. From outside the United States, please dial 0.434.989.4043 and press 0 to speak with Customer Service. Representative are there to serve you at the following times:</p> 
          <ul>
              <li>Monday through Friday: 8:00 a.m. to 9:00 p.m. EST.</li>
              <li>Saturday: 10:00 a.m. to 6:00 p.m. EST.</li>
              <li>Sunday: 12:00 p.m. to 6:00 p.m. EST.</li>
           </ul>
        <h3>send us an email </h3>
           <p>Email us at <a href="mailto:info@lovethatfit.com">info@lovethatfit.com</a>. Our representative will do their best to respond to your email within 24 hours, and they usually reply in a much shorter time. We look forward to hearing from you.</p>
</div>