<div id="page_content">
     <h1>FAQ's</h1>
     <div>What do I wear for my Fitting Room photo?</div>
     <div>The less the better so you can get a real view of how different pieces of clothing are going to look like on you. Best is underwear and a bra for females and boxer briefs for males. Other options are tight fitting clothing such as sports bras/tanks and spandex shorts/capris.</div>
      <strong style="font-family: MyCustomFontb;">No More Returns</strong>
<p>Tired of returning clothes over and over again because they do not fit or look like what you see online?  Or do you buy multiple sizes, try them on when they get to your home and then return the ones that do not fit?  Well LoveThatFit solves all this so you never have to return clothing again.  Mix and match outfits, compare outfits side-by-side, receive feedback from friends, and get LoveThatFit suggestions anytime and anywhere.  LoveThatFit was created to give you the confidence that has been missing from online shopping until now.  Know that your purchase is going to look and fit great when it arrives at your door!</p> 
<strong style="font-family: MyCustomFontb;">Our Technology</strong>
<p>Our Innovative technology was developed with you in mind. Getting started is easy.  Input basic measurements, upload a full body image of yourself and then start shopping! Our technology is smart. The more you use it, the better it understands you and will be able to offer you suggestions to improve your shopping experience.</p>
</div>