<div id="page_content">
     <h1>FAQ's</h1>
     <div class="qust">What do I wear for my Fitting Room photo?</div>
     <div class="ans">The less the better so you can get a real view of how different pieces of clothing are going to look like on you. Best is underwear and a bra for females and boxer briefs for males. Other options are tight fitting clothing such as sports bras/tanks and spandex shorts/capris.</div>
  
     <div class="qust">Will anyone see my photo in my Fitting Room?</div>
     <div class="ans">No. You are the only that will ever see your fitting room photo. You are able to share outfits you put together and more but no one will ever see your personal photo in your Fitting Room.</div>
  
     <div class="qust">What is more important, my measurements or brand sizes?</div>
     <div class="ans">Measurements are more accurate but you can always add them later under your profile. If you know both, go ahead an enter both during registration. If you are not sure in a brand leave it blank so that we can give you the most accurate Fit. </div>
  
     <div class="qust">How do I get different Fitting Alerts for each clothing size/brand?</div>
     <div class="ans">When you apply the image on your photo, product detail shows up. Just switch the size of the item applied and the Alert will adjust accordingly as well as the size of the item.</div>
  
     <div class="qust">If the item does not Fit, what do I do?</div>
     <div class="ans">If after using LTF and the item still does not fit, please give us feedback under My Profile so we can make any adjustments necessary so that it does not happen again. Make sure to always update your information under My Profile for most accurate Fit. </div>
  
     </div>