<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<title>Congratulations!</title>

<!-- Bootstrap core CSS -->
 <link href="{{ asset('bundles/lovethatfit/web_registration/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ asset('bundles/lovethatfit/web_registration/css/custom.css') }}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/web_registration/js/bootstrap.js') }}">
  </script>
</head>

<body class="request_page_bg">
<div class="container">
  <form class="form-signin" action="#">
    <div class="request">
      <p>Congratulations!</p>
    </div>
    <div><img src="{{ asset('bundles/lovethatfit/web_registration/img/circle_arrow.png') }}" alt="Circle" class="circle" /></div>
    <div class="request_text">
      <p>Your Password has been changed, please login with the new password..</p>
    </div>
    <a class="btn btn-md btn-primary btn-block" href="#signin">I'am ready let's go</a>
  </form>
</div>
<!-- /container -->
</body>
</html>