{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
{%if app.user %}
    {% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation.html.twig'%}
{% endif %}

{% endblock %}

{% block left_col_btm %}
{% endblock %}

{% block product_slider %}

<div class="page_container">
    <div id="hd_image_contact"></div>
{% include 'LoveThatFitSiteBundle:Home:_contactUs.html.twig'%}
</div>
{% endblock %}

{% block fitting_room %}
{% endblock %}

