{% extends 'LoveThatFitUserBundle::base_home_login.html.twig' %}
{% block action_block_content %}
        <section class="action_blk">
            <div class="action_cnt">
                    <div class="small_custom_heading">Let's Get</div>
                <div class="bigger_custom_heading">Started!</div>
                    <h1><a href="{{path('registration_step_one')}}" 1. Create a Profile/<h1>
                <h2>Input your unique measurements for a perfect fit every time.</h2>
                <div class="btm_links">
                    Already a member? <a href="#">Log In</a>
                </div>
            <!--/.action_cnt--></div>
            <nav class="action_btns">
                    <a class="down_btn" href="#">Browse Users</a>
                <a class="down_btn" href="#">Take A Tour</a>
            </nav>
        <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
<section class="cnt_btm">
    <h3>How It Works</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a nisi eu purus sollicitudin consequat porta quis orci. Nunc bibendum volutpat scelerisque. Quisque hendrerit nisl ac enim ultricies auctor. Morbi vitae eros non dui accumsan malesuada. Pellentesque sagittis luctus nunc vel gravida.</p>
</section>
{% endblock %}

{% block bottom_left_nav %}
<nav class="row">
    <ul class="with_bullet">
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">register</a></li>
    </ul>
</nav>
{% endblock %}