{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
                <div class="action_cnt step_1">
                            <div style="margin-top:-40px; padding-bottom: 96px;">
                	{{message}}
                            </div>
                <!--/.action_cnt--></div>
                <!--/<nav class="action_btns">
                	<a class="down_btn" href="#">Browse Users</a>
                    <a class="down_btn" href="#">Take A Tour</a>
                </nav>-->
        <!--/.action_blk--></section>
{% endblock %}



