{% extends 'LoveThatFitUserBundle::base_home_login.html.twig' %}
{% block action_block_content %}
<section class="action_blk">
                <div class="action_cnt">
                	{{message}}
                <!--/.action_cnt--></div>
                <nav class="action_btns">
                	<a class="down_btn" href="#">Browse Users</a>
                    <a class="down_btn" href="#">Take A Tour</a>
                </nav>
        <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
<section class="cnt_btm">
    <h3>How It Works</h3>
    <p>LoveThatFit provides the most realistic shopping experience and allows you to try clothes on like you were shopping in the store.  Mix and match outfits, compare outfits side-by-side, save in your personal closet, and shop with friends.  You can do all this from any computer, laptop or smartphone! LoveThatFit is here to give you the confidence in online shopping until now.</p>
</section>
{% endblock %}

