body {
	padding-top: 52px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
}	

.row-fluid .span1 {
    width: 14.28%!important;
}

[class*="span"] {
    float: left;
    margin-left: 0px!important;
    min-height: 1px;
}

.hds{
	background:#efefef;
	color:#444;
        font-weight: bold;
	padding:5px 0px 0px 0px;
	min-height:40px!important;
}

.hds a{	
	color:#444!important;        
}

.span1 div i{	
	line-height:20px;
	min-height:20px;
	margin-right:10px;	
}

.span3 div i{	
	line-height:20px;
	min-height:20px;
	margin-right:10px;	
}
.row-fluid{
    border-left:1px solid #ccc;	
    border-right:1px solid #ccc;	
}

.p_listing .span1{
    /*width:10.9em!important;*/	
}

.p_listing .row-fluid{
    border-left:0px solid #ccc;	
    border-right:0px solid #ccc;
}

#detail_wrapper .p_title .span1{    
    width:9.88%!important;
}

#detail_wrapper .p_title .span1:last-child{    
    width:11%!important;
}

#detail_wrapper .hds{
	background:#ddd!important;
	color:#333;
	padding:5px 0px 0px 0px;
	min-height:40px!important;
}

.product_main .span1 {
    width: 11.10%!important;
}

#dash_brand{    
    float:left;
}

#dash_brand span{    
    font-weight: bold;
    display: block;
    padding: 10px 0px 5px 0px;
}

#ret_pro_sizes a{    
  width: 50px; 
  float:left; 
  border:1px solid #ccc; 
  text-align:center; 
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
}

.ret_form_btns{
    margin-top: 20px;
    float: right!important;
    margin-right: 160px;    
}

.product_main .span1{
    width:12.5% !important;
}

.mw_col_1 {
    float: left;
    width: 200px;
    margin-right: 4%;
    padding: 0 2% 2%;
}
.mw_col_2 {
    float: left;
    width: 64%;
    display: block;
    min-height: 500px;
    padding-bottom: 40px;
    position: relative;
}
.mw_col_2 form {
    float:left;
}
.mw_col_2 canvas {
}
.txt_rgt {
    padding-top: 10px;
    padding-left: 121px;
}
.mw_txt_label {
    font-weight: bold;
}
#page_wrap {
    position: absolute !important;
}
.duplicate_user_class {
    color:#ff0000;
}

.task_table {
    border-spacing: 0;
    color: #4a4a4d;
    border-collapse: collapse;
    margin-left: 30%;
    width: 30%;
}
.task_table td {
    padding: 10px 15px;
    vertical-align: middle;
}
.task_table td {
    border: 1px solid #cecfd5;
}
.td-green {
    background-color: #009933 !important;
    color: #fff;
}
.td-green-light {
    background-color: #88cc00 !important;
    color: #fff;
}
.td-red {
    background-color: #800000 !important;
    color: #fff;
}
.td-red-light {
    background-color: #ff9999 !important;
    color: #fff;
}
.td-blue {
    background-color: #0066ff !important;
    color: #fff;
}
.td-black {
    background-color: #000;
    color: #fff;
}
.td-orange {
    background-color: #ff9933;
    color: #fff;
}
.task-td-green {
    color: #009933 !important;
    font-weight: bold;
}
.task-td-red {
    color: #800000 !important;
    font-weight: bold;
}
.task-td-blue {
    color: #0066ff !important;
    font-weight: bold;
}

.ajax_loader {
    display : none;
    position : fixed;
    z-index: 100;
    background-image : url('../images/ajax-loader.gif');
    background-color:#333333;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
.button-margin-left {
    margin-left: 10px;
}
.color-red {
    color: #800000;
}