body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
}	

.row-fluid .span1 {
    width: 14.28%!important;
}

[class*="span"] {
    float: left;
    margin-left: 0px!important;
    min-height: 1px;
}

.hds{
	background:#333333;
	color:#fff;
	padding:5px 0px 0px 0px;
	min-height:40px!important;
}

.span1 div i{	
	line-height:20px;
	min-height:20px;
	margin-right:10px;	
}

.span3 div i{	
	line-height:20px;
	min-height:20px;
	margin-right:10px;	
}
.row-fluid{
border-left:1px solid #ccc;	
border-right:1px solid #ccc;	
}

.p_listing .span1{
/*width:10.9em!important;*/	
}

.p_listing .row-fluid{
border-left:0px solid #ccc;	
border-right:0px solid #ccc;
}

#detail_wrapper .p_title .span1{
    
    width:9.88%!important;

}

#detail_wrapper .p_title .span1:last-child{
    
    width:11%!important;

}



#detail_wrapper .hds{
	background:#ddd!important;
	color:#333;
	padding:5px 0px 0px 0px;
	min-height:40px!important;
}

.product_main .span1 {
    width: 11.10%!important;
}


